body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #f9f9f9;
}

.header {
    padding-top: 100px;
}

h1 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    margin-bottom: 12px;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

.input-group {
    width: 100%;
    margin-bottom: 18px;
}

label {
    font-weight: normal;
}

.btn {
    margin-top: 20px;
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}