<div class="context-section">
  <div *ngIf="isUpdating" class="loading-container">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>

  <mat-card class="pt-4 pb-2">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card class="mb-2">
      <mat-card-content class="mat-card-container">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input [(ngModel)]="moduleSet.name" data-id="moduleSet.name" matInput maxlength="100" required
                 [disabled]="!roles.includes('developer')"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea [(ngModel)]="moduleSet.description" cols="30" data-id="moduleSet.description" matInput
                    rows="6" [disabled]="!roles.includes('developer')"></textarea>
        </mat-form-field>
        <div class="row action-group m-0">
          <div class="col-12 actions-wrap">
            <button (click)="updateModuleSet()" [disabled]="!roles.includes('developer') || !canUpdate"
                    class="float-right"
                    color="primary"
                    mat-raised-button>Update
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card>

  <mat-card class="mt-4">
    <mat-card-header>
      <mat-card-title>
        <div>
          <span>Modules</span>
          <span class="pl-2" style="font-size: 14px;">(Total directory: {{ moduleSetMetadata.numberOfDirectories }}, Total file: {{ moduleSetMetadata.numberOfFiles }})</span>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card class="mb-2">
      <mat-card-content class="mat-card-container">
        <div class="finder-wrapper">
          <div class="finder-content">
            <div *ngFor="let tile of tiles;" class="finder-grid">
              <div class="finder-grid-left">
                <div *ngFor="let element of tile.elements" class="grid-element">
                  <div (click)="onClickElement(tile, element)"
                       [ngClass]="{'grid-element-content': true, 'selected': tile.current === element}">
                    <mat-icon *ngIf="element.directory" class="float-left" inline=true>folder_open</mat-icon>
                    <mat-icon *ngIf="!element.directory" class="float-left" inline=true>insert_drive_file</mat-icon>
                    <div class="float-left element-title">
                      <span>{{element.name}}</span>
                    </div>
                    <mat-icon *ngIf="roles.includes('developer')"
                              (click)="openEditDialog(element, tile)" [inline]="true" class="element-edit-icon">edit
                    </mat-icon>
                  </div>
                </div>
                <div class="grid-element" *ngIf="roles.includes('developer')">
                  <div (click)="openAddDialog(tile)" class="grid-element-content">
                    <mat-icon class="float-left" inline=true>add</mat-icon>
                    <div class="float-left element-title">
                      <span>Add</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card>
</div>
