.filter-container {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.option-header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.option-body {
  padding-top: 13px;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.mat-card-content p {
  font-family: 'Roboto', 'sans-serif';
  margin-bottom: 0.5rem;
}

.mat-card-content {
  margin-bottom: 0;
}

.mat-column-namespaceUri {
  width: 25%;
}

.mat-column-assigned {
  width: 100px;
}

.mat-column-lastUpdateTimestamp {
  width: 160px;
}

.selected {
  background-color: aliceblue;
}

.grid-element-content {
  display: block;
  overflow-x: hidden;
}

.finder-wrapper {
  width: 100%;
  min-height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
}

.finder-content {
  height: 400px;
  display: inline-flex;
}

.finder-grid {
  display: inline-flex;
}

.finder-grid-left {
  width: 300px;
  overflow-y: scroll;
}

.grid-element {
  cursor: pointer;
  padding: 3px;
}

.element-title {
  padding-left: 3px;
  display: flex;
}

.element-title > span {
  width: 240px;
}

.grid-element-content > mat-icon.element-edit-icon {
  visibility: hidden;
  cursor: pointer;
  float: right;
  margin-right: 3px;
}

.grid-element-content:hover > mat-icon.element-edit-icon {
  visibility: visible;
  cursor: pointer;
  float: right;
  margin-right: 3px;
}
