<div class="context-section">
  <div *ngIf="isUpdating" class="loading-container">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>

  <mat-card class="pt-4 pb-2">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card class="mb-2">
      <mat-card-content class="mat-card-container">
        <mat-form-field>
          <mat-label>Module Set</mat-label>
          <mat-select [(ngModel)]="moduleSetRelease.moduleSetId" [disabled]="true">
            <ngx-mat-select-search [formControl]="moduleSetListFilterCtrl"
                                   [noEntriesFoundLabel]="'No matching release found.'"
                                   [placeholderLabel]="'Search...'"></ngx-mat-select-search>
            <mat-option *ngFor="let moduleSet of filteredModuleSetList | async" [value]="moduleSet.moduleSetId">
              {{ moduleSet.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Release</mat-label>
          <mat-select [(ngModel)]="moduleSetRelease.releaseId" [disabled]="true">
            <ngx-mat-select-search [formControl]="releaseListFilterCtrl"
                                   [noEntriesFoundLabel]="'No matching release found.'"
                                   [placeholderLabel]="'Search...'"></ngx-mat-select-search>
            <mat-option *ngFor="let release of filteredReleaseList | async" [value]="release.releaseId">
              <div class="d-flex">
                <span class="release-num">{{release.releaseNum}}</span>
                <span *ngIf="release.releaseNum !== 'Working'"
                      class="f12 ml-auto {{release.state}}">
                        {{ release.state | separate }}
                      </span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="moduleSetRelease.default" [disabled]="role !== 'developer'">Default</mat-checkbox>
      </mat-card-content>
    </mat-card>
  </mat-card>

  <div class="row action-group m-0" *ngIf="role === 'developer'">
    <div class="col-12 actions-wrap">
      <button (click)="updateModuleSetRelease()" [disabled]="!isChanged" color="primary"
              mat-raised-button>
        Update
      </button>

      <button (click)="exportScheme()" color="primary" mat-raised-button>
        Export
      </button>

      <button (click)="assignCCs()" color="primary" mat-raised-button>
        Assign CCs
      </button>
    </div>
  </div>
</div>
