<div class="context-section">
  <div *ngIf="isUpdating" class="loading-container">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  <div class="pl-2 pr-2">
    <mat-toolbar class="bg-white">
      <span class="title">{{ title }}</span>
      <span class="flex-11-auto"></span>
    </mat-toolbar>
  </div>

  <div class="p-3">
    <mat-card>
      <mat-card-content class="mat-card-container">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="moduleSetRelease.name" maxlength="100"
                [disabled]="!roles.includes('developer')">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea [(ngModel)]="moduleSetRelease.description"
                    [disabled]="!roles.includes('developer')"
                    cols="30" data-id="moduleSetRelease.description" matInput
                    rows="6"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Module Set</mat-label>
          <mat-select [(ngModel)]="moduleSetRelease.moduleSet.moduleSetId" [disabled]="true">
            <mat-option>
              <ngx-mat-select-search [formControl]="moduleSetListFilterCtrl"
                                     [noEntriesFoundLabel]="'No matching release found.'"
                                     [placeholderLabel]="'Search...'"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let moduleSet of filteredModuleSetList | async" [value]="moduleSet.moduleSetId">
              {{ moduleSet.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Release</mat-label>
          <mat-select [(ngModel)]="moduleSetRelease.release.releaseId" [disabled]="true">
            <mat-option>
              <ngx-mat-select-search [formControl]="releaseListFilterCtrl"
                                     [noEntriesFoundLabel]="'No matching release found.'"
                                     [placeholderLabel]="'Search...'"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let release of filteredReleaseList | async" [value]="release.releaseId">
              <div class="d-flex">
                <span class="release-num">{{release.releaseNum}}</span>
                <span *ngIf="!release.workingRelease"
                      class="f12 ml-auto {{release.state}}">
                        {{ release.state | separate }}
                      </span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="moduleSetRelease.isDefault" [disabled]="!roles.includes('developer')">Default</mat-checkbox>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row action-group m-0">
    <div class="col-12 actions-wrap">
      <button (click)="updateModuleSetRelease()"
              *ngIf="roles.includes('developer')"
              [disabled]="updateDisabled" color="primary"
              mat-raised-button>
        Update
      </button>

      <button (click)="validateSchemas()"
              color="accent" mat-raised-button>
        Validate
      </button>

      <button (click)="exportSchemas()"
              color="primary" mat-raised-button>
        Export
      </button>

      <button (click)="assignCCs()"
              color="primary" mat-raised-button>
        {{ roles.includes('developer') ? 'Assign CCs' : 'View Assigned CCs' }}
      </button>
    </div>
  </div>
</div>
