<div class="context-section">
  @if (isUpdating) {
    <div class="loading-container">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
  }
  <div class="ps-2 pe-2">
    <mat-toolbar class="bg-white">
      <span class="title">{{ title }}</span>
      <span class="flex-11-auto"></span>
    </mat-toolbar>
  </div>

  <div class="p-3">
    <mat-card>
      <mat-card-content class="mat-card-container">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="moduleSetRelease.name" maxlength="100"
            [disabled]="!roles.includes('developer')">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea [(ngModel)]="moduleSetRelease.description"
            [disabled]="!roles.includes('developer')"
            cols="30" data-id="moduleSetRelease.description" matInput
          rows="6"></textarea>
        </mat-form-field>

        @if (moduleSetRelease.moduleSet) {
          <mat-form-field>
            <mat-label>Module Set</mat-label>
            <mat-select [(ngModel)]="moduleSetRelease.moduleSet.moduleSetId" [disabled]="true">
              <mat-option>
                <ngx-mat-select-search [formControl]="moduleSetListFilterCtrl"
                  [noEntriesFoundLabel]="'No matching release found.'"
                [placeholderLabel]="'Search...'"></ngx-mat-select-search>
              </mat-option>
              @for (moduleSet of filteredModuleSetList | async; track moduleSet) {
                <mat-option [value]="moduleSet.moduleSetId">
                  {{ moduleSet.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }

        @if (moduleSetRelease.release) {
          <mat-form-field>
            <mat-label>Release</mat-label>
            <mat-select [(ngModel)]="moduleSetRelease.release.releaseId" [disabled]="true">
              <mat-option>
                <ngx-mat-select-search [formControl]="releaseListFilterCtrl"
                  [noEntriesFoundLabel]="'No matching release found.'"
                [placeholderLabel]="'Search...'"></ngx-mat-select-search>
              </mat-option>
              @for (release of filteredReleaseList | async; track release) {
                <mat-option [value]="release.releaseId">
                  <div class="d-flex">
                    <span class="release-num">{{release.releaseNum}}</span>
                    @if (!release.workingRelease) {
                      <span
                        class="f12 ms-auto {{release.state}}">
                        {{ release.state | separate }}
                      </span>
                    }
                  </div>
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }

        <mat-checkbox [(ngModel)]="moduleSetRelease.isDefault" [disabled]="!roles.includes('developer')">Default</mat-checkbox>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row action-group m-0">
    <div class="col-12 actions-wrap">
      @if (roles.includes('developer')) {
        <button (click)="updateModuleSetRelease()"
          [disabled]="updateDisabled" color="primary"
          mat-raised-button>
          Update
        </button>
      }

      <button [matMenuTriggerFor]="validateMenu"
        color="accent" mat-raised-button>
        Validate
      </button>
      <mat-menu #validateMenu="matMenu">
        <button mat-menu-item (click)="validateSchemas('XML')">XML Schema</button>
        <button mat-menu-item (click)="validateSchemas('JSON')">JSON Schema</button>
      </mat-menu>

      <button [matMenuTriggerFor]="exportMenu"
        color="primary" mat-raised-button>
        Export
      </button>
      <mat-menu #exportMenu="matMenu">
        <button mat-menu-item (click)="exportSchemas('XML')">XML Schema</button>
        <button mat-menu-item (click)="exportSchemas('JSON')">JSON Schema</button>
      </mat-menu>

      <button (click)="assignCCs()"
        color="primary" mat-raised-button>
        {{ roles.includes('developer') ? 'Assign CCs' : 'View Assigned CCs' }}
      </button>
    </div>
  </div>
</div>
