<div class="d-flex justify-content-center">
  @if (loading) {
    <div class="loading-container">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
  }
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-tab-group>
          <mat-tab label="Diagram">
            <div class="content-wrapper">
              <div class="content overflow-container" [innerHTML]="sanitizedSvgContent">
              </div>
            </div>
          </mat-tab>
          <mat-tab label="PlantUML">
            <div class="plantuml-container">
              @if (!!plantUmlTxt) {
                <pre>
                  @for (line of plantUmlTxt.split('\n'); track line) {
                    <span>{{ line | replaceAll: '\t' : '   ' }}</span>
                  }
                </pre>
              }
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
