.mat-dialog-content {
  display: flex;
  flex-direction: row;
  max-height: none;
}


.mat-mdc-card-container .mat-mdc-card {
  margin-right: 10px;
  margin-top: 3px;
}

.mat-mdc-card-container .mat-mdc-card:last-child {
  margin-top: 3px;
}
