<mat-card style="box-shadow: none; padding: 0;">
  <mat-card-header>
    <mat-card-title>{{ actionName }} Business Context Value</mat-card-title>
  </mat-card-header>
</mat-card>

<mat-dialog-content class="mat-card-container">
  <mat-card style="margin-bottom: 24px;">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Context Category</mat-label>
        <mat-select placeholder="Context Category" required
                    [(ngModel)]="bizCtxValue.ctxCategoryId" (selectionChange)="onCtxCategoryChange()">
          <mat-option *ngFor="let ctxCategory of ctxCategories" [value]="ctxCategory.ctxCategoryId">
            {{ ctxCategory.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Context Scheme</mat-label>
        <mat-select [disabled]="bizCtxValue.ctxCategoryId === undefined" placeholder="Context Scheme" required
                    [(ngModel)]="bizCtxValue.ctxSchemeId" (selectionChange)="onCtxSchemeChange()">
          <mat-option *ngFor="let ctxScheme of ctxSchemes" [value]="ctxScheme.ctxSchemeId"
                      matTooltip="Scheme ID: {{ ctxScheme.schemeId }}, Agency ID: {{ ctxScheme.schemeAgencyId }}, Version ID: {{ ctxScheme.schemeVersionId }}">
            {{ ctxScheme.schemeName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Context Scheme Value</mat-label>
        <mat-select [disabled]="bizCtxValue.ctxSchemeId === undefined" placeholder="Context Scheme Value" required
                    [(ngModel)]="bizCtxValue.ctxSchemeValueId" (selectionChange)="onCtxSchemeValueChange()">
          <mat-option *ngFor="let ctxSchemeValue of ctxSchemeValues" [value]="ctxSchemeValue.ctxSchemeValueId"
                      matTooltip="Meaning: {{ ctxSchemeValue.meaning }}">
            {{ ctxSchemeValue.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary"
          [disabled]="!isChanged() || isDisabled()"
          [mat-dialog-close]="bizCtxValue" >
    <mat-icon>{{ (actionName === 'Add') ? 'add' : 'save' }}</mat-icon>
    {{ actionName }}
  </button>
</mat-dialog-actions>
