<div *ngIf="isUpdating" class="loading-container">
  <mat-spinner [diameter]="40"></mat-spinner>
</div>

<div class="d-block">
  <div class="header d-flex align-items-center" mat-dialog-title>
    <span>Edit '{{title}}' {{(element.directory) ? 'directory' : 'file'}}</span>
    <div class="close pr-2">
      <button mat-icon-button mat-small-icon-button (click)="onNoClick()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="content" mat-dialog-content>
    <div *ngIf="!element.directory">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input [(ngModel)]="element.name" data-id="module.name" matInput maxlength="100" required/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Namespace</mat-label>
        <mat-select data-id="module.namespace" placeholder="Namespace"
                    [(ngModel)]="element.namespaceId">
          <mat-option>
            <ngx-mat-select-search [formControl]="namespaceListFilterCtrl"
                                   [placeholderLabel]="'Search...'"
                                   [noEntriesFoundLabel]="'No matching namespace found.'"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let namespace of filteredNamespaceList | async" [value]="namespace.namespaceId">
            {{ namespace.uri }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Version</mat-label>
        <input [(ngModel)]="element.versionNum" data-id="module.versionNum" matInput maxlength="100"/>
      </mat-form-field>
    </div>
    <div *ngIf="element.directory">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input [(ngModel)]="element.name" data-id="moduleDir.name" matInput maxlength="100" required/>
      </mat-form-field>
    </div>
  </div>
  <div class="actions ml-auto" mat-dialog-actions>
    <button (click)="cancel()" color="warn" mat-raised-button>
      <mat-icon>close</mat-icon>
      Cancel
    </button>
    <button (click)="onUpdateElement()" color="primary" mat-raised-button
            [disabled]="!canUpdate()">
      <mat-icon>check</mat-icon>
      Update
    </button>

    <button mat-raised-button class="float-right" color="accent" (click)="deleteModule()">
      <mat-icon>delete</mat-icon>
      Discard
    </button>
  </div>
</div>
