<div class="context-section">
  <div class="pl-2 pr-2">
    <mat-toolbar class="bg-white d-flex flex-column align-items-start">
      <span class="title">{{ title }}</span>
      <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
    </mat-toolbar>
  </div>

  <mat-card class="pt-3">
    <score-search-bar placeholder="Business Term"
                      [(model)]="request.filters.businessTerm"
                      (modelChange)="onChange('filters.businessTerm', request.filters.businessTerm);"
                      (search)="onSearch();">
      <div advancedSearchContent style="padding-left: 3rem;">
        <mat-card-content class="mat-card-container">
          <div class="container-fluid" style="padding: 0;">
            <div class="row">
              <div class="col-md-2 col-sm-12">
                <mat-form-field>
                  <mat-label>Updater</mat-label>
                  <mat-select [(ngModel)]="request.updaterUsernameList" multiple>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="updaterIdListFilterCtrl"
                                             [placeholderLabel]="'Search...'"
                                             [noEntriesFoundLabel]="'No matching updater found.'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let loginId of filteredUpdaterIdList | async" [value]="loginId">
                      {{loginId}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-2 col-sm-12 d-flex">
                <mat-form-field>
                  <mat-label>Updated start date</mat-label>
                  <input matInput [matDatepicker]="dateStart" placeholder="Updated start date"
                         [max]="request.updatedDate.end"
                         (dateInput)="onDateEvent('startDate', $event)">
                  <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
                  <mat-datepicker #dateStart></mat-datepicker>
                </mat-form-field>
                <div class="mat-form-field-wrapper" style="width: 14px; padding-bottom: 4px;">
                  <div class="mat-form-field-flex">
                    <div class="mat-form-field-infix">
                      <mat-icon class="datepicker-cancel" (click)="reset('startDate')">cancel</mat-icon>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-2 col-sm-12 d-flex">
                <mat-form-field>
                  <mat-label>Updated end date</mat-label>
                  <input matInput [matDatepicker]="dateEnd" placeholder="Updated end date"
                         [min]="request.updatedDate.start"
                         (dateInput)="onDateEvent('endDate', $event)">
                  <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
                  <mat-datepicker #dateEnd></mat-datepicker>
                </mat-form-field>
                <div class="mat-form-field-wrapper" style="width: 14px; padding-bottom: 4px;">
                  <div class="mat-form-field-flex">
                    <div class="mat-form-field-infix">
                      <mat-icon class="datepicker-cancel" (click)="reset('endDate')">cancel</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-fluid" style="padding: 0;">
              <div class="row">
                <div class="col-md-2 col-sm-12">
                  <mat-form-field>
                    <mat-label>External Reference URI</mat-label>
                    <input matInput [(ngModel)]="request.filters.externalReferenceUri"
                           (ngModelChange)="onChange('filters.externalReferenceUri', request.filters.externalReferenceUri)"
                           (keyup.enter)="this.onSearch();"
                           placeholder="External Reference URI">
                  </mat-form-field>
                </div>
                <div class="col-md-2 col-sm-12">
                  <mat-form-field>
                    <mat-label>External Reference ID</mat-label>
                    <input matInput [(ngModel)]="request.filters.externalReferenceId"
                           (ngModelChange)="onChange('filters.externalReferenceId', request.filters.externalReferenceId)"
                           (keyup.enter)="this.onSearch();"
                           placeholder="External Reference ID">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="container-fluid" style="padding: 0;">
              <div class="row">
                <div class="col-md-2 col-sm-12">
                  <div class="checkbox">
                    <mat-checkbox color="primary"
                                  data-id="request.searchByCC"
                                  [(ngModel)]="request.filters.searchByCC">
                      Filter by same CC
                    </mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </div>
    </score-search-bar>

    <mat-card-content class="mat-card-container">
      <div class="loading-container" *ngIf="loading">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>

      <div class="table-container">
        <div class="mat-elevation-z1 table-wrapper">
          <table mat-table multiTemplateDataRows
                 matSort [matSortActive]="sort.active" [matSortDirection]="sort.direction" [matSortStart]="'desc'"
                 [dataSource]="dataSource">

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" [disabled]="row.used"
                              matTooltip="It is currently in use by another component."
                              [matTooltipDisabled]="!row.used"
                              (change)="$event ? toggle(row) : null"
                              [checked]="isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="businessTerm">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  score-table-column-resize [defaultWidth]="width('Business Term')" (onResize)="onResizeWidth($event)"> Business Term</th>
              <td mat-cell *matCellDef="let element">
                <a target="_blank" rel="noopener noreferrer"
                   href="/business_term_management/business_term/{{ element.businessTermId }}">
                  <span>{{ element.businessTerm }}</span>
                  <div class="description ellipsis">
                    {{ element.guid }}
                  </div>
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="externalReferenceUri">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  score-table-column-resize [defaultWidth]="width('External Reference URI')" (onResize)="onResizeWidth($event)"> External Reference URI</th>
              <td mat-cell *matCellDef="let element"> {{ element.externalReferenceUri }}</td>
            </ng-container>

            <ng-container matColumnDef="externalReferenceId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  score-table-column-resize [defaultWidth]="width('External Reference ID')" (onResize)="onResizeWidth($event)"> External Reference ID</th>
              <td mat-cell *matCellDef="let element"> {{ element.externalReferenceId }}</td>
            </ng-container>

            <ng-container matColumnDef="definition">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  score-table-column-resize [defaultWidth]="width('Definition')" (onResize)="onResizeWidth($event)"> Definition</th>
              <td mat-cell *matCellDef="let element">
                <div class="ellipsis">{{ element.definition }}</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="lastUpdateTimestamp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  score-table-column-resize [defaultWidth]="width('Updated On')" (onResize)="onResizeWidth($event)"> Updated on</th>
              <td mat-cell *matCellDef="let element">
                <div class="ellipsis">{{ element.lastUpdateTimestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
                <div class="description"><span class="pr-1">by</span><b>{{ element.lastUpdatedBy.username }}</b></div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="toggle(row)"></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[10, 25, 50]"
            (page)="onPageChange($event)"
            showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-card-content>

    <mat-card class="mt-3">
      <mat-card-content class="mat-card-container">
        <mat-form-field>
          <mat-label>Type Code</mat-label>
          <input matInput [(ngModel)]="postAssignBtObj.typeCode" maxlength="45"/>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="postAssignBtObj.primaryIndicator">
          Preferred Business Term
        </mat-checkbox>
      </mat-card-content>
    </mat-card>
  </mat-card>

  <div class="row action-group m-0">
    <div class="col-12 actions-wrap">
      <div class="actions">
        <button mat-raised-button color="warn" (click)="back()"
                [disabled]="loading">
          Back
        </button>
        <button mat-raised-button color="primary" (click)="create()"
                [hidden]="dataSource.data.length == 0"
                [disabled]="isCreateDisabled()">
          Create
        </button>
      </div>
    </div>
</div>





