.filter-container {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.option-header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.option-body {
  padding-top: 13px;
}

.cc-types-checkbox {
  padding-right: 10px;
}

.cc-types-button {
  padding-right: 5px;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.mat-card-content p {
  font-family: 'Roboto', 'sans-serif';
}

.module .mat-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-right: 6px;
}

.mat-icon-button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  outline: none;
}

.mat-column-type {
  width: 110px;
}

.mat-column-revision {
  width: 70px;
}

.mat-column-release {
  width: 70px;
}

.mat-column-businessContexts {
  width: 10%;
}

.mat-column-businessContexts .businessContext:not(:last-child)::after {
  content: ', ';
}

.mat-column-version, .mat-column-status {
  width: 5%;
}

.mat-column-bizTerm {
  width: 10%;
}

.mat-column-remark {
  width: 12%;
}

.mat-column-state {
  width: 100px;
}

.mat-column-owner {
  width: 140px;
  font-size: 13px;
}

.mat-column-lastUpdateTimestamp {
  width: 160px;
}

.mat-column-more {
  width: 40px;
}

.den {
  font-size: 13px;
}

.mat-column-module {
  width: 15%;
  font-size: 13px;
  padding-right: 12px;
}

.element-detail {
  font-size: 12px;
}

.bie-guid {
  font-size: 11px !important;
  color: #767676 !important;
}

.f12 {
  font-size: 12px;
}
