### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.vscode/settings.json
docs/user_guide/_build

###
docker-compose.yml
/docs
misc
ql-test
*.sql
# but keep Flyway migration scripts under version control
!score-http/src/main/resources/db/migration/*.sql
hr_open
hr_open_standards
b2mml
agxml*
Chem*
