.idea/*
*.iml
*.class
target
target/**
build/*
bin/*
tmp/*
/bin/
.settings/*
.classpath
.project
docker-compose.yml
/target/
logs/*

data/Model
Dockerfile
docker-compose.yaml
*.zip
~$*
*schematron*
*.bak
*-mysql.sql