tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.mat-column-release {
  width: 70px;
}

.mat-column-version, .mat-column-status {
  width: 100px;
}

.mat-column-state {
  width: 90px;
}

.mat-column-owner {
  width: 5%;
}

.mat-column-lastUpdateTimestamp {
  width: 160px;
}
