tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.bie-guid {
  font-size: 11px !important;
  color: #767676 !important;
}

.bie-source, .bie-based {
  font-size: 11px !important;
  color: #767676 !important;
}

.mat-column-businessContexts .businessContext:not(:last-child)::after {
  content: ', ';
}

.mat-column-owner {
  font-size: 13px;
}

.branch-selector-container {
  margin-bottom: 1rem;
  padding-left: 4rem;
  padding-bottom: 0;
}
