<div class="context-section">
  <div class="pl-2 pr-2">
    <mat-toolbar class="bg-white">
      <span class="title">{{ title }}</span>
      <span class="flex-11-auto"></span>
    </mat-toolbar>
  </div>

  <div class="p-3">
    <mat-card>
      <mat-card-content class="mat-card-container">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput required [(ngModel)]="businessContext.name" maxlength="100"/>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="p-3">
    <mat-toolbar class="bg-white">
      <span class="title">Business Context Values</span>
    </mat-toolbar>
    <mat-card>
      <mat-card-content class="mat-card-container">
        <div class="table-container">
          <div class="score-column-container align-items-center justify-content-between">
            <score-column-selector
              [columns]="columns"
              (columnsChange)="onColumnsChange($event)"
              (onReset)="onColumnsReset()">
            </score-column-selector>
          </div>
          <div class="mat-elevation-z1 table-wrapper mt-3">
            <table mat-table matSort [dataSource]="dataSource">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? toggle(row) : null"
                                [checked]="isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="contextCategoryName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    score-table-column-resize [defaultWidth]="width('Context Category')" (onResize)="onResizeWidth($event)"> Context Category</th>
                <td mat-cell *matCellDef="let element">
                  <span class="word-break-all">{{ element.contextCategoryName }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="contextSchemeName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    score-table-column-resize [defaultWidth]="width('Context Scheme')" (onResize)="onResizeWidth($event)"> Context Scheme</th>
                <td mat-cell *matCellDef="let element">
                  <span class="word-break-all">{{ element.contextSchemeName }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="contextSchemeValue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    score-table-column-resize [defaultWidth]="width('Context Scheme Value')" (onResize)="onResizeWidth($event)"> Context Scheme Value</th>
                <td mat-cell *matCellDef="let element">
                  <span>{{ element.contextSchemeValue }}</span>
                  <div class="description word-break-all">
                    {{ element.contextSchemeValueMeaning }}
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                  (click)="openDialog(row)"></tr>
            </table>

            <mat-paginator
              [pageSizeOptions]="[10, 25, 50]"
              showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions style="padding: 16px 0 0 0;">
        <button mat-raised-button (click)="openDialog()" color="primary">
          <mat-icon>add</mat-icon>
          Add
        </button>
        <button mat-raised-button (click)="removeBizCtxValues()" class="ml-2"
                [hidden]="dataSource.data.length == 0"
                [disabled]="this.selection.selected.length == 0"
                color="warn">
          <mat-icon>delete</mat-icon>
          Remove
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="row action-group m-0">
    <div class="col-12 actions-wrap">
      <div class="actions">
        <button mat-raised-button color="primary" (click)="create()"
                [disabled]="isDisabled(businessContext)">
          Create
        </button>
      </div>
    </div>
  </div>
</div>
