<mat-card class="search-box">
  <div class="main-search">
    <ng-content select="[branchSelector]"></ng-content>
    <button mat-icon-button type="submit" (click)="onSearch()">
      <mat-icon matPrefix>search</mat-icon>
    </button>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="model"
             (ngModelChange)="onModelChange(model)"
             (keyup.enter)="onSearch()"
             placeholder="Search"
             [disabled]="disabled"/>
    </mat-form-field>
    <button mat-icon-button *ngIf="advancedSearch"
            [matTooltip]="(showAdvancedSearch ? 'Hide' : 'Show') + ' Advanced Search'"
            (click)="toggleAdvancedSearch()">
      <mat-icon>{{ showAdvancedSearch ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
    </button>
  </div>

  <div class="advanced-search" *ngIf="showAdvancedSearch">
    <ng-content select="[advancedSearchContent]"></ng-content>  <!-- Placeholder for advanced search content -->
  </div>
</mat-card>
