<div class="d-flex align-items-center">
  @if (title) {
    <div class="d-flex flex-column">
      <span class="title">{{ title }}</span>
      @if (subtitle) {
        <span class="subtitle f14">{{ subtitle }}</span>
      }
    </div>
  }
  @if (title) {
    <span class="library-divider ps-2 pe-2">|</span>
  }
  <score-column-selector [title]="selectedLibrary ? selectedLibrary.name : '-'"
    [classes]="['f12', 'font-weight-bold']"
    [columns]="filterLibraries"
    [draggable]="false"
    [multiple]="false"
    (columnsChange)="onFilterLibraryChange($event)">
  </score-column-selector>
</div>
