<div class="context-section">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>

    <mat-card>
      <mat-card-content class="mat-card-container">
        <mat-form-field *ngIf="codeList.basedCodeListId !== undefined">
          <mat-label>Based Code List</mat-label>
          <input matInput required data-id="codeList.basedCodeList" [(ngModel)]="codeList.basedCodeListName"
                 maxlength="100" [disabled]="true"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput required data-id="codeList.name" [(ngModel)]="codeList.codeListName" maxlength="100"
                 [disabled]="codeList.state !== 'Editing'"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>List ID</mat-label>
          <input matInput required data-id="codeList.listId" [(ngModel)]="codeList.listId" maxlength="100"
                 [disabled]="codeList.state !== 'Editing'"/>
        </mat-form-field>

        <mat-form-field>
          <mat-select data-id="codeList.agencyId" [(ngModel)]="codeList.agencyId" placeholder="Agency ID" required
                      [disabled]="codeList.state !== 'Editing'">
            <mat-option *ngFor="let agencyIdListValue of agencyIdListValues"
                        [value]="agencyIdListValue.agencyIdListValueId">
              {{ agencyIdListValue.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Version</mat-label>
          <input matInput required data-id="codeList.version" [(ngModel)]="codeList.versionId" maxlength="10"
                 [disabled]="codeList.state !== 'Editing'"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Definition</mat-label>
          <textarea rows="6" cols="30" matInput data-id="codeList.definition" [(ngModel)]="codeList.definition"
                    [disabled]="codeList.state !== 'Editing'"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Definition Source</mat-label>
          <input matInput data-id="codeList.definitionSource" [(ngModel)]="codeList.definitionSource" maxlength="100"
                 [disabled]="codeList.state !== 'Editing'"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Remark</mat-label>
          <input matInput data-id="codeList.remark" [(ngModel)]="codeList.remark" maxlength="225"
                 [disabled]="codeList.state !== 'Editing'"/>
        </mat-form-field>

        <div class="row" style="padding: 14px 0 22px 0;">
          <div class="col-12">
            <mat-checkbox color="primary"
                          data-id="codeList.extensible" [(ngModel)]="codeList.extensible"
                          [disabled]="codeList.state !== 'Editing'">
              <span>Extensible</span>
            </mat-checkbox>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Code List Values</mat-card-title>
    </mat-card-header>

    <mat-card>
      <mat-card-content class="mat-card-container">
        <div class="mat-elevation-z1">
          <table mat-table matSort [dataSource]="dataSource">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [disabled]="codeList.state !== 'Editing'"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              [disabled]="!isAvailable(row)"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Code</th>
              <td mat-cell *matCellDef="let element">
                <span class="{{ color(element) }}">{{ element.value }}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Short Name</th>
              <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="definition">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Definition</th>
              <td mat-cell *matCellDef="let element"> {{ element.definition }}</td>
            </ng-container>

            <ng-container matColumnDef="definitionSource">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Definition Source</th>
              <td mat-cell *matCellDef="let element"> {{ element.definitionSource }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="openDialog(row)"></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[10, 25, 50]"
            showFirstLastButtons></mat-paginator>
        </div>

      </mat-card-content>

      <mat-card-actions style="padding: 8px 0 8px 12px;" *ngIf="codeList.state === 'Editing'">
        <button mat-raised-button (click)="openDialog()" color="primary" [disabled]="isDisabled(codeList)">
          <mat-icon>add</mat-icon>
          Add
        </button>
        <button mat-raised-button (click)="removeCodeListValues()" [hidden]="dataSource.data.length == 0"
                [disabled]="isDisabled(codeList) || this.selection.selected.length == 0"
                color="warn">
          <mat-icon>delete</mat-icon>
          Remove
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-card>

  <mat-card>
    <mat-card-actions class="fab-container">
      <button mat-mini-fab color="warn" (click)="back()"
              [disabled]="!basedCodeList">
        <mat-icon matTooltip="Back">reply</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="create()"
              *ngIf="codeList.state === 'Editing'"
              [disabled]="!isChanged() || isDisabled(codeList)">
        <mat-icon matTooltip="{{ basedCodeList ? 'Derive' : 'Create' }}">create
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
