.mat-column-ccType {
  width: 5% !important;
}

.mat-column-displayPath {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}

.display-path-content {
  display: flex;
  flex-direction: column;
}

.mat-column-reuse {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-match {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.header {
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  font-family: 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .1px;
  line-height: 24px;
  padding-top: 8px;
  height: auto;
  left: 0;
  top: 0;
  width: 100%;
}

.close {
  position: relative;
  margin-left: auto;
  left: 12px;
}

.close button {
  outline: none;
}

.content {
  max-height: 88vh !important;
}

.actions {
  bottom: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  opacity: 1;
  padding: 0 24px;
}

