<div class="context-section">
  <div class="pl-2 pr-2">
    <mat-toolbar class="bg-white">
      <span class="title">{{ title }}</span>
      <span class="flex-11-auto"></span>
    </mat-toolbar>
  </div>

  <div class="p-3">
    <mat-card class="mb-2">
      <mat-card-content class="mat-card-container">
        <div *ngIf="isLinkOauth2()" class="detail-pending">
          <h4 class="mb-2"> Pending Account Information</h4>
          <div class="row">
            <div class="col-3" *ngIf="pending.name">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="pending.name" [disabled]="true">
              </mat-form-field>
            </div>
            <div class="col-3" *ngIf="pending.nickname">
              <mat-form-field>
                <mat-label>Nickname</mat-label>
                <input matInput [(ngModel)]="pending.nickname" [disabled]="true">
              </mat-form-field>
            </div>
            <div class="col-3" *ngIf="pending.preferredUsername">
              <mat-form-field>
                <mat-label>Preferred Username</mat-label>
                <input matInput [(ngModel)]="pending.preferredUsername" [disabled]="true">
              </mat-form-field>
            </div>
            <div class="col-3" *ngIf="pending.email">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="pending.email" [disabled]="true">
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-form-field>
          <mat-label>Login ID</mat-label>
          <input matInput required data-id="user.loginId" [(ngModel)]="account.loginId" maxlength="255"
                 (change)="changeLogin(account.loginId)">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput data-id="user.name" [(ngModel)]="account.name" maxlength="255"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Organization</mat-label>
          <input matInput data-id="user.organization" [(ngModel)]="account.organization" maxlength="255"/>
        </mat-form-field>

        <div class="col-6">
          <div class="checkbox">
            <mat-checkbox color="primary"
                          data-id="user.developer"
                          [disabled]="isLinkOauth2()"
                          [(ngModel)]="account.developer">
              Standard Developer
            </mat-checkbox>
          </div>
          <div class="checkbox">
            <mat-checkbox color="primary"
                          data-id="user.admin"
                          [(ngModel)]="account.admin">
              Admin
            </mat-checkbox>
          </div>
        </div>

        <mat-form-field *ngIf="!isLinkOauth2()">
          <mat-label>Password</mat-label>
          <input matInput type="password" required data-id="user.newPassword" autocomplete="new-password"
                 [(ngModel)]="newPassword" minlength="5" maxlength="100"/>
          <mat-error *ngIf="hasMinLengthError(newPassword)">
            Password must be at least 5 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!isLinkOauth2()">
          <mat-label>Confirm password</mat-label>
          <input matInput type="password" required data-id="user.confirmPassword"
                 [(ngModel)]="confirmPassword" minlength="5" maxlength="100"/>
          <mat-error *ngIf="hasMinLengthError(confirmPassword)">
            Password must be at least 5 characters.
          </mat-error>
          <mat-error *ngIf="hasConfirmPasswordError()">
            Password does not match the confirm password.
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row action-group m-0">
    <div class="col-12 actions-wrap">
      <div class="actions">
        <button mat-raised-button color="primary" (click)="create()"
                [disabled]="isDisabled()">
          Create
        </button>
      </div>
    </div>
  </div>
</div>
