<div class="container">
  <div class="markdown-body">
    <h2>Score</h2>
    <p>Score is a software tool that supports the development of data exchange standards based on the <a href="https://www.iso.org/standard/61433.html">ISO 15000-5 Core Components standard</a>. Score provides a repository and functionalities for standards developers to create, publish, and maintain data exchange standards with higher precision, quality, and productivity. Standards are created once in the syntax/platform-independent form and can be published in various implementation-specific languages such as XML Schema, JSON Schema, or Open API specification. In addition, Score allows the standard users to create (in a syntax/platform-independent form) a standards usage model (also known as implementation guide) for specific integration scenarios, and then serialize each into desired implementation-specific languages.</p>
    <p>You can find out more information at the following link: <a href="https://www.nist.gov/services-resources/software/score-standards-life-cycle-management-tool">Score: Standards Life Cycle Management Tool</a></p>

    <h2>Version</h2>
    <ul *ngFor="let productInfo of productInfos">
      <li><p><b>{{productInfo.productName}} :</b> {{productInfo.productVersion}}</p></li>
    </ul>

    <p>You can learn more about the history of the project in
      <a href="https://github.com/OAGi/Score/wiki/Release-Detail">
        Score Release Detail
      </a>
    </p>

    <h2>Contributors</h2>
    <p>
      <a href="https://github.com/OAGi/Score/graphs/contributors">
        https://github.com/OAGi/Score/graphs/contributors
      </a>
    </p>

    <h2>License</h2>
    <p>This project is licensed under the terms of the MIT license.
    </p>
  </div>
</div>
