# AOP
spring:
  aop:
    proxy-target-class: true

# DataSource
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@docker:1521/xe
    username: oagi
    password: oagi
    platform: oracle

    continue-on-error: true
    initialize: false
    auto-commit: false

  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        ejb:
          interceptor: org.oagi.srt.persistence.populate.EntityUpdateInterceptor

  batch:
    initializer:
      enabled: false

logging:
  level:
    org.oagi.srt: DEBUG
    org.springframework: INFO
    org.hibernate.SQL: INFO

# Staging environment
---
spring:
  profiles: staging

# DataSource
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521/OAGISRTDB
    username: oagi
    password: oagi
    platform: oracle
    auto-commit: false