.mat-column-openAPIVersion {
  width: 120px;
}

.mat-column-version {
  width: 120px;
}

.mat-column-licenseName {
  width: 10%;
}

.mat-column-title {
  width: 20%;
}

.mat-column-lastUpdateTimestamp {
  width: 160px;
}
