<div class="context-section">
  <mat-card class="pt-4 pb-2">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card class="mb-2">
      <mat-card-content class="mat-card-container">
        <mat-form-field>
          <mat-label>Business Term</mat-label>
          <input matInput required [(ngModel)]="businessTerm.businessTerm" maxlength="255"/>
        </mat-form-field>

        <mat-form-field>
          <input matInput required placeholder="External Reference URI" [(ngModel)]="businessTerm.externalReferenceUri" maxlength="45"/>
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)=followTheExternalUri()>
            <mat-icon>link</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label>External Reference ID</mat-label>
          <input matInput [(ngModel)]="businessTerm.externalReferenceId" maxlength="45"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Definition</mat-label>
          <textarea rows="6" cols="30" [disabled]="true" matInput
                    [(ngModel)]="businessTerm.definition"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Comment</mat-label>
          <textarea rows="6" cols="30" matInput [(ngModel)]="businessTerm.comment"></textarea>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </mat-card>

  <div class="row action-group m-0">
    <div class="col-12 actions-wrap">
      <div class="actions">
        <button mat-raised-button color="primary" (click)="update()"
                [disabled]="!isChanged() || isDisabled(businessTerm)">
          Update
        </button>
        <button mat-raised-button color="warn" (click)="discard()"
                *ngIf="!this.businessTerm.used">
          Discard
        </button>
      </div>
    </div>
  </div>
</div>
