<div class="context-section">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="mat-card-container">
      <mat-form-field>
        <mat-label>Module</mat-label>
        <input matInput required [(ngModel)]="module.module" maxlength="100"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Namespace</mat-label>
        <mat-select placeholder="Namespace" required
                    [(ngModel)]="module.namespaceId">
          <mat-option *ngFor="let namespace of namespaces" [value]="namespace.namespaceId">
            {{ namespace.uri }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Module Dependencies</mat-card-title>
        </mat-card-header>

        <mat-card-content class="mat-card-container">
          <div class="mat-elevation-z1">
            <table mat-table matSort [dataSource]="dataSource">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? toggle(row) : null"
                                [checked]="isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="dependencyType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Relationship Type</th>
                <td mat-cell *matCellDef="let element"> {{ element.dependencyType }}</td>
              </ng-container>

              <ng-container matColumnDef="module">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Module</th>
                <td mat-cell *matCellDef="let element"> {{ getModule(element.relatedModuleId) }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                  (click)="openDialog(row)"></tr>
            </table>

            <mat-paginator
              [pageSizeOptions]="[10, 25, 50]"
              (page)="onPageChange($event)"
              showFirstLastButtons></mat-paginator>
          </div>

        </mat-card-content>

        <mat-card-actions style="padding: 8px 0 8px 12px;">
          <button mat-raised-button (click)="openDialog()" color="primary">
            <mat-icon>add</mat-icon>
            Add
          </button>
          <button mat-raised-button (click)="removeModuleDependencies()" [hidden]="dataSource.data.length == 0"
                  [disabled]="this.selection.selected.length == 0"
                  color="warn">
            <mat-icon>delete</mat-icon>
            Remove
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-card-content>

    <mat-card-actions style="padding: 8px 0 8px 12px;">
      <button mat-raised-button color="warn" (click)="back()">Back</button>
      <button mat-raised-button color="primary" [disabled]="!isChanged() || isDisabled(module)" (click)="update()">
        Update
      </button>
    </mat-card-actions>
  </mat-card>
</div>
