<div class="context-section">
  <div *ngIf="isUpdating" class="loading-container">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>

  <mat-card class="mt-4">
    <mat-card-header>
      <mat-card-title>Core Component Assignment</mat-card-title>
    </mat-card-header>
    <mat-card class="mb-2">
      <mat-card-content class="mat-card-container">
        <div class="finder-wrapper">
          <div class="finder-content">
            <div *ngFor="let tile of tiles;" class="finder-grid">
              <div class="finder-grid-left">
                <div *ngFor="let element of tile.elements" class="grid-element">
                  <div (click)="onClickElement(tile, element)"
                       [ngClass]="{'grid-element-content': true, 'selected': tile.current === element}">
                    <mat-icon *ngIf="element.directory" class="float-left" inline=true>folder_open</mat-icon>
                    <mat-icon *ngIf="!element.directory" class="float-left" inline=true>insert_drive_file</mat-icon>
                    <div class="float-left element-title">
                      <span>{{element.name}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card>


  <mat-card class="mt-4">
    <mat-card-header>
      <mat-card-title>Assign CCs</mat-card-title>
    </mat-card-header>

    <mat-card class="mb-2">
      <mat-card-content class="mat-card-container">
        <div class="d-flex">
          <div style="width: 47%;">
            <div class="assign-cc-table-header">
              <h4>Unassigned</h4>
              <div class="assign-cc-table-filter">
                <div class="assign-cc-table-filter-type">
                  <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select (ngModelChange)="updateLeftFilterTypes($event)" [(ngModel)]="leftFilteredValues.types" multiple>
                      <mat-option *ngFor="let type of ccTypes" [value]="type">{{type}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="assign-cc-table-filter-state">
                  <mat-form-field>
                    <mat-label>State</mat-label>
                    <mat-select (ngModelChange)="updateLeftFilterStates($event)" [(ngModel)]="leftFilteredValues.states" multiple>
                      <mat-option *ngFor="let state of workingStateList" [value]="state">
                        <span>{{ state | separate }}</span>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="assign-cc-table-filter-den">
                  <mat-form-field>
                    <mat-label>Den</mat-label>
                    <input (keyup)="updateLeftFilterDen(leftFilteredValues.den)" [(ngModel)]="leftFilteredValues.den" matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div style="width: 6%;"></div>
          <div style="width: 47%;">
            <div class="assign-cc-table-header">
              <h4>Assigned <span *ngIf="selectedModuleElement">"{{selectedModuleElement.name}}"</span></h4>
              <div class="assign-cc-table-filter">
                <div class="assign-cc-table-filter-type">
                  <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select (ngModelChange)="updateRightFilterTypes($event)" [(ngModel)]="rightFilteredValues.types" multiple>
                      <mat-option *ngFor="let type of ccTypes" [value]="type">{{type}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="assign-cc-table-filter-state">
                  <mat-form-field>
                    <mat-label>State</mat-label>
                    <mat-select (ngModelChange)="updateRightFilterStates($event)" [(ngModel)]="rightFilteredValues.states" multiple>
                      <mat-option *ngFor="let state of workingStateList" [value]="state">
                        <span>{{ state | separate }}</span>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="assign-cc-table-filter-den">
                  <mat-form-field>
                    <mat-label>Den</mat-label>
                    <input (keyup)="updateRightFilterDen(rightFilteredValues.den)" [(ngModel)]="rightFilteredValues.den" matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="assign-cc-wrapper">
          <div class="assign-cc-table-wrapper">
            <table #leftSort="matSort" [dataSource]="leftDataSource" class="assign-cc-table-border" mat-table
                   matSort>
              <ng-container matColumnDef="checkbox">
                <th *matHeaderCellDef mat-header-cell>
                  <mat-checkbox (change)="$event ? masterToggle(leftSelection, leftDataSource) : null"
                                [checked]="leftSelection.hasValue() && isAllSelected(leftSelection, leftDataSource)"
                                [indeterminate]="leftSelection.hasValue() && !isAllSelected(leftSelection, leftDataSource)">
                  </mat-checkbox>
                </th>
                <td *matCellDef="let element" mat-cell>
                  <mat-checkbox (change)="$event ? leftSelection.toggle(element) : null"
                                (click)="$event.stopPropagation()"
                                [checked]="leftSelection.isSelected(element)">
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Type</th>
                <td *matCellDef="let element" mat-cell> {{element.type}} </td>
              </ng-container>

              <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> State</th>
                <td mat-cell *matCellDef="let element">
                  <span class="cc-state {{ element.state }}"
                        [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet(element.state).background,
                        'color': webPageInfo.getComponentStateColorSet(element.state).font}">{{ element.state | separate }}</span>
                  <span *ngIf="element.deprecated" class="cc-state Deprecated"
                        [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('Deprecated').background,
                    'color': webPageInfo.getComponentStateColorSet('Deprecated').font}">Deprecated</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="den">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Den</th>
                <td *matCellDef="let element" mat-cell>
                  <a *ngIf="['ACC', 'ASCCP', 'BCCP'].indexOf(element.type) !== -1" class="den"
                     routerLink="/core_component/{{element.type.toLowerCase()}}/{{ element.manifestId }}"
                     target="_blank">{{element.den}}</a>
                  <a *ngIf="element.type === 'CODE_LIST'" class="den" routerLink="/code_list/{{ element.manifestId }}"
                     target="_blank">{{element.den}}</a>
                  <span
                    *ngIf="['ACC', 'ASCCP', 'BCCP', 'CODE_LIST'].indexOf(element.type) === -1">{{element.den}}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="timestamp">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Updated on</th>
                <td *matCellDef="let element" mat-cell>
                  <div class="ellipsis">{{ element.timestamp | dateAgo }}</div>
                  <div class="description"><span class="pr-1">by</span><b>{{ element.ownerUserId }}</b></div>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr (click)="leftSelection.toggle(element)" *matRowDef="let element; columns: displayedColumns;"
                  class="pointer"
                  mat-row></tr>
            </table>

            <mat-paginator #leftPaginator
                           [pageSizeOptions]="[10, 25, 50]"
                           showFirstLastButtons></mat-paginator>
          </div>
          <div class="assign-cc-middle">
            <button (click)="assign()" *ngIf="roles.includes('developer')"
                    class="mb-3" mat-stroked-button matTooltip="Assign">
              <mat-icon>arrow_forward</mat-icon>
            </button>

            <button (click)="unassign()" *ngIf="roles.includes('developer')"
                    mat-stroked-button matTooltip="Unassign">
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
          <div class="assign-cc-table-wrapper">
            <table #rightSort="matSort" [dataSource]="rightDataSource" class="assign-cc-table-border" mat-table
                   matSort>
              <ng-container matColumnDef="checkbox">
                <th *matHeaderCellDef mat-header-cell>
                  <mat-checkbox (change)="$event ? masterToggle(rightSelection, rightDataSource) : null"
                                [checked]="rightSelection.hasValue() && isAllSelected(rightSelection, rightDataSource)"
                                [indeterminate]="rightSelection.hasValue() && !isAllSelected(rightSelection, rightDataSource)">
                  </mat-checkbox>
                </th>
                <td *matCellDef="let element" mat-cell>
                  <mat-checkbox (change)="$event ? rightSelection.toggle(element) : null"
                                (click)="$event.stopPropagation()"
                                [checked]="rightSelection.isSelected(element)">
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Type</th>
                <td *matCellDef="let element" mat-cell> {{element.type}} </td>
              </ng-container>

              <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> State</th>
                <td mat-cell *matCellDef="let element">
                  <span class="cc-state {{ element.state }}"
                        [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet(element.state).background,
                        'color': webPageInfo.getComponentStateColorSet(element.state).font}">{{ element.state | separate }}</span>
                  <span *ngIf="element.deprecated" class="cc-state Deprecated"
                        [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('Deprecated').background,
                    'color': webPageInfo.getComponentStateColorSet('Deprecated').font}">Deprecated</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="den">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Den</th>
                <td *matCellDef="let element" mat-cell>
                  <a *ngIf="['ACC', 'ASCCP', 'BCCP', 'DT'].indexOf(element.type) !== -1" class="den"
                     routerLink="/core_component/{{element.type.toLowerCase()}}/{{ element.manifestId }}"
                     target="_blank">{{element.den}}</a>
                  <a *ngIf="element.type === 'CODE_LIST'" class="den" routerLink="/code_list/{{ element.manifestId }}"
                     target="_blank">{{element.den}}</a>
                  <span
                    *ngIf="['ACC', 'ASCCP', 'BCCP', 'CODE_LIST', 'DT'].indexOf(element.type) === -1">{{element.den}}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="timestamp">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Updated on</th>
                <td *matCellDef="let element" mat-cell>
                  <div class="ellipsis">{{ element.timestamp | dateAgo }}</div>
                  <div class="description"><span class="pr-1">by</span><b>{{ element.ownerUserId }}</b></div>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr (click)="rightSelection.toggle(element)" *matRowDef="let element; columns: displayedColumns;"
                  class="pointer"
                  mat-row></tr>
            </table>

            <mat-paginator #rightPaginator
              [pageSizeOptions]="[10, 25, 50]"
              showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card>
</div>
