<div class="context-section">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>

    <mat-card class="search-box">
      <mat-card-content class="mat-card-container">
        <div class="container-fluid" style="padding: 0;">
          <div class="row">
            <div class="col-md-2 col-sm-12">
              <mat-form-field>
                <mat-label>Updater</mat-label>
                <mat-select [(ngModel)]="request.updaterLoginIds" multiple>
                  <ngx-mat-select-search [formControl]="updaterIdListFilterCtrl"
                                         [placeholderLabel]="'Search...'"
                                         [noEntriesFoundLabel]="'No matching updater found.'"></ngx-mat-select-search>
                  <mat-option *ngFor="let loginId of filteredUpdaterIdList | async" [value]="loginId">
                    {{loginId}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-2 col-sm-12" style="display: flex;">
              <mat-form-field>
                <input matInput [matDatepicker]="dateStart" placeholder="Updated start date"
                       [max]="request.updatedDate.end" [value]="request.updatedDate.start"
                       (dateInput)="onDateEvent('startDate', $event)">
                <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
                <mat-datepicker #dateStart></mat-datepicker>
              </mat-form-field>
              <div class="mat-form-field-wrapper" style="width: 14px;">
                <div class="mat-form-field-flex">
                  <div class="mat-form-field-infix">
                    <mat-icon class="datepicker-cancel" (click)="reset('startDate')">cancel</mat-icon>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-2 col-sm-12" style="display: flex;">
              <mat-form-field>
                <input matInput [matDatepicker]="dateEnd" placeholder="Updated end date"
                       [min]="request.updatedDate.start" [value]="request.updatedDate.end"
                       (dateInput)="onDateEvent('endDate', $event)">
                <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
                <mat-datepicker #dateEnd></mat-datepicker>
              </mat-form-field>
              <div class="mat-form-field-wrapper" style="width: 14px;">
                <div class="mat-form-field-flex">
                  <div class="mat-form-field-infix">
                    <mat-icon class="datepicker-cancel" (click)="reset('endDate')">cancel</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid" style="padding: 0;">
            <div class="row">
              <div class="col-md-2 col-sm-12">
                <mat-form-field>
                  <input matInput [(ngModel)]="request.filters.name" (keyup.enter)="onChange()" placeholder="Name">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" (click)="onChange()">
          <mat-icon>search</mat-icon>
          Search
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card-content class="mat-card-container">
      <div class="loading-container" *ngIf="loading">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>

      <div class="mat-elevation-z1">
        <table mat-table matSort [matSortActive]="sort.active" [matSortDirection]="sort.direction"
               [dataSource]="dataSource">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" [disabled]="row.state !== 'Editing'"
                            matTooltip="This code list cannot be modified."
                            [matTooltipDisabled]="row.state === 'Editing'"
                            (change)="$event ? toggle(row) : null"
                            [checked]="isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="codeListName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td mat-cell *matCellDef="let element">
              <div class="ellipsis" style="display: flex;">
                <a routerLink="{{ element.codeListId }}">
                  <span style="margin-right: 10px;">{{ element.codeListName }}</span>
                </a>
                <span class="cl-state {{ element.state }}">{{ element.state }}</span>
              </div>
              <div class="description ellipsis">{{ element.guid }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="basedCodeListName">
            <th mat-header-cell *matHeaderCellDef> Based Code List</th>
            <td mat-cell *matCellDef="let element" matTooltip="{{ element.basedCodeListName }}">
              <a routerLink="{{ element.basedCodeListId }}" *ngIf="element.basedCodeListId > 0">
                <mat-icon fontSet="fontawesome" fontIcon="fa-location-arrow"></mat-icon>
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="agencyId">
            <th mat-header-cell *matHeaderCellDef> Agency ID</th>
            <td mat-cell *matCellDef="let element" matTooltip="{{ element.agencyIdName }}"> {{ element.agencyId }}</td>
          </ng-container>

          <ng-container matColumnDef="versionId">
            <th mat-header-cell *matHeaderCellDef> Version</th>
            <td mat-cell *matCellDef="let element"> {{ element.versionId }}</td>
          </ng-container>

          <ng-container matColumnDef="extensible">
            <th mat-header-cell *matHeaderCellDef> Extensible</th>
            <td mat-cell *matCellDef="let element" [ngSwitch]="element.extensible">
              <span *ngSwitchCase="true">Yes</span>
              <span *ngSwitchCase="false">No</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="lastUpdateTimestamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated on</th>
            <td mat-cell *matCellDef="let element">
              <div class="ellipsis">{{ element.lastUpdateTimestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
              <div class="description ellipsis">by <b>{{ element.lastUpdateUser }}</b>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="toggle(row)"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[10, 25, 50]"
          (page)="onPageChange($event)"
          showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>

    <mat-card-actions class="fab-container">
      <button mat-mini-fab color="primary" routerLink="create">
        <mat-icon matTooltip="Create Code List">create</mat-icon>
      </button>

      <button mat-mini-fab color="warn" (click)="discard()"
              [disabled]="selection.selected.length === 0">
        <mat-icon matTooltip="Discard">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
