.node-progress-bar {
  margin-left: 30px;
}

.search-progress-bar {
  margin-left: 5px;
  margin-top: 10px;
  float: left;
}

.mat-tree-node {
  font-size: 13px;
  min-height: 33px;
  font-family: Roboto;
}

.mat-tree-node .material-icons {
  font-size: 20px;
}

.mat-tree-node .mat-icon-button {
  width: 24px;
  height: 24px;
  line-height: 24px;
  outline: none;
}

.mat-tree-node div {
}

.mat-tree-node span {
  cursor: pointer;
  padding-right: 10px;
}

.mat-tree-node .acc, .mat-tree-node .acc-group {
  color: #bd2c00 !important;
  font-weight: bold !important;
  text-shadow: inherit !important;
}

.mat-tree-node .asccp {
  color: #4078c0 !important;
  font-weight: bold !important;
  text-shadow: inherit !important;
}

.mat-tree-node .bccp {
  color: #006400 !important;
  text-shadow: inherit !important;
}

.mat-tree-node .bccp-attribute {
  color: #666 !important;
  font-style: italic !important;
  text-shadow: inherit !important;
}

.mat-tree-node .dt_sc {
  color: #bd2c00 !important;
  text-shadow: inherit !important;
}

.checklist-leaf-node {
  padding-right: 8px;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
}

.cc-node-header {
  display: block;
  padding: 4px 10px 5px;
  margin: 0px;
  font-size: 14px;
  line-height: 17px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #333;
  font-weight: 600;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.cc-node-header span, .mat-tree-node span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cc-node-title {
  display: flex;
  margin: 5px 0;
}

.comment.mat-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 8px;
}

.cc-node-tree-panel {
  margin-bottom: 4px;
  padding: 8px;
}

.cc-node-tree-panel mat-card-content {
  margin-bottom: 0;
}

.cc-node-detail-container {
  padding: 1.25em;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-top: 0;
  background-color: white;
}

.cc-node-detail-container div.checkbox {
  padding-bottom: 1.25em;
}

.cc-node-detail-panel {
  padding: 0 12px;
}

.left-panel, .right-panel {
  margin-bottom: 0;
}

.external-link {
  cursor: pointer;
}

.mt-24 {
  margin-top: 24px;
}

.tree-search-box {
}

.tree-search-box .mat-form-field-wrapper {
  padding: 0 !important;
}

.tree-search-box .buttons {
  display: inline-flex;
  align-items: baseline;
  padding-top: 4px;
}

.tree-search-box .buttons button {
  width: 28px;
  height: 28px;
  line-height: 28px;
  outline: none;
}

.tree-search-box .options button {
  font-size: 12px;
  line-height: 36px;
  margin: 6px 4px;
}

.tree-search-box button mat-icon {
  font-size: 16px;
  margin: 0;
}

.tree-search-box .mat-form-field {
  font-size: 12px;
}

.tree-search-box .mat-form-field-wrapper {
  width: 16px;
  padding-bottom: 0;
}

.tree-search-box .mat-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  margin: 12px 4px;
  cursor: pointer;
}

.ui.header {
  display: flex;
  justify-content: space-between;
}

.ui.header .close {
  margin-left: auto;
  cursor: pointer;
}

.search-box-container {
  padding: 0;
}

.dragHandle {
  margin-left: auto;
  cursor: grab;
}

.cdk-drag:not(.cdk-drag-disabled):active .dragHandle {
  cursor: grabbing;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dragPlaceholder {
  background: #ccc;
  border: dashed 2px #999;
  min-height: 33px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
}
