<div class="context-section">
  <div class="settings-layout">
    <score-settings-menu active="Password"></score-settings-menu>
    <div class="layout-main">
      <div class="context-section">
        <mat-card *ngIf="!hideChangePassword">
          <mat-toolbar class="bg-white">
            <span class="title">{{ title }}</span>
            <span class="flex-11-auto"></span>
          </mat-toolbar>
          <mat-card class="mb-2">
            <mat-card-content class="mat-card-container">
              <mat-form-field>
                <mat-label>Old password</mat-label>
                <input matInput type="password" [formControl]="oldPasswordFormControl"/>
                <mat-error *ngIf="oldPasswordFormControl.hasError('minlength')">
                  Password must be at least {{ oldPasswordFormControl.errors.minlength['requiredLength'] }} characters.
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>New password</mat-label>
                <input matInput type="password" required [formControl]="newPasswordFormControl"/>
                <mat-error *ngIf="newPasswordFormControl.hasError('minlength')">
                  Password must be at least {{ newPasswordFormControl.errors.minlength['requiredLength'] }} characters.
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Confirm new password</mat-label>
                <input matInput type="password" required [formControl]="confirmPasswordFormControl"/>
                <mat-error *ngIf="confirmPasswordFormControl.hasError('minlength')">
                  Password must be at least {{ confirmPasswordFormControl.errors.minlength['requiredLength'] }} characters.
                </mat-error>
                <mat-error *ngIf="confirmPasswordFormControl.hasError('equals')">
                  New password does not match the confirm password.
                </mat-error>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </mat-card>

        <div class="row action-group m-0">
          <div class="col-12 actions-wrap">
            <div class="actions">
              <button mat-raised-button color="primary" (click)="update()"
                      [disabled]="isDisabled()">
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
