<div class="d-block">
  <div class="header d-flex align-items-center" mat-dialog-title>
    <span>Module Set Release - {{ schemaTypeLabel }} Validation</span>
    <div class="close pe-2">
      @if (resp.done) {
        <button mat-icon-button mat-small-icon-button (click)="onNoClick()">
          <mat-icon>close</mat-icon>
        </button>
      }
    </div>
  </div>

  <div class="content" mat-dialog-content>
    @if (!determinate) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    @if (determinate) {
      <mat-progress-bar mode="determinate"
      color="{{ invalidKeys.length > 0 ? 'warn' : 'primary' }}" value="{{ progress }}"></mat-progress-bar>
    }
    @if (!determinate) {
      <p>Generating {{ schemaTypeLabel }}s...</p>
    }
    @if (resp.progress > 0) {
      <p>{{ resp.progress }} / {{ resp.length }} ({{ progress }}% - {{ validKeys.length }} valid, {{ invalidKeys.length }} invalid)</p>
    }

    <mat-card class="pt-2">
      <mat-card-content class="result">
        @if (resp.done && invalidKeys.length === 0) {
          <p>
            All schemas are valid.
          </p>
        }
        <div>
          <div class="invalid-list">
            @for (key of invalidKeys; track key) {
              <ul>
                <li>{{ key }}: <b>{{ value(key) }}</b></li>
              </ul>
            }
          </div>
          <div class="valid-list">
            @for (key of validKeys; track key) {
              <ul>
                <li>{{ key }}: {{ value(key) }}</li>
              </ul>
            }
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="actions ms-auto" mat-dialog-actions>
    <button mat-button class="btn" color="warn" (click)="onNoClick()" [disabled]="!resp.done">
      <span>Close</span>
    </button>
    <button mat-button class="btn" color="primary" (click)="copyToClipboard()" [disabled]="!resp.done">
      <span>Copy to clipboard</span>
    </button>
  </div>
</div>
