<div class="context-section">
  <mat-card class="pt-4 pb-2">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card class="mb-2">
      <mat-card-content class="mat-card-container">
        <div class="row">
          <div class="col-2">
            <mat-form-field>
              <mat-label>Title</mat-label>
              <input matInput required [(ngModel)]="oasDoc.title" maxlength="255"/>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field>
              <mat-label>Description</mat-label>
              <textarea rows="6" cols="30" matInput [(ngModel)]="oasDoc.description"></textarea>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card>

  <div class="row action-group m-0">
    <div class="col-12 actions-wrap">
      <div class="actions">
        <button mat-raised-button color="primary" (click)="update()"
                [disabled]="!isChanged() || isDisabled(oasDoc)">
          Update
        </button>
        <button mat-raised-button color="warn"
                (click)="listBIE()">
          BIE List
        </button>
      </div>
    </div>
  </div>
</div>
