<div class="d-block">
  <div class="loading-container" *ngIf="loading">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  <div>
    <div class="content" mat-dialog-content>
      <div class="table-container">
        <div class="score-column-container align-items-center">
          <score-column-selector
            [columns]="columns"
            (columnsChange)="onColumnsChange($event)"
            (onReset)="onColumnsReset()">
          </score-column-selector>

          <div class="header d-flex align-items-center">
            <span>Select a base ACC to move "{{title}}"</span>
          </div>
        </div>
        <div class="mat-elevation-z1 table-wrapper mt-3">
          <table mat-table multiTemplateDataRows
                 [dataSource]="dataSource">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? toggle(row) : null"
                              [checked]="isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef
                  score-table-column-resize [defaultWidth]="width('Type')" (onResize)="onResizeWidth($event)"> Type</th>
              <td mat-cell *matCellDef="let element">
                <mat-chip-list [ngSwitch]="element.type">
                  <mat-chip *ngSwitchDefault>{{ element.type }}</mat-chip>
                </mat-chip-list>
              </td>
            </ng-container>

            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef
                  score-table-column-resize [defaultWidth]="width('State')" (onResize)="onResizeWidth($event)"> State</th>
              <td mat-cell *matCellDef="let element">
              <span class="cc-state {{ element.state }}"
                    [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet(element.state).background,
                    'color': webPageInfo.getComponentStateColorSet(element.state).font}">{{ element.state | separate }}</span>
                <span *ngIf="element.deprecated" class="cc-state Deprecated"
                      [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('Deprecated').background,
                    'color': webPageInfo.getComponentStateColorSet('Deprecated').font}">Deprecated</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="den">
              <th mat-header-cell *matHeaderCellDef
                  score-table-column-resize [defaultWidth]="width('DEN')" (onResize)="onResizeWidth($event)"> DEN</th>
              <td mat-cell *matCellDef="let element">
                <div class="den word-break-all">
                  <a routerLink="{{ getRouterLink(element) }}" target="_blank"
                     matTooltip="{{ element.den }}">
                    <span>{{ element.den }}</span>
                  </a>
                </div>
                <div class="description">{{ element.guid }}</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="revision">
              <th mat-header-cell *matHeaderCellDef
                  score-table-column-resize [defaultWidth]="width('Revision')" (onResize)="onResizeWidth($event)"> Revision</th>
              <td mat-cell *matCellDef="let element">
                <span>{{ element.revision }}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="owner">
              <th mat-header-cell *matHeaderCellDef
                  score-table-column-resize [defaultWidth]="width('Owner')" (onResize)="onResizeWidth($event)"> Owner</th>
              <td mat-cell *matCellDef="let element">
                <span class="word-break-all" [matTooltip]="element.owner" [innerHTML]="element.owner"></span>
              </td>
            </ng-container>

            <ng-container matColumnDef="module">
              <th mat-header-cell *matHeaderCellDef
                  score-table-column-resize [defaultWidth]="width('Module')" (onResize)="onResizeWidth($event)"> Module</th>
              <td mat-cell *matCellDef="let element">
                <div class="word-break-all"
                     [innerHTML]="element.module"></div>
              </td>
            </ng-container>

            <ng-container matColumnDef="lastUpdateTimestamp">
              <th mat-header-cell *matHeaderCellDef
                  score-table-column-resize [defaultWidth]="width('Updated On')" (onResize)="onResizeWidth($event)"> Updated on</th>
              <td mat-cell *matCellDef="let element">
                <div class="ellipsis">{{ element.lastUpdateTimestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
                <div class="description"><span class="pr-1">by</span><b class="word-break-all">{{ element.lastUpdateUser }}</b></div>
              </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <div class="element-detail-wrapper">
                    <mat-card class="mb-2">
                      <mat-card-header class="element-detail-header" *ngIf="element.definitionSource">
                        <mat-card-subtitle class="element-detail-subtitle">{{ element.definitionSource }}</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <p [innerHTML]="element.definition"
                           class="element-detail-content"></p>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
                [class.expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element; toggle(element);"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"
                (click)="toggle(row);"></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="actions ml-auto" mat-dialog-actions>
      <button mat-raised-button color="info"
              [disabled]="selection.selected.length === 0"
              (click)="checkValidation()">
        Analyze
      </button>
    </div>
  </div>
  <mat-divider class="m-3"/>
  <div>
    <div class="content" mat-dialog-content>
      <div class="table-container">
        <div class="score-column-container align-items-center">
          <score-column-selector
            [columns]="issueColumns"
            (columnsChange)="onIssueColumnsChange($event)"
            (onReset)="onIssueColumnsReset()">
          </score-column-selector>

          <div class="header d-flex align-items-center">
            <span>Analysis result and required action.</span>
          </div>
        </div>
        <div class="mat-elevation-z1 table-wrapper mt-3">
          <table mat-table multiTemplateDataRows
                 [dataSource]="issueDataSource">

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef
                  score-table-column-resize [defaultWidth]="issueWidth('Type')" (onResize)="onResizeIssueWidth($event)"> Type</th>
              <td mat-cell *matCellDef="let element">
                <mat-chip-list [ngSwitch]="element.type">
                  <mat-chip *ngSwitchDefault>ACC</mat-chip>
                </mat-chip-list>
              </td>
            </ng-container>

            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef
                  score-table-column-resize [defaultWidth]="issueWidth('State')" (onResize)="onResizeIssueWidth($event)"> State</th>
              <td mat-cell *matCellDef="let element">
              <span class="cc-state {{ element.state }}"
                    [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet(element.state).background,
                    'color': webPageInfo.getComponentStateColorSet(element.state).font}">{{ element.state | separate }}</span>
                <span *ngIf="element.deprecated" class="cc-state Deprecated"
                      [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('Deprecated').background,
                    'color': webPageInfo.getComponentStateColorSet('Deprecated').font}">Deprecated</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="den">
              <th mat-header-cell *matHeaderCellDef
                  score-table-column-resize [defaultWidth]="issueWidth('DEN')" (onResize)="onResizeIssueWidth($event)"> DEN</th>
              <td mat-cell *matCellDef="let element">
                <div class="den word-break-all">
                  <a routerLink="{{ getRouterLink(element) }}" target="_blank"
                     matTooltip="{{ element.den }}">
                    <span>{{ element.den }}</span>
                  </a>
                </div>
                <div class="description">{{ element.guid }}</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="reason">
              <th mat-header-cell *matHeaderCellDef
                  score-table-column-resize [defaultWidth]="issueWidth('Issue')" (onResize)="onResizeIssueWidth($event)"> Issue</th>
              <td mat-cell *matCellDef="let element">
                <ul class="m-1" *ngIf="element.reasons.length > 0">
                  <li class="text-danger" *ngFor="let reason of element.reasons">{{reason}}</li>
                </ul>
                <ul class="m-1" *ngIf="element.reasons.length === 0">
                  <li class="text-primary">Ready to refactor.</li>
                </ul>
              </td>
            </ng-container>

            <ng-container matColumnDef="revision">
              <th mat-header-cell *matHeaderCellDef
                  score-table-column-resize [defaultWidth]="issueWidth('Revision')" (onResize)="onResizeIssueWidth($event)"> Revision</th>
              <td mat-cell *matCellDef="let element">
                <span>{{ element.revision }}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="owner">
              <th mat-header-cell *matHeaderCellDef
                  score-table-column-resize [defaultWidth]="issueWidth('Owner')" (onResize)="onResizeIssueWidth($event)"> Owner</th>
              <td mat-cell *matCellDef="let element">
                <span class="word-break-all" [matTooltip]="element.owner" [innerHTML]="element.owner"></span>
              </td>
            </ng-container>

            <ng-container matColumnDef="lastUpdateTimestamp">
              <th mat-header-cell *matHeaderCellDef
                  score-table-column-resize [defaultWidth]="issueWidth('Updated On')" (onResize)="onResizeIssueWidth($event)"> Updated on</th>
              <td mat-cell *matCellDef="let element">
                <div class="ellipsis">{{ element.lastUpdateTimestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
                <div class="description"><span class="pr-1">by</span><b class="word-break-all">{{ element.lastUpdateUser }}</b></div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedIssueColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedIssueColumns;" class="element-row"></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="actions ml-auto" mat-dialog-actions>
      <button mat-raised-button color="warn" (click)="onNoClick()">
        Cancel
      </button>
      <button mat-raised-button color="primary"
              class="float-right"
              [disabled]="!isValid"
              (click)="doRefactor()">
        Refactor
      </button>
    </div>
  </div>
</div>
