<div class="context-section">
  <div class="row" (window:resize)="onResize($event)">
    <div class="col-4 left-panel" [style.height.px]="innerHeight">
      <mat-card class="cc-node-tree-panel">
        <div class="cc-node-header">
          <span>{{ title }}</span>
        </div>

        <mat-card-content class="mat-card-container">

          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

            <mat-tree-node *matTreeNodeDef="let node"
                           [style.padding-left.px]="paddingPixel * node.level"
                           matTreeNodePadding>
              <button mat-icon-button disabled></button>
              <span class="{{ type(node) }}" (click)="onClick(node)"
                    style="cursor: pointer;">{{ node.item.name }}</span>
            </mat-tree-node>

            <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                           [style.padding-left.px]="paddingPixel * node.level"
                           matTreeNodePadding>
              <button mat-icon-button [disabled]="node.isLoading"
                      [attr.aria-label]="'toggle ' + node.type" matTreeNodeToggle>
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>

              <span class="{{ type(node) }}" (click)="onClick(node)"
                    style="cursor: pointer;">{{ node.item.name }}</span>

              <mat-progress-spinner mode="indeterminate" [diameter]="20" *ngIf="node.isLoading"
                                    class="node-progress-bar"></mat-progress-spinner>

            </mat-tree-node>
          </mat-tree>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-8 right-panel" [style.height.px]="innerHeight">

      <div>

        <!-- ACC -->
        <mat-card class="cc-node-detail-panel"
                  *ngIf="isAccDetail()">

          <mat-card-header class="cc-node-header">
            <span>ACC Detail</span>
          </mat-card-header>

          <mat-card-content>
            <div class="cc-node-detail-container">

              <mat-form-field>
                <input matInput placeholder="GUID" maxlength="41"
                       [(ngModel)]="asAccDetail().guid" [disabled]="true">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="{{'ACC_DETAIL.OBJECT' | translate}}" maxlength="100"
                       [(ngModel)]="asAccDetail().objectClassTerm" [disabled]="true">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="{{'ACC_DETAIL.DEN' | translate}}" maxlength="200"
                       [(ngModel)]="asAccDetail().den" [disabled]="true">
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Component Type"
                            [(ngModel)]="asAccDetail().oagisComponentType" [disabled]="true">
                  <mat-option *ngFor="let componentType of componentTypes"
                              [value]="componentType.value">
                    {{ componentType.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="row">
                <div class="col-6">
                  <div class="checkbox">
                    <mat-checkbox color="primary"
                                  [(ngModel)]="asAccDetail().abstracted"
                                  [disabled]="true">
                      <span>Abstract</span>
                    </mat-checkbox>
                  </div>
                </div>
                <div class="col-6">
                  <div class="checkbox">
                    <mat-checkbox color="primary"
                                  [(ngModel)]="asAccDetail().deprecated"
                                  [disabled]="true">
                      <span>Deprecated</span>
                    </mat-checkbox>
                  </div>
                </div>
              </div>

              <mat-form-field>
                  <textarea matInput rows="6" cols="30"
                            placeholder="Definition"
                            [(ngModel)]="asAccDetail().definition"
                            [disabled]="true"></textarea>
              </mat-form-field>
            </div>
          </mat-card-content>
        </mat-card>


        <div *ngIf="isAsccpDetail()">

          <!-- ASCC -->
          <mat-card class="cc-node-detail-panel"
                    *ngIf="asAsccpDetail().ascc">

            <mat-card-header class="cc-node-header">
              <span>{{ "ASCC_DETAIL.TITLE_CASE" | translate }}</span>
            </mat-card-header>

            <mat-card-content>
              <div class="cc-node-detail-container">

                <mat-form-field>
                  <input matInput placeholder="GUID" maxlength="41"
                         [(ngModel)]="asAsccpDetail().ascc.guid" [disabled]="true">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="{{ 'ASCC_DETAIL.DEN' | translate }}" maxlength="200"
                         [(ngModel)]="asAsccpDetail().ascc.den" [disabled]="true">
                </mat-form-field>

                <div class="row">
                  <div class="col-6">
                    <mat-form-field>
                      <input matInput placeholder="Cardinality Min"
                             [(ngModel)]="asAsccpDetail().ascc.cardinalityMin"
                             [disabled]="true">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field>
                      <input matInput placeholder="{{ 'ASCC_DETAIL.MAX' | translate }}"
                             [(ngModel)]="asAsccpDetail().ascc.cardinalityMax"
                             [disabled]="true">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="checkbox">
                      <mat-checkbox color="primary"
                                    [(ngModel)]="asAsccpDetail().ascc.deprecated"
                                    [disabled]="true">
                        <span>Deprecated</span>
                      </mat-checkbox>
                    </div>
                  </div>
                </div>

                <mat-form-field>
                      <textarea matInput rows="6" cols="30"
                                placeholder="Definition"
                                [(ngModel)]="asAsccpDetail().ascc.definition"
                                [disabled]="true"></textarea>
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- ASCCP -->
          <mat-card class="cc-node-detail-panel"
                    [style]="(asAsccpDetail().ascc) ? 'margin-top: 24px;' : ''">

            <mat-card-header class="cc-node-header">
              <span>{{ "ASCCP_DETAIL.TITLE_CASE" | translate }}</span>
            </mat-card-header>

            <mat-card-content>
              <div class="cc-node-detail-container">

                <mat-form-field>
                  <input matInput placeholder="GUID" maxlength="41"
                         [(ngModel)]="asAsccpDetail().asccp.guid" [disabled]="true">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="{{ 'ASCCP_DETAIL.PROPERTY_TERM' | translate }}" maxlength="60"
                         [(ngModel)]="asAsccpDetail().asccp.propertyTerm" [disabled]="true">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="{{ 'ASCCP_DETAIL.DEN' | translate }}" maxlength="200"
                         [(ngModel)]="asAsccpDetail().asccp.den" [disabled]="true">
                </mat-form-field>

                <div class="row">
                  <div class="col-6">
                    <div class="checkbox">
                      <mat-checkbox color="primary"
                                    [(ngModel)]="asAsccpDetail().asccp.reusable"
                                    [disabled]="true">
                        <span>Reusable</span>
                      </mat-checkbox>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="checkbox">
                      <mat-checkbox color="primary"
                                    [(ngModel)]="asAsccpDetail().asccp.deprecated"
                                    [disabled]="true">
                        <span>Deprecated</span>
                      </mat-checkbox>
                    </div>
                  </div>
                </div>

                <mat-form-field>
                      <textarea matInput rows="6" cols="30"
                                placeholder="Definition"
                                [(ngModel)]="asAsccpDetail().asccp.definition"
                                [disabled]="true"></textarea>
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>

        </div>


        <div *ngIf="isBccpDetail()">

          <!-- BCC -->
          <mat-card class="cc-node-detail-panel"
                    *ngIf="asBccpDetail().bcc">

            <mat-card-header class="cc-node-header">
              <span>{{ "BCC_DETAIL.TITLE_CASE" | translate }}</span>
            </mat-card-header>

            <mat-card-content>
              <div class="cc-node-detail-container">

                <mat-form-field>
                  <input matInput placeholder="GUID" maxlength="41"
                         [(ngModel)]="asBccpDetail().bcc.guid" [disabled]="true">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="{{ 'BCC_DETAIL.DEN' | translate }}" maxlength="200"
                         [(ngModel)]="asBccpDetail().bcc.den" [disabled]="true">
                </mat-form-field>

                <mat-form-field>
                  <mat-select placeholder="Entity Type"
                              [(ngModel)]="asBccpDetail().bcc.entityType" [disabled]="true">
                    <mat-option *ngFor="let entityType of entityTypes"
                                [value]="entityType.value">
                      {{ entityType.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <div class="row">
                  <div class="col-6">
                    <mat-form-field>
                      <input matInput placeholder="Cardinality Min"
                             [(ngModel)]="asBccpDetail().bcc.cardinalityMin"
                             [disabled]="true">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field>
                      <input matInput placeholder="{{ 'BCC_DETAIL.MAX' | translate }}"
                             [(ngModel)]="asBccpDetail().bcc.cardinalityMax"
                             [disabled]="true">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="checkbox">
                      <mat-checkbox color="primary"
                                    [(ngModel)]="asBccpDetail().bcc.nillable"
                                    [disabled]="true">
                        <span>Nillable</span>
                      </mat-checkbox>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="checkbox">
                      <mat-checkbox color="primary"
                                    [(ngModel)]="asBccpDetail().bcc.deprecated"
                                    [disabled]="true">
                        <span>Deprecated</span>
                      </mat-checkbox>
                    </div>
                  </div>
                </div>

                <mat-form-field>
                      <textarea matInput rows="6" cols="30"
                                placeholder="Default Value"
                                [(ngModel)]="asBccpDetail().bcc.defaultValue"
                                [disabled]="true"></textarea>
                </mat-form-field>

                <mat-form-field>
                      <textarea matInput rows="6" cols="30"
                                placeholder="Definition"
                                [(ngModel)]="asBccpDetail().bcc.definition"
                                [disabled]="true"></textarea>
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- BCCP -->
          <mat-card class="cc-node-detail-panel"
                    [style]="(asBccpDetail().bcc) ? 'margin-top: 24px;' : ''">

            <mat-card-header class="cc-node-header">
              <span>{{ "BCCP_DETAIL.TITLE_CASE" | translate }}</span>
            </mat-card-header>

            <mat-card-content>
              <div class="cc-node-detail-container">

                <mat-form-field>
                  <input matInput placeholder="GUID" maxlength="41"
                         [(ngModel)]="asBccpDetail().bccp.guid" [disabled]="true">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="{{ 'BCCP_DETAIL.PROPERTY_TERM' | translate }}" maxlength="60"
                         [(ngModel)]="asBccpDetail().bccp.propertyTerm" [disabled]="true">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="{{ 'BCCP_DETAIL.DEN' | translate }}" maxlength="200"
                         [(ngModel)]="asBccpDetail().bccp.den" [disabled]="true">
                </mat-form-field>

                <div class="row">
                  <div class="col-6">
                    <div class="checkbox">
                      <mat-checkbox color="primary"
                                    [(ngModel)]="asBccpDetail().bccp.nillable"
                                    [disabled]="true">
                        <span>Nillable</span>
                      </mat-checkbox>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="checkbox">
                      <mat-checkbox color="primary"
                                    [(ngModel)]="asBccpDetail().bccp.deprecated"
                                    [disabled]="true">
                        <span>Deprecated</span>
                      </mat-checkbox>
                    </div>
                  </div>
                </div>

                <mat-form-field>
                      <textarea matInput rows="6" cols="30"
                                placeholder="Default Value"
                                [(ngModel)]="asBccpDetail().bccp.defaultValue"
                                [disabled]="true"></textarea>
                </mat-form-field>

                <mat-form-field>
                      <textarea matInput rows="6" cols="30"
                                placeholder="Definition"
                                [(ngModel)]="asBccpDetail().bccp.definition"
                                [disabled]="true"></textarea>
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- DT -->
          <mat-card class="cc-node-detail-panel" style="margin-top: 24px;">

            <mat-card-header class="cc-node-header">
              <span>Data Type</span>
            </mat-card-header>

            <mat-card-content>
              <div class="cc-node-detail-container">

                <mat-form-field>
                  <input matInput placeholder="GUID" maxlength="41"
                         [(ngModel)]="asBccpDetail().bdt.guid" [disabled]="true">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Data Type Term" maxlength="45"
                         [(ngModel)]="asBccpDetail().bdt.dataTypeTerm" [disabled]="true">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Qualifier" maxlength="100"
                         [(ngModel)]="asBccpDetail().bdt.qualifier" [disabled]="true">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="{{ 'DATA_TYPE_DETAIL.DEN' | translate }}" maxlength="200"
                         [(ngModel)]="asBccpDetail().bdt.den" [disabled]="true">
                </mat-form-field>

                <mat-form-field>
                      <textarea matInput rows="6" cols="30"
                                placeholder="Definition"
                                [(ngModel)]="asBccpDetail().bdt.definition"
                                [disabled]="true"></textarea>
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>

        </div>


        <!-- BDT_SC -->
        <mat-card class="cc-node-detail-panel"
                  *ngIf="isBdtScDetail()">

          <mat-card-header class="cc-node-header">
            <span>{{ "BDT_SC_DETAIL.TITLE_CASE" | translate }}</span>
          </mat-card-header>

          <mat-card-content>
            <div class="cc-node-detail-container">

              <mat-form-field>
                <input matInput placeholder="GUID" maxlength="41"
                       [(ngModel)]="asBdtScDetail().guid" [disabled]="true">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="{{ 'BDT_SC_DETAIL.DEN' | translate }}" maxlength="200"
                       [(ngModel)]="asBdtScDetail().den" [disabled]="true">
              </mat-form-field>

              <div class="row">
                <div class="col-6">
                  <mat-form-field>
                    <input matInput placeholder="Cardinality Min"
                           [(ngModel)]="asBdtScDetail().cardinalityMin"
                           [disabled]="true">
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field>
                    <input matInput placeholder="{{ 'BDT_SC_DETAIL.MAX' | translate }}"
                           [(ngModel)]="asBdtScDetail().cardinalityMax"
                           [disabled]="true">
                  </mat-form-field>
                </div>
              </div>

              <mat-form-field>
                  <textarea matInput rows="6" cols="30"
                            placeholder="Definition"
                            [(ngModel)]="asBdtScDetail().definition"
                            [disabled]="true"></textarea>
              </mat-form-field>
            </div>
          </mat-card-content>
        </mat-card>

      </div>

    </div>
  </div>

</div>
