.column-selector {
  border: none;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  padding: 8px;
}

.column-selector .column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  cursor: pointer; /* Makes the cursor a pointer */
  transition: background-color 0.2s ease, border-radius 0.2s ease; /* Smooth background and border-radius transition */
  border-radius: 4px; /* Ensures the default state has the same radius */
}

.column-selector .column:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}

.column-selector .column mat-checkbox {
  flex-grow: 1;
}

.drag-handle {
  cursor: move;
  padding: 0 8px;
}

.overlay-spacing {
  margin: 8px 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .column:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
