<div class="context-section">
  <div class="pl-2 pr-2">
    <mat-toolbar class="bg-white">
      <span class="title">Uplift Code List</span>
      <span class="flex-11-auto"></span>
    </mat-toolbar>
  </div>

  <mat-card class="pt-3">
    <score-search-bar placeholder="Search by Name" [(model)]="request.filters.name"
                      (modelChange)="onChange('filters.name', request.filters.name);"
                      (search)="onSearch();">
      <div branchSelector class="d-flex align-items-center" style="width: 22rem; padding: 0 0.5rem 0 1rem;">
        <mat-form-field appearance="outline">
          <mat-label>Source Branch</mat-label>
          <mat-select [(ngModel)]="request.release"
                      (ngModelChange)="onChange('branch', request.release); this.onSearch();">
            <mat-select-trigger class="d-flex">
              <span>{{ request.release.releaseNum }}</span>
            </mat-select-trigger>
            <mat-option *ngFor="let release of releases" [value]="release">
              <div class="d-flex">
                <span class="release-num">{{ release.releaseNum }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon class="ml-3 mr-3">arrow_forward</mat-icon>
        <mat-form-field appearance="outline">
          <mat-label>Target Branch</mat-label>
          <mat-select [(ngModel)]="targetRelease">
            <mat-select-trigger class="d-flex">
              <span>{{ targetRelease?.releaseNum }}</span>
            </mat-select-trigger>
            <mat-option *ngFor="let release of targetReleaseList" [value]="release">
              <div class="d-flex">
                <span class="release-num">{{ release.releaseNum }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-divider [vertical]="true" style="padding-left: 0rem;"/>
      </div>
      <div advancedSearchContent style="padding-left: 25.5rem;">
        <mat-card-content class="mat-card-container">
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-md-2 col-sm-12">
                <mat-form-field>
                  <mat-label>State</mat-label>
                  <mat-select [(ngModel)]="request.states" multiple>
                    <mat-option *ngFor="let state of releaseStateList" [value]="state">
                      {{state}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2 col-sm-12">
                <mat-form-field>
                  <mat-label>Definition</mat-label>
                  <input matInput [(ngModel)]="request.filters.definition"
                         (ngModelChange)="onChange('filters.definition', request.filters.definition)"
                         (keyup.enter)="this.onSearch();"
                         placeholder="Definition">
                </mat-form-field>
              </div>
              <div class="col-md-2 col-sm-12">
                <mat-form-field>
                  <mat-label>Module</mat-label>
                  <input matInput [(ngModel)]="request.filters.module"
                         (ngModelChange)="onChange('filters.module', request.filters.module)"
                         (keyup.enter)="this.onSearch();"
                         placeholder="Module">
                </mat-form-field>
              </div>
              <div class="col-md-2 col-sm-12">
                <mat-form-field>
                  <mat-label>Deprecated</mat-label>
                  <mat-select [(ngModel)]="request.deprecated" multiple>
                    <mat-option [value]="true">
                      True
                    </mat-option>
                    <mat-option [value]="false">
                      False
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2 col-sm-12">
                <mat-form-field>
                  <mat-label>Owner</mat-label>
                  <mat-select [(ngModel)]="request.ownerLoginIds" multiple>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="loginIdListFilterCtrl"
                                             [placeholderLabel]="'Search...'"
                                             [noEntriesFoundLabel]="'No matching owner found.'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let loginId of filteredLoginIdList | async" [value]="loginId">
                      {{loginId}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-2 col-sm-12">
                <mat-form-field>
                  <mat-label>Updater</mat-label>
                  <mat-select [(ngModel)]="request.updaterLoginIds" multiple>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="updaterIdListFilterCtrl"
                                             [placeholderLabel]="'Search...'"
                                             [noEntriesFoundLabel]="'No matching updater found.'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let loginId of filteredUpdaterIdList | async" [value]="loginId">
                      {{loginId}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-2 col-sm-12 d-flex">
                <mat-form-field>
                  <mat-label>Updated start date</mat-label>
                  <input matInput [matDatepicker]="dateStart" placeholder="Updated start date"
                         [max]="request.updatedDate.end"
                         (dateInput)="onDateEvent('startDate', $event)">
                  <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
                  <mat-datepicker #dateStart></mat-datepicker>
                </mat-form-field>
                <div class="mat-form-field-wrapper" style="width: 14px; padding-bottom: 4px;">
                  <div class="mat-form-field-flex">
                    <div class="mat-form-field-infix">
                      <mat-icon class="datepicker-cancel" (click)="reset('startDate')">cancel</mat-icon>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-2 col-sm-12 d-flex">
                <mat-form-field>
                  <mat-label>Updated end date</mat-label>
                  <input matInput [matDatepicker]="dateEnd" placeholder="Updated end date"
                         [min]="request.updatedDate.start"
                         (dateInput)="onDateEvent('endDate', $event)">
                  <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
                  <mat-datepicker #dateEnd></mat-datepicker>
                </mat-form-field>
                <div class="mat-form-field-wrapper" style="width: 14px; padding-bottom: 4px;">
                  <div class="mat-form-field-flex">
                    <div class="mat-form-field-infix">
                      <mat-icon class="datepicker-cancel" (click)="reset('endDate')">cancel</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </div>
    </score-search-bar>

    <mat-card-content class="mat-card-container">
      <div class="loading-container" *ngIf="loading">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>

      <div class="table-container">
        <div class="mat-elevation-z1 table-wrapper">
          <table mat-table matSort
                 multiTemplateDataRows
                 [matSortActive]="sort.active" [matSortDirection]="sort.direction"
                 [dataSource]="dataSource">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? toggle(row) : null"
                              [checked]="isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  score-table-column-resize [defaultWidth]="width('State')" (onResize)="onResizeWidth($event)"> State</th>
              <td mat-cell *matCellDef="let element">
              <span class="cl-state {{ element.state }}"
                    [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet(element.state).background,
                    'color': webPageInfo.getComponentStateColorSet(element.state).font}">{{ element.state | separate }}</span>
                <span *ngIf="element.deprecated" class="cl-state Deprecated"
                      [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('Deprecated').background,
                    'color': webPageInfo.getComponentStateColorSet('Deprecated').font}">Deprecated</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="codeListName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  score-table-column-resize [defaultWidth]="width('Name')" (onResize)="onResizeWidth($event)"> Name</th>
              <td mat-cell *matCellDef="let element">
                <div class="den word-break-all">
                  <a target="_blank" rel="noopener noreferrer" href="/code_list/{{ element.codeListManifestId }}">
                    <span>{{ element.codeListName }}</span>
                  </a>
                </div>
                <div class="description">{{ element.guid }}</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="basedCodeListName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  score-table-column-resize [defaultWidth]="width('Based Code List')" (onResize)="onResizeWidth($event)"> Based Code List</th>
              <td mat-cell *matCellDef="let element" matTooltip="{{ element.basedCodeListName }}">
                <a target="_blank" rel="noopener noreferrer"
                   routerLink="/code_list/{{ element.basedCodeListManifestId }}" *ngIf="element.basedCodeListManifestId > 0">
                  <fa-icon [icon]="faLocationArrow"></fa-icon>
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="agencyId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  score-table-column-resize [defaultWidth]="width('Agency ID')" (onResize)="onResizeWidth($event)"> Agency ID</th>
              <td mat-cell *matCellDef="let element" matTooltip="{{ element.agencyIdName }}"> {{ element.agencyId }}</td>
            </ng-container>

            <ng-container matColumnDef="versionId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  score-table-column-resize [defaultWidth]="width('Version')" (onResize)="onResizeWidth($event)"> Version</th>
              <td mat-cell *matCellDef="let element"> {{ element.versionId }}</td>
            </ng-container>

            <ng-container matColumnDef="extensible">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  score-table-column-resize [defaultWidth]="width('Extensible')" (onResize)="onResizeWidth($event)"> Extensible</th>
              <td mat-cell *matCellDef="let element" [ngSwitch]="element.extensible">
                <span *ngSwitchCase="true">Yes</span>
                <span *ngSwitchCase="false">No</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="revision">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  score-table-column-resize [defaultWidth]="width('Revision')" (onResize)="onResizeWidth($event)"> Revision</th>
              <td mat-cell *matCellDef="let element">
                <span>{{ element.revision }}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="owner">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  score-table-column-resize [defaultWidth]="width('Owner')" (onResize)="onResizeWidth($event)"> Owner</th>
              <td mat-cell *matCellDef="let element">
                <span [matTooltip]="element.owner">{{ element.owner }}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="module">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  score-table-column-resize [defaultWidth]="width('Module')" (onResize)="onResizeWidth($event)"> Module</th>
              <td mat-cell *matCellDef="let element">
                <div class="word-break-all">
                  <span [innerHTML]="element.modulePath"></span>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="lastUpdateTimestamp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                  score-table-column-resize [defaultWidth]="width('Updated On')" (onResize)="onResizeWidth($event)"> Updated on</th>
              <td mat-cell *matCellDef="let element">
                <div class="ellipsis">{{ element.lastUpdateTimestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
                <div class="description"><span class="pr-1">by</span><b>{{ element.lastUpdateUser }}</b></div>
              </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <div class="element-detail-wrapper">
                    <mat-card class="mb-2">
                      <mat-card-header class="element-detail-header" *ngIf="element.definitionSource">
                        <mat-card-subtitle class="element-detail-subtitle">{{ element.definitionSource }}</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <p [innerHTML]="element.definition" class="element-detail-content"></p>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
                [class.expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element; toggle(element);"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"
                (click)="toggle(row);"></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[10, 25, 50]"
            (page)="onPageChange($event)"
            showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="row action-group m-0">
    <div class="col-12 actions-wrap">
      <div class="actions">
        <button mat-raised-button color="primary" (click)="next()"
                [hidden]="dataSource.data.length == 0"
                [disabled]="this.targetRelease === undefined || this.selection.selected.length == 0">
          Uplift
        </button>
      </div>
    </div>
  </div>
</div>
