<div class="d-block">
  <div class="header d-flex align-items-center" mat-dialog-title>
    <span>BIEs reused '{{ data.den }}'</span>
    <div class="close pr-2">
      <button mat-icon-button mat-small-icon-button (click)="onNoClick()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="content" mat-dialog-content>
    <div class="table-container">
      <div class="mat-elevation-z1 table-wrapper">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="releaseNum">
            <th mat-header-cell *matHeaderCellDef
                score-table-column-resize [defaultWidth]="width('Release')" (onResize)="onResizeWidth($event)"> Release</th>
            <td mat-cell *matCellDef="let element">
              {{ element.releaseNum }}
            </td>
          </ng-container>

          <ng-container matColumnDef="reusingState">
            <th mat-header-cell *matHeaderCellDef
                score-table-column-resize [defaultWidth]="width('Reusing State')" (onResize)="onResizeWidth($event)"> State</th>
            <td mat-cell *matCellDef="let element">
          <span class="bie-state {{ element.reusingState }}"
                [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet(element.reusingState).background,
                'color': webPageInfo.getComponentStateColorSet(element.reusingState).font}">{{ element.reusingState }}</span>
              <span *ngIf="element.deprecated" class="bie-state Deprecated"
                    [matTooltip]="(!element.deprecatedReason ? '' : ('&#x2022; ' + element.deprecatedReason + '\n')) + (!element.deprecatedRemark ? '' : ('&#x2022; ' + element.deprecatedRemark))"
                    [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('Deprecated').background,
                    'color': webPageInfo.getComponentStateColorSet('Deprecated').font}">Deprecated</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="reusingDen">
            <th mat-header-cell *matHeaderCellDef
                score-table-column-resize [defaultWidth]="width('Reusing DEN')" (onResize)="onResizeWidth($event)"> DEN</th>
            <td mat-cell *matCellDef="let element">
              <div class="den word-break-all">
            <span *ngIf="isAccessibleLeft(element)">
              <a href="{{ getRouteLink(element) }}" target="_blank">
                {{ element.reusingDen + ((element.reusingDisplayName) ? (' (' + element.reusingDisplayName + ')') : '') }}
              </a>
            </span>
                <span *ngIf="!isAccessibleLeft(element)">
              {{ element.reusingDen }}
            </span>
              </div>
              <div class="bie-guid">{{ element.reusingGuid }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="reusingOwner">
            <th mat-header-cell *matHeaderCellDef
                score-table-column-resize [defaultWidth]="width('Reusing Owner')" (onResize)="onResizeWidth($event)"> Owner</th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element.reusingOwner }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="reusingVersion">
            <th mat-header-cell *matHeaderCellDef
                score-table-column-resize [defaultWidth]="width('Version')" (onResize)="onResizeWidth($event)"> Version</th>
            <td mat-cell *matCellDef="let element">
              <div class="word-break-all">{{ element.reusingVersion }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="reusingStatus">
            <th mat-header-cell *matHeaderCellDef
                score-table-column-resize [defaultWidth]="width('Reusing Status')" (onResize)="onResizeWidth($event)"> Status</th>
            <td mat-cell *matCellDef="let element">
              <div class="word-break-all">{{ element.reusingStatus }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="reusingRemark">
            <th mat-header-cell *matHeaderCellDef
                score-table-column-resize [defaultWidth]="width('Reusing Remark')" (onResize)="onResizeWidth($event)"> Remark</th>
            <td mat-cell *matCellDef="let element">
              <div>{{ element.reusingRemark }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="arrow">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <fa-icon [icon]="faRecycle"></fa-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="reusedState">
            <th mat-header-cell *matHeaderCellDef
                score-table-column-resize [defaultWidth]="width('Reused State')" (onResize)="onResizeWidth($event)"> State</th>
            <td mat-cell *matCellDef="let element">
          <span class="bie-state {{ element.reusedState }}"
                [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet(element.reusedState).background,
                'color': webPageInfo.getComponentStateColorSet(element.reusedState).font}">{{ element.reusedState }}</span>
              <span *ngIf="element.deprecated" class="bie-state Deprecated"
                    [matTooltip]="(!element.deprecatedReason ? '' : ('&#x2022; ' + element.deprecatedReason + '\n')) + (!element.deprecatedRemark ? '' : ('&#x2022; ' + element.deprecatedRemark))"
                    [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('Deprecated').background,
                    'color': webPageInfo.getComponentStateColorSet('Deprecated').font}">Deprecated</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="reusedDen">
            <th mat-header-cell *matHeaderCellDef
                score-table-column-resize [defaultWidth]="width('Reused DEN')" (onResize)="onResizeWidth($event)"> Reused</th>
            <td mat-cell *matCellDef="let element">
              <div class="den word-break-all">
            <span *ngIf="isAccessibleRight(element)">
              <a href="/profile_bie/{{element.reusedTopLevelAsbiepId}}" target="_blank">
                {{ element.reusedDen }}
              </a>
            </span>
                <span *ngIf="!isAccessibleRight(element)">
              {{ element.reusedDen }}
            </span>
              </div>
              <div class="bie-guid">{{ element.reusedGuid }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="reusedOwner">
            <th mat-header-cell *matHeaderCellDef
                score-table-column-resize [defaultWidth]="width('Reused Owner')" (onResize)="onResizeWidth($event)"> Owner</th>
            <td mat-cell *matCellDef="let element">
              <span class="word-break-all">{{ element.reusedOwner }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="reusedVersion">
            <th mat-header-cell *matHeaderCellDef
                score-table-column-resize [defaultWidth]="width('Reused Version')" (onResize)="onResizeWidth($event)"> Version</th>
            <td mat-cell *matCellDef="let element">
              <div class="word-break-all">{{ element.reusedVersion }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="reusedStatus">
            <th mat-header-cell *matHeaderCellDef
                score-table-column-resize [defaultWidth]="width('Reused Status')" (onResize)="onResizeWidth($event)"> Status</th>
            <td mat-cell *matCellDef="let element">
              <div class="word-break-all">{{ element.reusedStatus }}</div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="actions ml-auto" mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
      Close
    </button>
  </div>
</div>
