.filter-container {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.option-header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.option-body {
  padding-top: 13px;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.mat-mdc-card-content p {
  font-family: 'Roboto', 'sans-serif';
  margin-bottom: 0.5rem;
}

.mat-mdc-card-content {
  margin-bottom: 0;
}

.mat-column-prefix, .mat-column-owner, .mat-column-std{
  width: 100px;
}

.mat-column-lastUpdateTimestamp {
  width: 160px;
}

.mat-column-more, .mat-column-transferOwnership {
  width: 40px;
}
