<section class="container-fluid">
  <div class="row">
    <div class="col-4" style="margin: 50px auto;">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Account is disabled</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Your account is disabled by the administrator. Contact the administrator for help.</p>
          <p>To sign in to another account, please click <a href="" class="pointer btn-link" (click)="this.auth.logout()">here</a>.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
