.blue {
  color: #0000cd;
}

.bright-red {
  color: #ff0000;
}

.dull-red {
  color: #cd5c5c;
}

.green {
  color: #008000;
}

mat-chip-list:focus {
  outline: 0;
  border: 0;
}

.mat-column-value, .mat-column-name {
  width: 10%;
}

.w70 {
  width: 70px;
}

.btn-comment {
  padding-left: 10px;
  cursor: pointer;
}

.close {
  cursor: pointer;
}

.display-flow-root {
  display: flow-root;
}
