<div class="context-section">
  <div class="pl-2 pr-2">
    <mat-toolbar class="bg-white">
      <span class="title">{{ title }}</span>
      <span class="flex-11-auto"></span>
      <button mat-raised-button class="ml-2" color="primary" routerLink="create">
        New Context Scheme
      </button>
      <button mat-raised-button class="ml-2" color="warn" (click)="discard()"
              [disabled]="selection.selected.length === 0">
        Discard
      </button>
    </mat-toolbar>
  </div>

  <mat-card class="pt-3">
    <mat-card class="search-box">
      <mat-card-content class="mat-card-container">
        <div class="container-fluid" style="padding: 0;">
          <div class="row">
            <div class="col-md-2 col-sm-12">
              <mat-form-field>
                <mat-label>Updater</mat-label>
                <mat-select [(ngModel)]="request.updaterUsernameList" multiple>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="updaterIdListFilterCtrl"
                                           [placeholderLabel]="'Search...'"
                                           [noEntriesFoundLabel]="'No matching updater found.'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let loginId of filteredUpdaterIdList | async" [value]="loginId">
                    {{loginId}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-2 col-sm-12 d-flex">
              <mat-form-field>
                <input matInput [matDatepicker]="dateStart" placeholder="Updated start date"
                       [max]="request.updatedDate.end"
                       (dateInput)="onDateEvent('startDate', $event)">
                <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
                <mat-datepicker #dateStart></mat-datepicker>
              </mat-form-field>
              <div class="mat-form-field-wrapper" style="width: 14px;">
                <div class="mat-form-field-flex">
                  <div class="mat-form-field-infix">
                    <mat-icon class="datepicker-cancel" (click)="reset('startDate')">cancel</mat-icon>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-2 col-sm-12 d-flex">
              <mat-form-field>
                <input matInput [matDatepicker]="dateEnd" placeholder="Updated end date"
                       [min]="request.updatedDate.start"
                       (dateInput)="onDateEvent('endDate', $event)">
                <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
                <mat-datepicker #dateEnd></mat-datepicker>
              </mat-form-field>
              <div class="mat-form-field-wrapper" style="width: 14px;">
                <div class="mat-form-field-flex">
                  <div class="mat-form-field-infix">
                    <mat-icon class="datepicker-cancel" (click)="reset('endDate')">cancel</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid" style="padding: 0;">
            <div class="row">
              <div class="col-md-2 col-sm-12">
                <mat-form-field>
                  <input matInput [(ngModel)]="request.filters.name"
                         (ngModelChange)="onChange('filters.name', request.filters.name)"
                         (keyup.enter)="this.paginator.pageIndex = 0; this.loadContextSchemeList();"
                         placeholder="Name">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit"
                (click)="this.paginator.pageIndex = 0; this.loadContextSchemeList();">
          <mat-icon>search</mat-icon>
          Search
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card-content class="mat-card-container">
      <div class="mat-elevation-z1">
        <table mat-table
               matSort [matSortActive]="sort.active" [matSortDirection]="sort.direction" [matSortStart]="'desc'"
               [dataSource]="dataSource">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" [disabled]="row.used"
                            matTooltip="It is currently in use by another component."
                            [matTooltipDisabled]="!row.used"
                            (change)="$event ? toggle(row) : null"
                            [checked]="isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="schemeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td mat-cell *matCellDef="let element">
              <div class="schemeName word-break-all">
                <a routerLink="{{ element.contextSchemeId }}">
                  <span>{{ element.schemeName }}</span>
                </a>
              </div>
              <div class="description">{{ element.guid }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="contextCategoryName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Context Category</th>
            <td mat-cell *matCellDef="let element">
              <a target="_blank" rel="noopener noreferrer"
                 href="/context_management/context_category/{{ element.contextCategoryId }}">
                <span>{{ element.contextCategoryName }}</span>
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="schemeId">
            <th mat-header-cell *matHeaderCellDef> Scheme ID</th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.codeListId">
                <a target="_blank" rel="noopener noreferrer"
                   href="/code_list/{{ element.codeListId }}">
                  <span>{{ element.codeListName }}</span>
                  <span class="description word-break-all">{{ element.schemeId }}</span>
                </a>
              </div>
              <div *ngIf="!element.codeListId">
                <span class="word-break-all">{{ element.schemeId }}</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="schemeAgencyId">
            <th mat-header-cell *matHeaderCellDef> Agency ID</th>
            <td mat-cell *matCellDef="let element">
              <span class="word-break-all">{{ element.schemeAgencyId }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="schemeVersionId">
            <th mat-header-cell *matHeaderCellDef> Version</th>
            <td mat-cell *matCellDef="let element">
              <span class="word-break-all">{{ element.schemeVersionId }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="lastUpdateTimestamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated on</th>
            <td mat-cell *matCellDef="let element">
              <div class="ellipsis">{{ element.lastUpdateTimestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
              <div class="description"><span class="pr-1">by</span><b>{{ element.lastUpdatedBy.username }}</b></div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="toggle(row)"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[10, 25, 50]"
          (page)="onPageChange($event)"
          showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>





