<div class="context-section">
  <mat-card class="pt-4 pb-2">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card class="mb-2">
      <mat-card-content class="mat-card-container">
        <mat-form-field>
          <mat-label>Business Term</mat-label>
          <input disabled="true" matInput required [(ngModel)]="assignedBusinessTerm.businessTerm" maxlength="255"/>
        </mat-form-field>

        <mat-form-field>
          <input disabled="true" matInput placeholder="External Reference URI" [(ngModel)]="assignedBusinessTerm.externalReferenceUri" maxlength="45"/>
          <button mat-button matSuffix  mat-icon-button aria-label="Clear" (click)=followTheExternalUri()>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label>BIE</mat-label>
          <input disabled="true" matInput required [(ngModel)]="assignedBusinessTerm.den" maxlength="255"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>BIE Type</mat-label>
          <input disabled="true" matInput [(ngModel)]="assignedBusinessTerm.bieType" maxlength="45"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Type Code</mat-label>
          <input matInput [(ngModel)]="assignedBusinessTerm.typeCode" maxlength="45"/>
        </mat-form-field>

        <mat-form-field>
          <input hidden=true matInput>
          <mat-checkbox matInput
                        [(ngModel)]="assignedBusinessTerm.primary">
            Preferred Business Term
          </mat-checkbox>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </mat-card>

  <div class="row action-group m-0">
    <div class="col-12 actions-wrap">
      <div class="actions">
        <button mat-raised-button color="primary" (click)="update()"
                [disabled]="!isChanged() || isDisabled()">
          Update
        </button>
        <button mat-raised-button color="warn" (click)="discard()">
          Discard
        </button>
      </div>
    </div>
  </div>
</div>
