<div class="context-section">
  <div class="pl-2 pr-2">
    <mat-toolbar class="bg-white">
      <span class="title">{{ title }}</span>
      <span class="flex-11-auto"></span>
    </mat-toolbar>
  </div>

  <div class="p-3">
    <mat-card>
      <mat-card-content class="mat-card-container">
        <mat-form-field>
          <mat-label>Business Term</mat-label>
          <input disabled="true" matInput required [(ngModel)]="assignedBusinessTerm.businessTerm" maxlength="255"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>External Reference URI</mat-label>
          <div class="d-flex align-items-center">
            <input disabled="true" matInput required placeholder="External Reference URI"
                   [(ngModel)]="assignedBusinessTerm.externalReferenceUri" maxlength="45"/>
            <button mat-icon-button mat-small-icon-button aria-label="Clear" (click)="followTheExternalUri()">
              <mat-icon>link</mat-icon>
            </button>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-label>BIE</mat-label>
          <input disabled="true" matInput required [(ngModel)]="assignedBusinessTerm.den" maxlength="255"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>BIE Type</mat-label>
          <input disabled="true" matInput [(ngModel)]="assignedBusinessTerm.bieType" maxlength="45"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Type Code</mat-label>
          <input matInput [(ngModel)]="assignedBusinessTerm.typeCode" maxlength="45"/>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="assignedBusinessTerm.primary">
          Preferred Business Term
        </mat-checkbox>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row action-group m-0">
    <div class="col-12 actions-wrap">
      <div class="actions">
        <button mat-raised-button color="primary" (click)="update()"
                [disabled]="!isChanged() || isDisabled()">
          Update
        </button>
        <button mat-raised-button color="warn" (click)="discard()">
          Discard
        </button>
      </div>
    </div>
  </div>
</div>
