<mat-toolbar>
  <mat-toolbar-row>

    <a class="navbar-brand" routerLink="">
      <img [src]="['assets/images/oagi.png']" width="126" height="38"/>
    </a>

    <button mat-button [matMenuTriggerFor]="bieMenu" title="{{'BIE_NAV.TITLE'| translate}}">BIE</button>
    <mat-menu #bieMenu="matMenu" [overlapTrigger]="false">
      <ng-template matMenuContent>
        <button mat-menu-item routerLink="profile_bie" title="{{'BIE_NAV.VIEW'| translate}}"> View/Edit BIE</button>
        <button mat-menu-item routerLink="profile_bie/create" title="{{ 'BIE_NAV.CREATE' | translate}}">
          Create BIE
        </button>
        <button mat-menu-item routerLink="profile_bie/copy" title="{{'BIE_NAV.COPY'| translate}}">Copy BIE</button>
        <button mat-menu-item routerLink="profile_bie/express" title="{{'BIE_NAV.GENERATE'| translate}}">
          Express BIE
        </button>
      </ng-template>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="codeListMenu">Code List</button>
    <mat-menu #codeListMenu="matMenu" [overlapTrigger]="false">
      <ng-template matMenuContent>
        <button mat-menu-item routerLink="code_list">View/Edit Code List</button>
        <button mat-menu-item routerLink="code_list/create">Create Code List</button>
        <button mat-menu-item routerLink="code_list/create/from_another">Derive Code List</button>
      </ng-template>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="contextMenu">Context</button>
    <mat-menu #contextMenu="matMenu" [overlapTrigger]="false">
      <ng-template matMenuContent>
        <button mat-menu-item routerLink="context_management/context_category">Context Category</button>
        <button mat-menu-item routerLink="context_management/context_scheme">Context Scheme</button>
        <button mat-menu-item routerLink="context_management/business_context">Business Context</button>
      </ng-template>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="ccMenu" title="{{'CC_NAV.TITLE' | translate}}">Core Component</button>
    <mat-menu #ccMenu="matMenu" [overlapTrigger]="false">
      <ng-template matMenuContent>
        <button mat-menu-item routerLink="core_component">View CC</button>
      </ng-template>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="adminMenu" *ngIf="userToken.role === 'developer'">Admin</button>
    <mat-menu #adminMenu="matMenu" [overlapTrigger]="false">
      <ng-template matMenuContent>
        <button mat-menu-item routerLink="account">Accounts</button>
      </ng-template>
    </mat-menu>

    <span class="fill-remaining-space"></span>

    <button mat-button [matMenuTriggerFor]="help">Help</button>
    <mat-menu #help="matMenu" [overlapTrigger]="false">
      <ng-template matMenuContent>
        <button mat-menu-item routerLink="about">About</button>
        <button mat-menu-item>
          <a target="_blank" rel="noopener noreferrer" href="/docs/">
            User Guide
          </a>
        </button>
      </ng-template>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="settingMenu">{{ userToken.username }}</button>
    <mat-menu #settingMenu="matMenu" [overlapTrigger]="false">
      <ng-template matMenuContent>
        <button mat-menu-item class="disabled" disabled="disabled">Signed in as {{ userToken.username }}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="languageCurrentOagis(translate)">
          <mat-icon *ngIf="!getActiveCcts(translate)">done</mat-icon>
          <span>OAGIS Terminology </span>
        </button>
        <button mat-menu-item (click)="languageCurrentCcts(translate)">
          <mat-icon *ngIf="getActiveCcts(translate)">done</mat-icon>
          <span>CCTS Terminology </span>
        </button>

        <mat-divider></mat-divider>

        <button mat-menu-item routerLink="settings">Settings</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </ng-template>
    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>
