.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.score-navbar .dropdown-menu, .score-navbar a {
  font-size: 13px;
  color: #333;
}

.mat-menu-item {
  font-size: 13px;
}

mat-toolbar button:focus, .mat-menu-item:focus {
  border: none;
  outline: none;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-toolbar-row a, .mat-menu-item a {
  text-decoration: none;
  color: inherit;
}

.navbar-brand > img {
  border: 0;
  padding: 0;
  margin: 0px 15px 0 15px !important;
}

.beta {
  display: inline-block;
  font-weight: 500;
  border-radius: 100px;
  font-size: 12px;
  line-height: 20px;
  padding: 0px 8px;
  margin-bottom: -1px;
  border: 1px solid green;
  box-shadow: none;
  color: green;
  background-color: transparent;
}
