.filter-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.option-header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.option-body {
  padding-top: 0;
}

.toggle-disabled {
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.5);
  color: rgba(102, 102, 102, 0.5);
}

.generate-option {
  padding: 0;
}

.generate-second-option {
  padding-left: 20px;
}

.dependent-option {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.option-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.option-radio-button {
  margin: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.filename-option {
  padding-top: 5px;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.bie-guid {
  font-size: 11px !important;
  color: #767676 !important;
}

.bie-source, .bie-based {
  font-size: 11px !important;
  color: #767676 !important;
}

.mat-column-owner {
  font-size: 13px;
}

/* @TODO: <mat-select>'s width should be synchronized with the <th>'s width. */
.mat-column-businessContexts mat-select {
  width: 140px;
}
