.filter-container {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.option-header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.option-body {
  padding-top: 13px;
}

.additional-selection {
  opacity: 0.75;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.bie-guid {
  font-size: 11px !important;
  color: #767676 !important;
}

.bie-source {
  font-size: 11px !important;
  color: #767676 !important;
}

.mat-mdc-card-content p {
  font-family: 'Roboto', 'sans-serif';
  margin-bottom: 0.5rem;
}

.mat-mdc-card-content {
  margin-bottom: 0;
}

mat-toolbar > .mat-icon-button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  outline: none;
}

.mat-icon-button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  outline: none;
}

.mat-column-versionId {
  width: 10%;
}

.mat-column-versionName {
  width: 15%;
}

.mat-column-state {
  width: 100px;
}

.mat-column-branch {
  width: 80px;
}

.mat-column-owner {
  width: 140px;
  font-size: 13px;
}

.mat-column-lastUpdateTimestamp {
  width: 160px;
}

.mat-column-more {
  width: 40px;
}
