<mat-tab-group mat-align-tabs="start" animationDuration="0ms">
  <mat-tab label="What's New">
    <div class="d-block">
      <div class="header d-flex align-items-center" mat-dialog-title>
        <span>What's New</span>
        <div class="close pe-2">
          <button mat-icon-button mat-small-icon-button (click)="onNoClick()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <div class="content" mat-dialog-content>
        @if (newACCs.length > 0) {
          <div class="new-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ newACCs.length }} new ACC{{ newACCs.length > 1 ? 's' : ''}} {{ getTagInfo(newACCs) }}</h2>
            <div class="new-components-row row">
              @for (newACC of newACCs; track newACC) {
                <ul class="new-component col-4 mb-1">
                  <li>
                    <div>
                      <a href="/core_component/acc/{{ newACC.manifestId }}">
                        <span>{{ newACC.den }}</span>
                      </a>
                      <div class="tag-list">
                        @for (tag of newACC.tagList; track tag) {
                          <span class="tag ms-2"
                            [style.background-color]="tag.backgroundColor"
                          [style.color]="tag.textColor">{{ tag.name }}</span>
                        }
                      </div>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
        @if (newASCCPs.length > 0) {
          <div class="new-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ newASCCPs.length }} new ASCCP{{ newASCCPs.length > 1 ? 's' : ''}} {{ getTagInfo(newASCCPs) }}</h2>
            <div class="new-components-row row">
              @for (newASCCP of newASCCPs; track newASCCP) {
                <ul class="new-component col-4 mb-1">
                  <li>
                    <div>
                      <a href="/core_component/asccp/{{ newASCCP.manifestId }}">
                        <span>{{ newASCCP.den }}</span>
                      </a>
                      <div class="tag-list">
                        @for (tag of newASCCP.tagList; track tag) {
                          <span class="tag ms-2"
                            [style.background-color]="tag.backgroundColor"
                          [style.color]="tag.textColor">{{ tag.name }}</span>
                        }
                      </div>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
        @if (newBCCPs.length > 0) {
          <div class="new-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ newBCCPs.length }} new BCCP{{ newBCCPs.length > 1 ? 's' : ''}} {{ getTagInfo(newBCCPs) }}</h2>
            <div class="new-components-row row">
              @for (newBCCP of newBCCPs; track newBCCP) {
                <ul class="new-component col-4 mb-1">
                  <li>
                    <div>
                      <a href="/core_component/bccp/{{ newBCCP.manifestId }}">
                        <span>{{ newBCCP.den }}</span>
                      </a>
                      <div class="tag-list">
                        @for (tag of newBCCP.tagList; track tag) {
                          <span class="tag ms-2"
                            [style.background-color]="tag.backgroundColor"
                          [style.color]="tag.textColor">{{ tag.name }}</span>
                        }
                      </div>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
        @if (newASCCs.length > 0) {
          <div class="new-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ newASCCs.length }} new ASCC{{ newASCCs.length > 1 ? 's' : ''}}</h2>
            <div class="new-components-row row">
              @for (newASCC of newASCCs; track newASCC) {
                <ul class="new-component col-4 mb-1">
                  <li>
                    <div>
                      <span>{{ newASCC.den }}</span>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
        @if (newBCCs.length > 0) {
          <div class="new-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ newBCCs.length }} new BCC{{ newBCCs.length > 1 ? 's' : ''}}</h2>
            <div class="new-components-row row">
              @for (newBCC of newBCCs; track newBCC) {
                <ul class="new-component col-4 mb-1">
                  <li>
                    <div>
                      <span>{{ newBCC.den }}</span>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
        @if (newDTs.length > 0) {
          <div class="new-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ newDTs.length }} new DT{{ newDTs.length > 1 ? 's' : ''}} {{ getTagInfo(newDTs) }}</h2>
            <div class="new-components-row row">
              @for (newDT of newDTs; track newDT) {
                <ul class="new-component col-4 mb-1">
                  <li>
                    <div>
                      <a href="/core_component/dt/{{ newDT.manifestId }}">
                        <span>{{ newDT.den }}</span>
                      </a>
                      <div class="tag-list">
                        @for (tag of newDT.tagList; track tag) {
                          <span class="tag ms-2"
                            [style.background-color]="tag.backgroundColor"
                          [style.color]="tag.textColor">{{ tag.name }}</span>
                        }
                      </div>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
        @if (newCodeLists.length > 0) {
          <div class="new-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ newCodeLists.length }} new Code List{{ newCodeLists.length > 1 ? 's' : ''}} {{ getTagInfo(newCodeLists) }}</h2>
            <div class="new-components-row row">
              @for (newCodeList of newCodeLists; track newCodeList) {
                <ul class="new-component col-4 mb-1">
                  <li>
                    <div>
                      <a href="/code_list/{{ newCodeList.manifestId }}">
                        <span>{{ newCodeList.den }}</span>
                      </a>
                      <div class="tag-list">
                        @for (tag of newCodeList.tagList; track tag) {
                          <span class="tag ms-2"
                            [style.background-color]="tag.backgroundColor"
                          [style.color]="tag.textColor">{{ tag.name }}</span>
                        }
                      </div>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
        @if (newAgencyIdLists.length > 0) {
          <div class="new-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ newAgencyIdLists.length }} new Agency ID List{{ newAgencyIdLists.length > 1 ? 's' : ''}} {{ getTagInfo(newAgencyIdLists) }}</h2>
            <div class="new-components-row row">
              @for (newAgencyIdList of newAgencyIdLists; track newAgencyIdList) {
                <ul class="new-component col-4 mb-1">
                  <li>
                    <div>
                      <a href="/agency_id_list/{{ newAgencyIdList.manifestId }}">
                        <span>{{ newAgencyIdList.den }}</span>
                      </a>
                      <div class="tag-list">
                        @for (tag of newAgencyIdList.tagList; track tag) {
                          <span class="tag ms-2"
                            [style.background-color]="tag.backgroundColor"
                          [style.color]="tag.textColor">{{ tag.name }}</span>
                        }
                      </div>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
      </div>
    </div>
  </mat-tab>
  <mat-tab label="What's Revised">
    <div class="d-block">
      <div class="header d-flex align-items-center" mat-dialog-title>
        <span>What's Revised</span>
        <div class="close pe-2">
          <button mat-icon-button mat-small-icon-button (click)="onNoClick()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <div class="content" mat-dialog-content>
        @if (revisedACCs.length > 0) {
          <div class="revised-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ revisedACCs.length }} revised ACC{{ revisedACCs.length > 1 ? 's' : ''}} {{ getTagInfo(revisedACCs) }}</h2>
            <div class="revised-components-row row">
              @for (revisedACC of revisedACCs; track revisedACC) {
                <ul class="revised-component col-4 mb-1">
                  <li>
                    <div>
                      <a href="/core_component/acc/{{ revisedACC.manifestId }}">
                        <span>{{ revisedACC.den }}</span>
                      </a>
                      <div class="tag-list">
                        @for (tag of revisedACC.tagList; track tag) {
                          <span class="tag ms-2"
                            [style.background-color]="tag.backgroundColor"
                          [style.color]="tag.textColor">{{ tag.name }}</span>
                        }
                      </div>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
        @if (revisedASCCPs.length > 0) {
          <div class="revised-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ revisedASCCPs.length }} revised ASCCP{{ revisedASCCPs.length > 1 ? 's' : ''}} {{ getTagInfo(revisedASCCPs) }}</h2>
            <div class="revised-components-row row">
              @for (revisedASCCP of revisedASCCPs; track revisedASCCP) {
                <ul class="revised-component col-4 mb-1">
                  <li>
                    <div>
                      <a href="/core_component/asccp/{{ revisedASCCP.manifestId }}">
                        <span>{{ revisedASCCP.den }}</span>
                      </a>
                      <div class="tag-list">
                        @for (tag of revisedASCCP.tagList; track tag) {
                          <span class="tag ms-2"
                            [style.background-color]="tag.backgroundColor"
                          [style.color]="tag.textColor">{{ tag.name }}</span>
                        }
                      </div>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
        @if (revisedBCCPs.length > 0) {
          <div class="revised-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ revisedBCCPs.length }} revised BCCP{{ revisedBCCPs.length > 1 ? 's' : ''}} {{ getTagInfo(revisedBCCPs) }}</h2>
            <div class="revised-components-row row">
              @for (revisedBCCP of revisedBCCPs; track revisedBCCP) {
                <ul class="revised-component col-4 mb-1">
                  <li>
                    <div>
                      <a href="/core_component/bccp/{{ revisedBCCP.manifestId }}">
                        <span>{{ revisedBCCP.den }}</span>
                      </a>
                      <div class="tag-list">
                        @for (tag of revisedBCCP.tagList; track tag) {
                          <span class="tag ms-2"
                            [style.background-color]="tag.backgroundColor"
                          [style.color]="tag.textColor">{{ tag.name }}</span>
                        }
                      </div>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
        @if (revisedASCCs.length > 0) {
          <div class="revised-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ revisedASCCs.length }} revised ASCC{{ revisedASCCs.length > 1 ? 's' : ''}}</h2>
            <div class="revised-components-row row">
              @for (revisedASCC of revisedASCCs; track revisedASCC) {
                <ul class="revised-component col-4 mb-1">
                  <li>
                    <div>
                      <span>{{ revisedASCC.den }}</span>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
        @if (revisedBCCs.length > 0) {
          <div class="revised-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ revisedBCCs.length }} revised BCC{{ revisedBCCs.length > 1 ? 's' : ''}}</h2>
            <div class="revised-components-row row">
              @for (revisedBCC of revisedBCCs; track revisedBCC) {
                <ul class="revised-component col-4 mb-1">
                  <li>
                    <div>
                      <span>{{ revisedBCC.den }}</span>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
        @if (revisedDTs.length > 0) {
          <div class="revised-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ revisedDTs.length }} revised DT{{ revisedDTs.length > 1 ? 's' : ''}} {{ getTagInfo(revisedDTs) }}</h2>
            <div class="revised-components-row row">
              @for (revisedDT of revisedDTs; track revisedDT) {
                <ul class="revised-component col-4 mb-1">
                  <li>
                    <div>
                      <a href="/core_component/dt/{{ revisedDT.manifestId }}">
                        <span>{{ revisedDT.den }}</span>
                      </a>
                      <div class="tag-list">
                        @for (tag of revisedDT.tagList; track tag) {
                          <span class="tag ms-2"
                            [style.background-color]="tag.backgroundColor"
                          [style.color]="tag.textColor">{{ tag.name }}</span>
                        }
                      </div>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
        @if (revisedCodeLists.length > 0) {
          <div class="revised-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ revisedCodeLists.length }} revised Code List{{ revisedCodeLists.length > 1 ? 's' : ''}} {{ getTagInfo(revisedCodeLists) }}</h2>
            <div class="revised-components-row row">
              @for (revisedCodeList of revisedCodeLists; track revisedCodeList) {
                <ul class="revised-component col-4 mb-1">
                  <li>
                    <div>
                      <a href="/code_list/{{ revisedCodeList.manifestId }}">
                        <span>{{ revisedCodeList.den }}</span>
                      </a>
                      <div class="tag-list">
                        @for (tag of revisedCodeList.tagList; track tag) {
                          <span class="tag ms-2"
                            [style.background-color]="tag.backgroundColor"
                          [style.color]="tag.textColor">{{ tag.name }}</span>
                        }
                      </div>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
        @if (revisedAgencyIdLists.length > 0) {
          <div class="revised-components-container container-fluid pt-2 pb-2">
            <h2 class="title pb-2">{{ revisedAgencyIdLists.length }} revised Agency ID List{{ revisedAgencyIdLists.length > 1 ? 's' : ''}} {{ getTagInfo(revisedAgencyIdLists) }}</h2>
            <div class="revised-components-row row">
              @for (revisedAgencyIdList of revisedAgencyIdLists; track revisedAgencyIdList) {
                <ul class="revised-component col-4 mb-1">
                  <li>
                    <div>
                      <a href="/agency_id_list/{{ revisedAgencyIdList.manifestId }}">
                        <span>{{ revisedAgencyIdList.den }}</span>
                      </a>
                      <div class="tag-list">
                        @for (tag of revisedAgencyIdList.tagList; track tag) {
                          <span class="tag ms-2"
                            [style.background-color]="tag.backgroundColor"
                          [style.color]="tag.textColor">{{ tag.name }}</span>
                        }
                      </div>
                    </div>
                  </li>
                </ul>
              }
            </div>
          </div>
        }
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
