<div class="container">
  <div class="markdown-body">
    <h2>Objective</h2>
    <p>To advance semantic precision of interface definitions exposing OAGIS</p>

    <h2>Scope</h2>
    <p>Develop a meta-model for holding OAGIS data model</p>
    <ul>
      <li>Allow for import of OAGIS developer schemas</li>
      <li>Allow for precise content contextualization</li>
    </ul>
    <p>Implement a prototype, open source tool, which in addition to above requirements</p>
    <ul>
      <li>Allow for export of OAGIS contextualized profile schema</li>
      <li>Allow for import of OAGIS contextualized profile schema</li>
    </ul>
    <h2>Future scope</h2>
    <ul>
      <li>Round trip export of OAGIS developer schemas</li>
      <li>OWL/RDF model</li>
      <li>OAGIS semantic content life-cycle management</li>
    </ul>
    <img [src]="['assets/images/oag_main.png']" width="800" height="450"
         style="border:0; margin-top: 20px; padding:0;"/>
  </div>
</div>
