<div class="container">
  <mat-tab-group>
    <mat-tab label="BIEs">
      <div class="row m-0">
        <div class="col-lg-5 col-md-12 col-sm-12">
          <div class="box total-bies-by-states">
            <div class="header">
              <p>Total BIEs by states</p>
            </div>
            <div class="content">
              <score-state-progress-bar [data]="numberOfTotalBieByStates"></score-state-progress-bar>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
          <div class="box my-bies-by-states">
            <div class="header">
              <p>My BIEs by states</p>
            </div>
            <div class="content">
              <score-state-progress-bar [data]="numberOfMyBieByStates"></score-state-progress-bar>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12">
          <mat-form-field>
            <mat-label>Branch</mat-label>
            <mat-select [(ngModel)]="selectedRelease" (ngModelChange)="onChangeRelease()">
              <mat-option>
                <ngx-mat-select-search [formControl]="releaseListFilterCtrl"
                                       [placeholderLabel]="'Search...'"
                                       [noEntriesFoundLabel]="'No matching release found.'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let release of releaseFilteredList | async" [value]="release">
                {{ release.releaseNum }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="box bies-by-users-and-states">
            <div class="header">
              <p>BIEs by users and states</p>
            </div>
            <div class="content">
              <div class="container" *ngIf="numberOfBiesByUsers_usernameList.length > 0">
                <div class="row">
                  <div class="col-md-2 col-sm-12" style="padding-bottom: 0;">
                    <mat-form-field>
                      <mat-label>User</mat-label>
                      <mat-select [(ngModel)]="numberOfBiesByUsers_usernameModel" multiple
                                  (ngModelChange)="applyFilter(numberOfBiesByUsersAndStates, numberOfBiesByUsers_usernameModel)">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="numberOfBiesByUsers_usernameListFilterCtrl"
                                                 [placeholderLabel]="'Search...'"
                                                 [noEntriesFoundLabel]="'No matching user found.'"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let loginId of numberOfBiesByUsers_usernameFilteredList | async" [value]="loginId">
                          {{ loginId }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <table mat-table matSort #numberOfBiesByUsersAndStatesSort="matSort"
                     matSortActive="username"
                     matSortDirection="asc"
                     [dataSource]="numberOfBiesByUsersAndStates">
                <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
                  <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/profile_bie']"
                       [class.disabled]="selectedRelease.releaseId < 0"
                       [queryParams]="{q: q([
                       {key: 'ownerLoginIds', value: element.username},
                       {key: 'releaseId', value: selectedRelease.releaseId}])}">
                      {{ element.username }}
                    </a>
                  </td>
                </ng-container>
                <ng-container matColumnDef="WIP">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> WIP</th>
                  <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/profile_bie']"
                       [class.disabled]="selectedRelease.releaseId < 0"
                       [queryParams]="{q: q([
                       {key: 'states', value: 'WIP'},
                       {key: 'ownerLoginIds', value: element.username},
                       {key: 'releaseId', value: selectedRelease.releaseId}]) }">
                      {{ element.WIP }}
                    </a>
                  </td>
                </ng-container>
                <ng-container matColumnDef="QA">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> QA</th>
                  <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/profile_bie']"
                       [class.disabled]="selectedRelease.releaseId < 0"
                       [queryParams]="{q: q([
                       {key: 'states', value: 'QA'},
                       {key: 'ownerLoginIds', value: element.username},
                       {key: 'releaseId', value: selectedRelease.releaseId}]) }">
                      {{ element.QA }}
                    </a>
                  </td>
                </ng-container>
                <ng-container matColumnDef="Production">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Production</th>
                  <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/profile_bie']"
                       [class.disabled]="selectedRelease.releaseId < 0"
                       [queryParams]="{q: q([
                       {key: 'states', value: 'Production'},
                       {key: 'ownerLoginIds', value: element.username},
                       {key: 'releaseId', value: selectedRelease.releaseId}]) }">
                      {{ element.Production }}
                    </a>
                  </td>
                </ng-container>
                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Total</th>
                  <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/profile_bie']"
                       [class.disabled]="selectedRelease.releaseId < 0"
                       [queryParams]="{q: q([
                       {key: 'ownerLoginIds', value: element.username},
                       {key: 'releaseId', value: selectedRelease.releaseId}]) }">
                      {{ element.total }}
                    </a>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['username', 'WIP', 'QA', 'Production', 'total']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['username', 'WIP', 'QA', 'Production', 'total'];"></tr>
              </table>
              <mat-paginator #numberOfBiesByUsersAndStatesPaginator
                             [hidden]="numberOfBiesByUsersAndStates.data.length <= 5"
                             [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-0">
        <div class="col-lg-12">
          <div class="box my-recent-bies">
            <div class="header">
              <p>My recent BIEs</p>
            </div>
            <div class="content">
              <table mat-table matSort #myRecentBIEsSort="matSort"
                     matSortActive="lastUpdateTimestamp"
                     matSortDirection="desc"
                     [dataSource]="myRecentBIEs">
                <ng-container matColumnDef="bieState">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> State</th>
                  <td mat-cell *matCellDef="let element">
                    <span class="bie-state {{ element.state }}">{{ element.state }}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="propertyTerm">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Property Term</th>
                  <td mat-cell *matCellDef="let element">
                    <div class="ellipsis d-flex">
                      <a routerLink="/profile_bie/{{ element.topLevelAsbiepId }}">
                        <span class="den ellipsis" style="margin-right: 10px;">{{ element.propertyTerm }}</span>
                      </a>
                    </div>
                    <div class="bie-guid ellipsis">{{ element.guid }}</div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="release">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Release</th>
                  <td mat-cell *matCellDef="let element">{{ element.releaseNum }}</td>
                </ng-container>

                <ng-container matColumnDef="businessContexts">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Business Contexts</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-chip-list class="ellipsis" *ngIf="element.businessContexts.length > 0" selectable="false">
                      <a target="_blank" rel="noopener noreferrer" *ngIf="element.businessContexts.length > 0"
                         href="/context_management/business_context/{{ element.businessContexts[0].businessContextId }}">
                        <mat-chip [matTooltip]="element.businessContexts[0].name"
                                  [matTooltipDisabled]="element.businessContexts[0].name.length <= 30">
                          {{ element.businessContexts[0].name | truncate: 30 }}
                        </mat-chip>
                      </a>
                      <a target="_blank" rel="noopener noreferrer"
                         routerLink="/profile_bie/{{ element.topLevelAsbiepId }}">
                        <mat-chip *ngIf="element.businessContexts.length > 1">{{ element.businessContexts.length - 1 }} more...</mat-chip>
                      </a>
                    </mat-chip-list>
                  </td>
                </ng-container>

                <ng-container matColumnDef="lastUpdateTimestamp">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated on</th>
                  <td mat-cell *matCellDef="let element">
                    <div class="ellipsis">{{ element.lastUpdateTimestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['bieState', 'propertyTerm', 'release', 'businessContexts', 'lastUpdateTimestamp']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['bieState', 'propertyTerm', 'release', 'businessContexts', 'lastUpdateTimestamp'];"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab [disabled]="isTenantInstance" label="User Extensions">
      <div class="row m-0">
        <div [classList]="isDeveloper ? 'col-lg-10 col-md-12 col-sm-12' : 'col-lg-5 col-md-12 col-sm-12'">
          <div class="box">
            <div class="header">
              <p>Total User Extensions by states</p>
            </div>
            <div class="content">
              <score-state-progress-bar [data]="numberOfTotalCcExtByStates"></score-state-progress-bar>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12" *ngIf="!isDeveloper">
          <div class="box">
            <div class="header">
              <p>My User Extensions by states</p>
            </div>
            <div class="content">
              <score-state-progress-bar [data]="numberOfMyCcExtByStates"></score-state-progress-bar>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12">
          <mat-form-field>
            <mat-label>Branch</mat-label>
            <mat-select [(ngModel)]="selectedRelease" (ngModelChange)="onChangeRelease()">
              <mat-option>
                <ngx-mat-select-search [formControl]="releaseListFilterCtrl"
                                       [placeholderLabel]="'Search...'"
                                       [noEntriesFoundLabel]="'No matching release found.'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let release of releaseFilteredList | async" [value]="release">
                {{ release.releaseNum }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="box cc-exts-by-users-and-states">
            <div class="header">
              <p>User Extensions by users and states</p>
            </div>
            <div class="content">
              <div class="container" *ngIf="numberOfCcExtsByUsers_usernameList.length > 0">
                <div class="row">
                  <div class="col-md-2 col-sm-12" style="padding-bottom: 0;">
                    <mat-form-field>
                      <mat-label>User</mat-label>
                      <mat-select [(ngModel)]="numberOfCcExtsByUsers_usernameModel" multiple
                                  (ngModelChange)="applyFilter(numberOfCcExtsByUsersAndStates, numberOfCcExtsByUsers_usernameModel)">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="numberOfCcExtsByUsers_usernameListFilterCtrl"
                                                 [placeholderLabel]="'Search...'"
                                                 [noEntriesFoundLabel]="'No matching user found.'"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let loginId of numberOfCcExtsByUsers_usernameFilteredList | async" [value]="loginId">
                          {{ loginId }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <table mat-table matSort #numberOfCcExtsByUsersAndStatesSort="matSort"
                     matSortActive="username"
                     matSortDirection="asc"
                     [dataSource]="numberOfCcExtsByUsersAndStates">
                <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
                  <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/core_component']"
                       [class.disabled]="selectedRelease.releaseId < 0"
                       [queryParams]="{q: q([
                       {key: 'ownerLoginIds', value: element.username},
                       {key: 'releaseId', value:  selectedRelease.releaseId},
                       {key: 'types', value:  ['ACC']},
                       {key: 'componentTypes', value: [UEGValue]}]) }">
                      {{ element.username }}
                    </a>
                  </td>
                </ng-container>
                <ng-container matColumnDef="WIP">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> WIP</th>
                  <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/core_component']"
                       [class.disabled]="selectedRelease.releaseId < 0"
                       [queryParams]="{q: q([
                       {key: 'states', value: 'WIP'},
                       {key: 'ownerLoginIds', value: element.username},
                       {key: 'releaseId', value:  selectedRelease.releaseId},
                       {key: 'types', value:  ['ACC']},
                       {key: 'componentTypes', value: [UEGValue]}]) }">
                      {{ element.WIP }}
                    </a>
                  </td>
                </ng-container>
                <ng-container matColumnDef="QA">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> QA</th>
                  <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/core_component']"
                       [class.disabled]="selectedRelease.releaseId < 0"
                       [queryParams]="{q: q([
                       {key: 'states', value: 'QA'},
                       {key: 'ownerLoginIds', value: element.username},
                       {key: 'releaseId', value:  selectedRelease.releaseId},
                       {key: 'componentType', value: 'User Extension Group'}]) }">
                      {{ element.QA }}
                    </a>
                  </td>
                </ng-container>
                <ng-container matColumnDef="Production">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Production</th>
                  <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/core_component']"
                       [class.disabled]="selectedRelease.releaseId < 0"
                       [queryParams]="{q: q([
                       {key: 'states', value: 'Production'},
                       {key: 'ownerLoginIds', value: element.username},
                       {key: 'releaseId', value:  selectedRelease.releaseId},
                       {key: 'componentType', value: 'User Extension Group'}]) }">
                      {{ element.Production }}
                    </a>
                  </td>
                </ng-container>
                <ng-container matColumnDef="Deleted">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Deleted</th>
                  <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/core_component']"
                       [class.disabled]="selectedRelease.releaseId < 0"
                       [queryParams]="{q: q([
                       {key: 'states', value: 'Deleted'},
                       {key: 'ownerLoginIds', value: element.username},
                       {key: 'releaseId', value: selectedRelease.releaseId},
                       {key: 'componentType', value: 'User Extension Group'}]) }">
                      {{ element.Deleted }}
                    </a>
                  </td>
                </ng-container>
                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Total</th>
                  <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/core_component']"
                       [class.disabled]="selectedRelease.releaseId < 0"
                       [queryParams]="{q: q([
                       {key: 'ownerLoginIds', value: element.username},
                       {key: 'releaseId', value:  selectedRelease.releaseId},
                       {key: 'componentType', value: 'User Extension Group'}]) }">
                      {{ element.total }}
                    </a>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['username', 'WIP', 'QA', 'Production', 'Deleted','total']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['username', 'WIP', 'QA', 'Production', 'Deleted','total'];"></tr>
              </table>
              <mat-paginator #numberOfCcExtsByUsersAndStatesPaginator
                             [hidden]="numberOfCcExtsByUsersAndStates.data.length <= 5"
                             [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0" *ngIf="!isDeveloper">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="box">
            <div class="header">
              <p>My unused extensions in BIEs</p>
            </div>
            <div class="content">
              <table mat-table matSort #myExtensionsUnusedInBIEsSort="matSort"
                     matSortActive="lastUpdateTimestamp"
                     matSortDirection="desc"
                     [dataSource]="myExtensionsUnusedInBIEs">
                <ng-container matColumnDef="state">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> State</th>
                  <td mat-cell *matCellDef="let element">
                    <span class="cc-state {{ element.state }}">{{ element.state }}</span>
                    <span *ngIf="element.deprecated" class="cc-state Deprecated">Deprecated</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="objectClassTerm">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> User Extension</th>
                  <td mat-cell *matCellDef="let element">
                    <div class="ellipsis d-flex">
                      <a routerLink="{{ '/core_component/node/extension/'  + element.manifestId }}">
                        <span class="den ellipsis" style="margin-right: 10px;">{{ element.objectClassTerm }}</span>
                      </a>
                    </div>
                    <div class="cc-guid ellipsis">{{ element.guid }}</div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="lastUpdateTimestamp">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated on</th>
                  <td mat-cell *matCellDef="let element">
                    <div class="ellipsis">{{ element.lastUpdateTimestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="bieState">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> BIE State</th>
                  <td mat-cell *matCellDef="let element">
                    <span class="bie-state {{ element.state }}">{{ element.state }}</span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="topLevelBIE">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Top-Level BIE</th>
                  <td mat-cell *matCellDef="let element">
                    <div class="ellipsis d-flex">
                      <a routerLink="/profile_bie/{{ element.topLevelAsbiepId }}">
                        <span class="den ellipsis" style="margin-right: 10px;">{{ element.propertyTerm }}</span>
                      </a>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="associationPropertyTerm">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Association Property Term</th>
                  <td mat-cell *matCellDef="let element">
                    <div class="ellipsis">{{ element.associationPropertyTerm }}</div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['state', 'objectClassTerm', 'lastUpdateTimestamp', 'bieState', 'topLevelBIE', 'associationPropertyTerm']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['state', 'objectClassTerm', 'lastUpdateTimestamp', 'bieState', 'topLevelBIE', 'associationPropertyTerm'];"></tr>
              </table>
              <mat-paginator #myExtensionsUnusedInBIEsPaginator
                             [hidden]="myExtensionsUnusedInBIEs.data.length <= 5"
                             [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
