<div class="context-section">
  <div class="pl-2 pr-2">
    <mat-toolbar class="bg-white">
      <span class="title">{{ title }}</span>
      <span class="flex-11-auto"></span>
      <button mat-icon-button class="ml-2" routerLink="create" matTooltip="New BIE">
        <mat-icon>add</mat-icon>
      </button>

      <button mat-icon-button class="ml-2" matTooltip="Move to WIP"
              [hidden]="!canToolbarAction('WIP')"
              (click)="multipleUpdate('WIP')">
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <button mat-icon-button class="ml-2" matTooltip="Move to QA"
              [hidden]="!canToolbarAction('QA')"
              (click)="multipleUpdate('QA')">
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <button mat-icon-button class="ml-2" matTooltip="Move to Production"
              [hidden]="!canToolbarAction('Production')"
              (click)="multipleUpdate('Production')">
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <button mat-icon-button class="ml-2" matTooltip="Back to WIP"
              [hidden]="!canToolbarAction('BackWIP')"
              (click)="multipleUpdate('WIP')">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <button mat-icon-button class="ml-2" matTooltip="Discard"
              [hidden]="selection.selected.length === 0"
              (click)="discardAllSelected()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button class="ml-2" matTooltip="Transfer Ownership"
              [hidden]="!canToolbarAction('Transfer')"
              (click)="openTransferDialogMultiple()">
        <mat-icon>swap_horiz</mat-icon>
      </button>
    </mat-toolbar>
  </div>

  <mat-card class="pt-3">
    <mat-card class="search-box">
      <mat-card-content class="mat-card-container">
        <div class="container-fluid" style="padding: 0;">
          <div class="row">
            <div class="col-md-2 col-sm-12">
              <mat-form-field>
                <mat-label>Branch</mat-label>
                <mat-select [(ngModel)]="request.releases" [multiple]="true">
                  <mat-select-trigger class="d-flex">
                    <span>{{ ((request.releases?.length || 0) > 0) ? request.releases[0].releaseNum : '' }}</span>
                    <span *ngIf="(request.releases?.length || 0) > 1" class="ml-2 additional-selection">
                      (+{{ (request.releases?.length || 0) - 1 }} {{ request.releases?.length === 2 ? 'other' : 'others' }})
                    </span>
                    <span class="f12 ml-auto pr-2 {{ request.releases?.[0].state }}" *ngIf="(request.releases?.length || 0) === 1">
                      {{ request.releases?.[0].state | separate }}
                    </span>
                  </mat-select-trigger>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="releaseListFilterCtrl"
                                           [placeholderLabel]="'Search...'" [showToggleAllCheckbox]="true"
                                           (toggleAll)="toggleAllForReleaseFilter($event)"
                                           [toggleAllCheckboxTooltipMessage]="'Select All / Unselect All'"
                                           [noEntriesFoundLabel]="'No matching branch found.'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let release of filteredReleaseList | async" [value]="release">
                    <div class="d-flex">
                      <span class="pl-2 release-num">{{ release.releaseNum }}</span>
                      <span class="f12 ml-auto pr-2 {{ release.state }}">
                        {{ release.state | separate }}
                      </span>
                    </div>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-12">
              <mat-form-field>
                <mat-label>State</mat-label>
                <mat-select [(ngModel)]="request.states" multiple>
                  <mat-option *ngFor="let state of states" [value]="state">
                    {{state}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-12">
              <mat-form-field>
                <mat-label>Deprecated</mat-label>
                <mat-select [(ngModel)]="request.deprecated" multiple>
                  <mat-option [value]="true">
                    True
                  </mat-option>
                  <mat-option [value]="false">
                    False
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="container-fluid" style="padding: 0;">
          <div class="row">
            <div class="col-md-2 col-sm-12">
              <mat-form-field>
                <mat-label>Owner</mat-label>
                <mat-select [(ngModel)]="request.ownerLoginIds" multiple>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="loginIdListFilterCtrl"
                                           [placeholderLabel]="'Search...'"
                                           [noEntriesFoundLabel]="'No matching owner found.'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let loginId of filteredLoginIdList | async" [value]="loginId">
                    {{loginId}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-12">
              <mat-form-field>
                <mat-label>Updater</mat-label>
                <mat-select [(ngModel)]="request.updaterLoginIds" multiple>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="updaterIdListFilterCtrl"
                                           [placeholderLabel]="'Search...'"
                                           [noEntriesFoundLabel]="'No matching updater found.'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let loginId of filteredUpdaterIdList | async" [value]="loginId">
                    {{loginId}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-12 d-flex">
              <mat-form-field>
                <mat-label>Updated start date</mat-label>
                <input matInput [matDatepicker]="dateStart" placeholder="Updated start date"
                       [max]="request.updatedDate.end"
                       (dateInput)="onDateEvent('startDate', $event)">
                <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
                <mat-datepicker #dateStart></mat-datepicker>
              </mat-form-field>
              <div class="mat-form-field-wrapper" style="width: 14px; padding-bottom: 4px;">
                <div class="mat-form-field-flex">
                  <div class="mat-form-field-infix">
                    <mat-icon class="datepicker-cancel" (click)="reset('startDate')">cancel</mat-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-12 d-flex">
              <mat-form-field>
                <mat-label>Updated end date</mat-label>
                <input matInput [matDatepicker]="dateEnd" placeholder="Updated end date"
                       [min]="request.updatedDate.start"
                       (dateInput)="onDateEvent('endDate', $event)">
                <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
                <mat-datepicker #dateEnd></mat-datepicker>
              </mat-form-field>
              <div class="mat-form-field-wrapper" style="width: 14px; padding-bottom: 4px;">
                <div class="mat-form-field-flex">
                  <div class="mat-form-field-infix">
                    <mat-icon class="datepicker-cancel" (click)="reset('endDate')">cancel</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid" style="padding: 0;">
            <div class="row">
              <div class="col-md-2 col-sm-12">
                <mat-form-field>
                  <mat-label>DEN</mat-label>
                  <input matInput [(ngModel)]="request.filters.den"
                         (ngModelChange)="onChange('filters.den', request.filters.den)"
                         (keyup.enter)="this.paginator.pageIndex = 0; this.loadBieList();"
                         placeholder="DEN">
                </mat-form-field>
              </div>
              <div class="col-md-2 col-sm-12">
                <mat-form-field>
                  <mat-label>Business Context</mat-label>
                  <input matInput [(ngModel)]="request.filters.businessContext"
                         (ngModelChange)="onChange('filters.businessContext', request.filters.businessContext)"
                         (keyup.enter)="this.paginator.pageIndex = 0; this.loadBieList();"
                         placeholder="Business Context">
                </mat-form-field>
              </div>
              <div class="col-md-2 col-sm-12">
                <mat-form-field>
                  <mat-label>Version</mat-label>
                  <input matInput [(ngModel)]="request.filters.version"
                         (ngModelChange)="onChange('filters.version', request.filters.version)"
                         (keyup.enter)="this.paginator.pageIndex = 0; this.loadBieList();"
                         placeholder="Version">
                </mat-form-field>
              </div>
              <div class="col-md-2 col-sm-12">
                <mat-form-field>
                  <mat-label>Remark</mat-label>
                  <input matInput [(ngModel)]="request.filters.remark"
                         (ngModelChange)="onChange('filters.remark', request.filters.remark)"
                         (keyup.enter)="this.paginator.pageIndex = 0; this.loadBieList();"
                         placeholder="Remark">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit"
                (click)="this.paginator.pageIndex = 0; this.loadBieList();">
          <mat-icon>search</mat-icon>
          <span class="ml-2">Search</span>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card-content class="mat-card-container">
      <div class="loading-container" *ngIf="loading">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>

      <div class="mat-elevation-z1">
        <table mat-table multiTemplateDataRows
               matSort [matSortActive]="sort.active" [matSortDirection]="sort.direction" [matSortStart]="'desc'"
               [dataSource]="dataSource">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" [disabled]="!isAdmin && row.owner !== username"
                            (change)="$event ? toggle(row) : null"
                            [checked]="isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> State</th>
            <td mat-cell *matCellDef="let element">
              <span class="bie-state {{ element.state }}"
                    [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet(element.state).background,
                    'color': webPageInfo.getComponentStateColorSet(element.state).font}">{{ element.state }}</span>
              <span *ngIf="element.deprecated" class="bie-state Deprecated" [matTooltip]="(!element.deprecatedReason ? '' : ('&#x2022; ' + element.deprecatedReason + '\n')) + (!element.deprecatedRemark ? '' : ('&#x2022; ' + element.deprecatedRemark))"
                    [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('Deprecated').background,
                    'color': webPageInfo.getComponentStateColorSet('Deprecated').font}">Deprecated</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="branch">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch</th>
            <td mat-cell *matCellDef="let element">
              <span [matTooltip]="element.releaseNum">{{ element.releaseNum }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="den">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DEN</th>
            <td mat-cell *matCellDef="let element">
              <div class="den word-break-all">
                <span *ngIf='!isAdmin && element.access === "Prohibited"'
                      matTooltip="Only the owner can access BIE in this state.">{{ element.den }}</span>
                <span *ngIf='!isAdmin && element.access === "Unprepared"'
                      matTooltip="This profile BIE is in progress.">{{ element.den }}</span>
                <a *ngIf="isAdmin || (element.access !== 'Prohibited' && element.access !== 'Unprepared')"
                   routerLink="{{ element.topLevelAsbiepId }}"
                   matTooltip="{{ element.den }}">
                  <span>{{ element.den }}</span>
                </a>
              </div>
              <div class="bie-guid">
                <span>{{ element.guid }}</span>
              </div>
              <div class="bie-source" *ngIf="!!element.sourceTopLevelAsbiepId">
                <a target="_blank" rel="noopener noreferrer"
                   href="/profile_bie?{{ request.toQuery({
                    den: element.sourceDen,
                    releaseIds: element.sourceReleaseId,
                    topLevelAsbiepIds: element.sourceTopLevelAsbiepId }) }}">
                  {{ element.sourceAction | pastTense }} from {{ element.sourceDen }} in {{ element.sourceReleaseNum }}
                </a>
                at {{ element.sourceTimestamp | date: 'yyyy-MM-dd HH:mm:ss' }}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef> Owner</th>
            <td mat-cell *matCellDef="let element">
              <span [matTooltip]="element.owner">{{ element.owner }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="transferOwnership">
            <th mat-header-cell *matHeaderCellDef style="width: 40px;"></th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex">
                <mat-icon class="pr-4 pointer align-self-center"
                          *ngIf="isEditable(element) || isAdmin"
                          (click)="openTransferDialog(element, $event)">swap_horiz</mat-icon>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="businessContexts">
            <th mat-header-cell *matHeaderCellDef> Business Contexts</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngFor="let businessContext of element.businessContexts">
                <span class="businessContext">
                  <a target="_blank" rel="noopener noreferrer"
                     routerLink="/context_management/business_context/{{ businessContext.businessContextId }}">
                    {{ businessContext.name }}</a>
                </span>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef> Version</th>
            <td mat-cell *matCellDef="let element">
              <div [matTooltip]="element.version">{{ element.version }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let element">
              <div [matTooltip]="element.status">{{ element.status }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="bizTerm">
            <th mat-header-cell *matHeaderCellDef> Business Term</th>
            <td mat-cell *matCellDef="let element">
              <div [matTooltip]="element.bizTerm">{{ element.bizTerm }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef> Remark</th>
            <td mat-cell *matCellDef="let element">
              <div>{{ element.remark }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="lastUpdateTimestamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated on</th>
            <td mat-cell *matCellDef="let element">
              <div class="ellipsis">{{ element.lastUpdateTimestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
              <div class="description"><span class="pr-1">by</span><b>{{ element.lastUpdateUser }}</b></div>
            </td>
          </ng-container>

          <ng-container matColumnDef="more">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button
                      [matMenuTriggerFor]="contextMenu"
                      (click)="contextMenuItem = element; $event.stopPropagation();">
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
              (click)="toggle(element)"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[10, 25, 50]"
          (page)="onPageChange($event)"
          showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>

    <mat-menu class="context-menu" #contextMenu="matMenu">
      <button mat-menu-item (click)="openFindReuseBieListDialog(contextMenuItem)">
        <span class="context-menu-item">Find Reuses</span>
      </button>
      <button mat-menu-item (click)="openTransferDialog(contextMenuItem)"
              [disabled]="!isEditable(contextMenuItem) && !isAdmin">
        <span class="context-menu-item">Transfer Ownership</span>
      </button>
      <button mat-menu-item (click)="requestOwnershipTransfer(contextMenuItem)"
              *ngIf="userToken.functionsRequiringEmailTransmission.enabled && !isEditable(contextMenuItem)">
        <span class="context-menu-item">Request Ownership Transfer</span>
      </button>
      <button mat-menu-item (click)="deprecate(contextMenuItem)"
              [disabled]="!isDeprecable(contextMenuItem) && !isAdmin">
        <span class="context-menu-item">Deprecate</span>
      </button>
      <button mat-menu-item (click)="discard(contextMenuItem)"
              [disabled]="!isEditable(contextMenuItem) && !isAdmin">
        <span class="context-menu-item">Discard</span>
      </button>
    </mat-menu>
  </mat-card>
</div>
