span.cl-state {
  font-size: 13px;
  padding: .30em 4px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 2px;
}

span.release-state {
  font-size: 12px;
  padding: .15em 4px;
  float: right;
  line-height: 20px;
  margin-top: 9px;
}

span.right {
  float: right;
}

span.release-state.Draft {
  background-color: #cc317c;
  color: #ffffff;
}

span.release-state.Published {
  background-color: #84b6eb;
  color: #000000;
  padding-bottom: 1px;
  padding-top: 1px;
}

.mat-column-owner {
  font-size: 13px;
}

.mat-column-module {
  font-size: 13px;
}

.f12 {
  font-size: 12px;
}

.header {
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  font-family: 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .1px;
  line-height: 24px;
  padding-top: 8px;
  height: auto;
  left: 0;
  top: 0;
  width: 100%;
}

.close {
  position: relative;
  margin-left: auto;
  left: 12px;
}

.close button {
  outline: none;
}

.actions {
  bottom: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  opacity: 1;
  padding: 16px;
}
