<div class="close">
  <button mat-icon-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="header">
  <span>{{ config.header }}</span>
</div>
<div class="content">
  <p *ngFor="let text of config.content">
    {{ text }}
  </p>
  <ul *ngIf="config.list">
    <li *ngFor="let item of config.list">{{ item }}</li>
  </ul>
</div>
<div class="actions">
  <button mat-flat-button class="btn" color="primary" *ngIf="config.action"
          [mat-dialog-close]="true">
    {{ config.action }}
  </button>
  <button mat-flat-button class="btn" color="warn" (click)="onNoClick()">
    {{ (config.action) ? 'Cancel' : 'Close' }}
  </button>
</div>
