.header {
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  font-family: 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .1px;
  line-height: 24px;
  padding-bottom: 8px;
  padding-top: 7px;
  border-bottom: 0;
  height: auto;
  left: 0;
  top: 0;
  width: 100%;
}

.close {
  position: relative;
  top: -5px;
  right: -12px;
}

.close button {
  outline: none;
}

.content {
  display: inline-block;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  letter-spacing: .2px;
  line-height: 20px;
  min-height: 24px;
  padding-bottom: 8px;
  padding-top: 9px;
  border-bottom: 1px solid transparent;
  color: rgba(0, 0, 0, 0.7);
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.content p {
  margin-bottom: 0;
}

.content ul {
  margin-top: 8px;
  margin-bottom: 0;
}

.actions {
  bottom: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  opacity: 1;
}

.btn {
  transition: all .3s;
  user-select: none;
  background-image: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  letter-spacing: .25px;
  line-height: 34px;
  min-height: 24px;
  min-width: 72px;
  outline: none;
  padding: 1px 24px 2px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: transparent;
  border-color: transparent;
  color: #1a73e8;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
  float: right;
  margin: 0 0 0 8px;
}

.btn:hover {
  background-color: rgba(26, 115, 232, 0.06);
  border-color: transparent;
  text-decoration: none;
}
