<div class="d-block">
  <div class="header d-flex align-items-center" mat-dialog-title>
    <span>{{ config.header }}</span>
    <div class="close pr-2">
      <button mat-icon-button mat-small-icon-button (click)="onNoClick()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="content" mat-dialog-content>
    <p *ngFor="let text of config.content">
      {{ text }}
    </p>
    <ul *ngIf="config.list">
      <li *ngFor="let item of config.list">{{ item }}</li>
    </ul>
  </div>
  <div class="actions ml-auto" mat-dialog-actions>
    <button mat-button class="btn btn-outline-primary" color="primary" *ngIf="config.action"
            [mat-dialog-close]="true">
      {{ config.action }}
    </button>
    <button mat-button class="btn" color="warn" (click)="onNoClick()">
      {{ (config.action) ? 'Cancel' : 'Close' }}
    </button>
  </div>
</div>
