<div class="d-block">
  <div class="header d-flex align-items-center" mat-dialog-title>
    <span>{{ config.header }}</span>
    <div class="close pe-2">
      <button mat-icon-button mat-small-icon-button (click)="onNoClick()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="content" mat-dialog-content>
    @for (text of config.content; track text) {
      <p>
        {{ text }}
      </p>
    }
    @if (config.list) {
      <ul>
        @for (item of config.list; track item) {
          <li>{{ item }}</li>
        }
      </ul>
    }
  </div>
  <div class="actions ms-auto" mat-dialog-actions>
    @if (config.action) {
      <button mat-button class="btn btn-outline-primary" color="primary"
        [mat-dialog-close]="true">
        {{ config.action }}
      </button>
    }
    <button mat-button class="btn" color="warn" (click)="onNoClick()">
      {{ (config.action) ? 'Cancel' : 'Close' }}
    </button>
  </div>
</div>
