.mat-dialog-content {
  max-height: max-content;
}

.filter-container {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.option-header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.option-body {
  padding-top: 13px;
}

.cc-types-checkbox {
  padding-right: 10px;
}

.cc-types-button {
  padding-right: 5px;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.mat-card-content p {
  font-family: 'Roboto', 'sans-serif';
}

.module .mat-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-right: 6px;
}

.mat-icon-button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  outline: none;
}

.mat-column-type {
  width: 110px;
}

.mat-column-sixDigitId {
  width: 160px;
}

.mat-column-revision {
  width: 70px;
}

.mat-column-state {
  width: 100px;
}

.mat-column-owner {
  width: 12%;
  font-size: 13px;
}

.den {
  font-size: 13px;
}

.mat-column-module {
  width: 15%;
  font-size: 13px;
  padding-right: 12px;
}

.mat-column-valueDomain {
  width: 160px;
}

.mat-column-lastUpdateTimestamp {
  width: 160px;
}

.element-detail {
  font-size: 12px;
}

.element-detail {
  font-size: 12px;
}

.element-detail-wrapper {
  width: 100%;
  border: 0;
  padding-right: 24px;
}

.element-detail-header {
  background-color: #f5f5f5;
  margin-bottom: 12px;
}

.element-detail-subtitle {
  margin: 8px 0 8px;
  font-size: 12px;
  min-height: 20px;
}

.element-detail-content {
  color: #545454;
  margin-bottom: 0;
  font-size: 12px;
  min-height: 20px;
}
