.mat-dialog-content {
  max-height: max-content;
}

.filter-container {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.option-header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.option-body {
  padding-top: 13px;
}

.cc-types-checkbox {
  padding-right: 10px;
}

.cc-types-button {
  padding-right: 5px;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.mat-mdc-card-content p {
  font-family: 'Roboto', 'sans-serif';
}

.module .mat-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-right: 6px;
}

.mat-icon-button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  outline: none;
}

.mat-column-owner {
  font-size: 13px;
}

.den {
  font-size: 13px;
}

.mat-column-module {
  font-size: 13px;
}

.element-detail {
  font-size: 12px;
}

.element-detail {
  font-size: 12px;
}

.element-detail-wrapper {
  width: 100%;
  border: 0;
  padding-right: 24px;
}

.element-detail-header {
  background-color: #f5f5f5;
  margin-bottom: 12px;
  padding: 0 16px;
}

.element-detail-subtitle {
  margin: 8px 0 8px;
  font-size: 12px;
  min-height: 20px;
}

.element-detail-content {
  color: #545454;
  margin-bottom: 0;
  font-size: 12px;
  min-height: 20px;
}

.header {
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  font-family: 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .1px;
  line-height: 24px;
  padding-top: 8px;
  height: auto;
  left: 0;
  top: 0;
  width: 100%;
}

.close {
  position: relative;
  margin-left: auto;
  left: 12px;
}

.close button {
  outline: none;
}

.actions {
  bottom: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  opacity: 1;
  padding: 16px;
}
