<div class="context-section">
  <div class="pl-2 pr-2">
    <mat-toolbar class="bg-white d-flex flex-column align-items-start">
      <span class="title">{{ "BIE_UPLIFT.TITLE" | translate }}</span>
      <mat-card-subtitle>Verification</mat-card-subtitle>
    </mat-toolbar>
  </div>

  <div class="pb-2">
    <mat-card-content class="mat-card-container">
      <div class="loading-container" *ngIf="loading">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>
      <div class="row" [hidden]="loading">
        <div class="col-md-12 pt-2 pb-2 d-flex">
          <button mat-icon-button mat-tiny-icon-button class="nav-button mr-2" (click)="lookUpUnmatched(-1)"
                  [hidden]="unmatchedSource.length === 0">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
          <button mat-icon-button mat-tiny-icon-button class="nav-button mr-2" (click)="lookUpUnmatched(1)"
                  [hidden]="unmatchedSource.length === 0">
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
          <div class="ml-2">
            <span *ngIf="unmatchedSource.length === 0">All contents are mapped.</span>
            <span *ngIf="unmatchedSource.length > 0" class="nav-number">
              {{unmatchedSource.indexOf(this.currentUnmatchedSource) + 1}}/{{unmatchedSource.length}}
            </span>
          </div>
        </div>
      </div>

      <div class="row ml-0 mr-0" (window:resize)="onResize($event)">
        <div class="col-6 pl-0">
          <div class="row tree-search-box" *ngIf="sourceSearcher && sourceDataSource">
            <div class="col-8">
              <mat-form-field>
                <mat-label *ngIf="!sourceSelectedNode">Search</mat-label>
                <mat-label *ngIf="sourceSelectedNode">Search > {{ (sourceSelectedNode.displayName ? sourceSelectedNode.displayName : sourceSelectedNode.name) }}</mat-label>
                <input matInput type="search" [(ngModel)]="sourceSearcher.inputKeyword"
                       [disabled]="sourceSearcher.isSearching"
                       (keyup.enter)="search('source')">
                <mat-hint matSuffix *ngIf="sourceSearcher.searchKeyword && sourceSearcher.searchResult.length > 0"
                          align="end">{{sourceSearcher.searchIndex + 1}}/{{sourceSearcher.searchResult.length}} in {{ sourceSearcher.searchedItemCount }}{{ sourceSearcher.fullSearched ? '' : '+' }} nodes</mat-hint>
                <mat-hint matSuffix *ngIf="sourceSearcher.searchKeyword && !sourceSearcher.fullSearched && sourceSearcher.searchResult.length === 0"
                          align="end">0 results in {{ sourceSearcher.searchedItemCount }} nodes</mat-hint>
                <mat-hint matSuffix *ngIf="sourceSearcher.searchKeyword && sourceSearcher.fullSearched && sourceSearcher.searchResult.length === 0"
                          align="end">0 results</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-3 buttons">
              <button mat-icon-button mat-small-icon-button
                      [disabled]="!sourceSearcher.searchResult || sourceSearcher.searchResult.length === 0"
                      (click)="move('source', -1)">
                <mat-icon>keyboard_arrow_up</mat-icon>
              </button>
              <button mat-icon-button mat-small-icon-button
                      [disabled]="!sourceSearcher.searchResult || sourceSearcher.searchResult.length === 0"
                      (click)="move('source', 1)">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
              <button mat-icon-button mat-small-icon-button
                      [hidden]="sourceSearcher.fullSearched"
                      [disabled]="sourceSearcher.isSearching"
                      [matTooltip]="(sourceSearcher.searchKeyword && !sourceSearcher.fullSearched) ? 'Search more...' : 'Search'"
                      (click)="search('source', false, true)">
                <mat-icon>{{ (sourceSearcher.searchKeyword && !sourceSearcher.fullSearched) ? 'repeat' : 'search' }}</mat-icon>
              </button>
              <button mat-icon-button mat-small-icon-button
                      [hidden]="!sourceSearcher.inputKeyword"
                      (click)="sourceSearcher.resetSearch()">
                <mat-icon>close</mat-icon>
              </button>
              <div style="height: 19px;">
                <mat-progress-spinner mode="indeterminate" [diameter]="15" class="search-progress-bar"
                                      [hidden]="!sourceSearcher.isSearching"></mat-progress-spinner>
              </div>
            </div>
            <div class="col-1 buttons">
              <div class="actions ml-auto">
                <button mat-icon-button mat-small-icon-button [matMenuTriggerFor]="sourceSettingsContextMenu">
                  <mat-icon>settings</mat-icon>
                </button>
              </div>
            </div>
            <mat-menu class="context-menu" #sourceSettingsContextMenu="matMenu">
              <button mat-menu-item>
                <mat-checkbox class="d-inline-flex pr-2"
                              [(ngModel)]="sourceDataSource.hideCardinality">
                  <span>Hide cardinality</span>
                </mat-checkbox>
              </button>
            </mat-menu>
          </div>
          <div class="row" style="padding: 0 15px;">
            <div class="tree-breadcrumbs-wrap" id="bc-source" *ngIf="sourceSelectedNode">
              <div class="tree-breadcrumb"
                   *ngFor="let bread of sourceSelectedNode.parents; let last = last;">
                <span aria-hidden="true" class="tree-breadcrumb-separator">/</span>
                <span *ngIf="last"
                      class="tree-breadcrumb-item-last">{{ bread.displayName ? bread.displayName : bread.name }} {{ last ? scrollBreadcrumb('bc-source') : '' }}</span>
                <span *ngIf="!last" class="tree-breadcrumb-item"
                      (click)="onSourceBreadCrumbClick(bread)">{{ bread.displayName ? bread.displayName : bread.name }}</span>
              </div>
            </div>
          </div>
          <!-- Source BIE -->
          <mat-card class="bie-node-tree-panel overflow-auto">
            <mat-card-content class="mat-card-container">
              <cdk-virtual-scroll-viewport itemSize="{{ virtualScrollItemSize }}" minBufferPx="{{ minBufferPx }}" maxBufferPx="{{ maxBufferPx }}"
                                           [style.height.px]="innerHeight" #sourceVirtualScroll>
                <div *cdkVirtualFor="let node of sourceDataSource" class="example-item">
                  <div class="mat-tree-node d-flex align-items-center pointer"
                       tabIndex="0"
                       [attr.data-path]="node.path"
                       [class]="{'tree-node-selected': sourceSelectedNode === node}"
                       (click)="onSourceClick(node)"
                       [style.padding-left]="node.level * paddingPixel + 'px'">
                    <button *ngIf="sourceDataSource.isExpandable(node); else disabledRef;"
                            (click)="sourceDataSource.toggle(node)"
                            mat-icon-button>
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{ sourceDataSource.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                      </mat-icon>
                    </button>
                    <ng-template #disabledRef>
                      <button mat-icon-button disabled></button>
                    </ng-template>

                    <mat-checkbox *ngIf="(node.level > 0 && !node.fixed)"
                                  [checked]="node.target !== undefined"
                                  [disabled]="true"></mat-checkbox>

                    <div class="d-inline-flex align-items-center flex-grow-1">
                      <span [class]="[node.typeClass.toLowerCase(),
                                      this.sourceSearcher.searchResult.indexOf(node) > -1 ? 'inside' : 'outside']"
                            [style.padding-right.px]="2"
                            [class.deprecated]="node.deprecated"
                            [matTooltip]="node.deprecated ? 'Deprecated' : ''"
                            [class.search-index]="this.sourceSearcher.searchResult.indexOf(node) === this.sourceSearcher.searchIndex"
                            [innerHTML]="(node.displayName ? node.displayName : node.name) | highlight : sourceSearcher.searchKeyword">
                      </span>

                      <span [class]="['pl-4']" *ngIf="!sourceDataSource.hideCardinality">
                        {{ node.cardinalityMin + '..' + ((node.cardinalityMax === -1) ? '&infin;' : node.cardinalityMax) }}
                      </span>

                      <fa-icon [icon]="faRecycle"
                               matTooltip="Reused"
                               [class]="['pl-3', 'pointer']" class="pointer"
                               *ngIf="node.reused"></fa-icon>

                      <div class="ml-auto mr-2">
                        <mat-icon *ngIf="sourceDataSource.isExpandable(node)"
                                  class="context-menu-icon"
                                  [matMenuTriggerFor]="contextMenu"
                                  (click)="contextMenuItem = node; $event.stopPropagation();">more_vert
                        </mat-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </cdk-virtual-scroll-viewport>
            </mat-card-content>
          </mat-card>
          <div class="row">
            <div class="col-12 text-center"
                 matTooltip="All nodes in the Source BIE tree are used nodes. An unchecked checkbox means the node is not mapped.">
              <div class="d-flex justify-content-center">Source BIE Tree <mat-icon [inline]="true">live_help</mat-icon></div>
            </div>
          </div>
        </div>
        <div class="col-6 pl-0 pr-0">
          <div class="row tree-search-box" *ngIf="targetSearcher && targetDataSource">
            <div class="col-8">
              <mat-form-field>
                <mat-label *ngIf="!targetSelectedNode">Search</mat-label>
                <mat-label *ngIf="targetSelectedNode">Search > {{targetSelectedNode.name}}</mat-label>
                <input matInput type="search" [(ngModel)]="targetSearcher.inputKeyword"
                       [disabled]="targetSearcher.isSearching"
                       (keyup.enter)="search('target')">
                <mat-hint matSuffix *ngIf="targetSearcher.searchKeyword && targetSearcher.searchResult.length > 0"
                          align="end">{{targetSearcher.searchIndex + 1}}/{{targetSearcher.searchResult.length}} in {{ targetSearcher.searchedItemCount }}{{ targetSearcher.fullSearched ? '' : '+' }} nodes</mat-hint>
                <mat-hint matSuffix *ngIf="targetSearcher.searchKeyword && !targetSearcher.fullSearched && targetSearcher.searchResult.length === 0"
                          align="end">0 results in {{ targetSearcher.searchedItemCount }} nodes</mat-hint>
                <mat-hint matSuffix *ngIf="targetSearcher.searchKeyword && targetSearcher.fullSearched && targetSearcher.searchResult.length === 0"
                          align="end">0 results</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-3 buttons">
              <button mat-icon-button mat-small-icon-button
                      [disabled]="!targetSearcher.searchResult || targetSearcher.searchResult.length === 0"
                      (click)="move('target', -1)">
                <mat-icon>keyboard_arrow_up</mat-icon>
              </button>
              <button mat-icon-button mat-small-icon-button
                      [disabled]="!targetSearcher.searchResult || targetSearcher.searchResult.length === 0"
                      (click)="move('target', 1)">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
              <button mat-icon-button mat-small-icon-button
                      [hidden]="targetSearcher.fullSearched"
                      [disabled]="targetSearcher.isSearching"
                      [matTooltip]="(targetSearcher.searchKeyword && !targetSearcher.fullSearched) ? 'Search more...' : 'Search'"
                      (click)="search('target', false, true)">
                <mat-icon>{{ (targetSearcher.searchKeyword && !targetSearcher.fullSearched) ? 'repeat' : 'search' }}</mat-icon>
              </button>
              <button mat-icon-button mat-small-icon-button
                      [hidden]="!targetSearcher.inputKeyword"
                      (click)="targetSearcher.resetSearch()">
                <mat-icon>close</mat-icon>
              </button>
              <div style="height: 19px;">
                <mat-progress-spinner mode="indeterminate" [diameter]="15" class="search-progress-bar"
                                      [hidden]="!targetSearcher.isSearching"></mat-progress-spinner>
              </div>
            </div>
            <div class="col-1 buttons">
              <div class="actions ml-auto">
                <button mat-icon-button mat-small-icon-button [matMenuTriggerFor]="targetSettingsContextMenu">
                  <mat-icon>settings</mat-icon>
                </button>
              </div>
            </div>
            <mat-menu class="context-menu" #targetSettingsContextMenu="matMenu">
              <button mat-menu-item>
                <mat-checkbox class="d-inline-flex pr-2"
                              [(ngModel)]="targetDataSource.hideCardinality">
                  <span>Hide cardinality</span>
                </mat-checkbox>
              </button>
            </mat-menu>
          </div>
          <div class="row" style="padding: 0 15px;">
            <div class="tree-breadcrumbs-wrap" id="bc-target" *ngIf="targetSelectedNode">
              <div class="tree-breadcrumb"
                   *ngFor="let bread of targetSelectedNode.parents; let last = last;">
                <span aria-hidden="true" class="tree-breadcrumb-separator">/</span>
                <span *ngIf="last"
                      class="tree-breadcrumb-item-last">{{ bread.name }} {{ last ? scrollBreadcrumb('bc-target') : '' }}</span>
                <span *ngIf="!last" class="tree-breadcrumb-item"
                      (click)="onTargetBreadCrumbClick(bread)">{{ bread.name }}</span>
              </div>
            </div>
          </div>
          <!-- Target BIE -->
          <mat-card class="bie-node-tree-panel overflow-auto">
            <mat-card-content class="mat-card-container">
              <cdk-virtual-scroll-viewport itemSize="{{ virtualScrollItemSize }}" minBufferPx="{{ minBufferPx }}" maxBufferPx="{{ maxBufferPx }}"
                                           [style.height.px]="innerHeight" #targetVirtualScroll>
                <div *cdkVirtualFor="let node of targetDataSource" class="example-item">
                  <div class="mat-tree-node d-flex align-items-center pointer"
                       tabIndex="0"
                       [attr.data-path]="node.path"
                       [class]="{'tree-node-selected': targetSelectedNode === node}"
                       (click)="onTargetClick(node)"
                       [style.padding-left]="node.level * paddingPixel + 'px'">
                    <button *ngIf="targetDataSource.isExpandable(node); else disabledRef;"
                            (click)="targetDataSource.toggle(node)"
                            mat-icon-button>
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{ targetDataSource.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                      </mat-icon>
                    </button>
                    <ng-template #disabledRef>
                      <button mat-icon-button disabled></button>
                    </ng-template>

                    <mat-checkbox *ngIf="node.level > 0"
                                  [checked]="node.source !== undefined"
                                  (change)="checkMatch($event, node)"
                                  [disabled]="!canMatch(node)"></mat-checkbox>

                    <div class="d-inline-flex align-items-center flex-grow-1">
                      <span [class]="[node.typeClass.toLowerCase(),
                                      this.targetSearcher.searchResult.indexOf(node) > -1 ? 'inside' : 'outside']"
                            [style.padding-right.px]="2"
                            [class.deprecated]="node.deprecated"
                            [matTooltip]="node.deprecated ? 'Deprecated' : ''"
                            [class.search-index]="this.targetSearcher.searchResult.indexOf(node) === this.targetSearcher.searchIndex"
                            [innerHTML]="node.name | highlight : targetSearcher.searchKeyword">
                      </span>

                      <span [class]="['pl-4']" *ngIf="!targetDataSource.hideCardinality">
                        {{ node.cardinalityMin + '..' + ((node.cardinalityMax === -1) ? '&infin;' : node.cardinalityMax) }}
                      </span>

                      <fa-icon [icon]="faCircleExclamation"
                               matTooltip="Select BIE"
                               (click)="matchReused(node)"
                               [class]="['pl-3', 'pointer', 'warn']" class="pointer"
                               *ngIf="node.source && node.source.reused && !node.reusedTopLevelAsbiepId"></fa-icon>
                      <fa-icon [icon]="faRecycle"
                               matTooltip="Reused"
                               (click)="matchReused(node)"
                               [class]="['pl-3', 'pointer']" class="pointer"
                               *ngIf="node.reusedTopLevelAsbiepId"></fa-icon>

                      <div class="ml-auto mr-2">
                        <mat-icon *ngIf="targetDataSource.isExpandable(node)"
                                  class="context-menu-icon"
                                  [matMenuTriggerFor]="contextMenu"
                                  (click)="contextMenuItem = node; $event.stopPropagation();">more_vert
                        </mat-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </cdk-virtual-scroll-viewport>
            </mat-card-content>
          </mat-card>
          <div class="row">
            <div class="col-12 text-center">
              <div class="d-flex justify-content-center">Target BIE Tree</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Context Menu Area -->
      <mat-menu class="context-menu" #contextMenu="matMenu">
        <button mat-menu-item (click)="sourceDataSource.expandDescendants(contextMenuItem, 2)"
                *ngIf="isSource(contextMenuItem)">
          <span class="context-menu-item">Expand 2</span>
        </button>
        <button mat-menu-item (click)="sourceDataSource.expandDescendants(contextMenuItem, 3)"
                *ngIf="isSource(contextMenuItem)">
          <span class="context-menu-item">Expand 3</span>
        </button>
        <button mat-menu-item (click)="targetDataSource.expandDescendants(contextMenuItem, 2)"
                *ngIf="isTarget(contextMenuItem)">
          <span class="context-menu-item">Expand 2</span>
        </button>
        <button mat-menu-item (click)="targetDataSource.expandDescendants(contextMenuItem, 3)"
                *ngIf="isTarget(contextMenuItem)">
          <span class="context-menu-item">Expand 3</span>
        </button>
      </mat-menu>

      <div class="row action-group m-0">
        <div class="actions">
          <button mat-raised-button color="warn" (click)="back()">
            Back
          </button>
          <button mat-raised-button color="primary" (click)="report()">
            Next
          </button>
        </div>
      </div>
    </mat-card-content>
  </div>
</div>
