<div class="container" style="padding: 8px;">
  <div class="row">
    <div class="col-12">
      <div class="state-progress-bar">
        @for (item of data; track item) {
          <div class="state-progress ellipsis {{ item.name }}"
            [style.width.%]="getWidth(item)"
            [style.background-color]="item.style.bg_color"
            [matTooltip]="item.name + ' (' + item.value + ')'">
            <a [routerLink]="item.href[0]"
              [class.disabled]="item.disabled" [queryParams]="{ q: getParams(item) }">
              <div class="state-progress-text"
              [style.color]="item.style.text_color">{{ item.name }} ({{ item.value }})</div>
            </a>
          </div>
        }
        @if (sum === 0) {
          <div class="state-progress ellipsis None"
            [style.width.%]="100"
            [style.background-color]="'#eaecef'">
            <div class="state-progress-text"
            [style.color]="'#333'">None</div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
