.mat-dialog-content {
}

.mat-column-state {
  width: 100px;
  font-size: 13px;
}

.mat-column-den {
  width: 300px;
  font-size: 13px;
}

.mat-column-owner {
  width: 100px;
}

.mat-column-version {
  width: 100px;
}

.mat-column-remark {
  width: 300px;
}

.mat-column-verb, .mat-column-messageBody {
  width: 200px;
}

.mat-column-arrayIndicator {
  width: 100px;
}

.mat-column-lastUpdateTimestamp {
  width: 160px;
}

.bie-guid {
  font-size: 11px !important;
  color: #767676 !important;
}

.mat-error {
  font-size: 13px;
}

.highlight {
  background: #42A948;
}

.header {
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  font-family: 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .1px;
  line-height: 24px;
  padding-top: 8px;
  height: auto;
  left: 0;
  top: 0;
  width: 100%;
}

.close {
  position: relative;
  margin-left: auto;
  left: 12px;
}

.close button {
  outline: none;
}

.actions {
  bottom: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  opacity: 1;
  padding: 0 24px;
}
