<div class="auth-box">
  @if ((oauth2AppInfos | async); as oAuth2AppInfos) {
    <div class="auth-form">
      @if (!roles.includes('pending') && !roles.includes('reject')) {
        <form role="form" autocomplete="on" (submit)="login()">
          <div class="auth-form-header">
            <h1>Sign in to NIST/OAGi connectCenter</h1>
            <h4 class="pt-1 pe-3 text-align-end">(formerly "Score")</h4>
          </div>
          <div [hidden]="err === undefined" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ errorMessage }}
            <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
          </div>
          <div class="auth-form-body">
            <label for="login_field">
              Username
            </label>
            <input type="text" name="login" id="login_field" class="form-control input-block" tabindex="1"
              autocapitalize="off" autocorrect="off" autocomplete="username"
              autofocus="autofocus" [(ngModel)]="credentials.username">
            <label for="password">
              Password
            </label>
            <input type="password" name="password" id="password" class="form-control form-control input-block" tabindex="2"
              autocomplete="current-password"
              [(ngModel)]="credentials.password">
            <button type="submit" name="commit" tabindex="3" class="btn btn-primary w-100 login-submit-button"
              data-disable-with="Signing in…">
              Sign in
            </button>
          </div>
          <div>
            @if (oAuth2AppInfos.length > 0) {
              <div class="or-container">
                <div class="line-separator"></div>
                <div class="or-label">or</div>
                <div class="line-separator"></div>
              </div>
            }
            @if (oAuth2AppInfos.length > 0) {
              <div class="oauth2-form-body">
                @for (oauth2AppInfo of oAuth2AppInfos; track oauth2AppInfo) {
                  <div>
                    <a href="{{ 'api/' + oauth2AppInfo.loginUrl }}"
                      class="btn btn-primary w-100 d-block text-decoration-none text-center oauth2-login-link"
                      tabindex="3"
                        [style.background-color]="oauth2AppInfo.backgroundColor"
                        [style.border-color]="oauth2AppInfo.backgroundColor"
                        [style.color]="oauth2AppInfo.fontColor">
                      Sign in with {{ oauth2AppInfo.displayProviderName }}
                    </a>
                  </div>
                }
              </div>
            }
          </div>
        </form>
      }
    </div>
  } @else {
  }

  @if ((webPageInfo | async); as webPageInfo) {
    <div class="row mt-2 justify-content-center">
      <div class="col-12">
        <div class="statement-container">
          <markdown [data]="webPageInfo.signInStatement"></markdown>
        </div>
      </div>
    </div>
  } @else {
  }
</div>
