<mat-sidenav-container class="example-container" [hasBackdrop]="false">
  <mat-sidenav #sidenav [mode]="'over'" position="end" class="pd-15">
    <div class="ui header">
      <h3 class="dividing">Comment</h3>
      <mat-icon class="close" (click)="commentControl.closeCommentSlide()">close</mat-icon>
    </div>
    <div class="ui feed">
      <div class="event" *ngFor="let comment of commentControl.comments" [class]="comment.isNew ? 'new-message': ''">
        <div class="content" [class]="comment.prevCommentId ? 'pl-4' : ''">
          <div class="summary">
            <a>{{ comment.loginId }}</a>
            <div class="date">{{ comment.timestamp | dateAgo }}</div>
            <mat-icon class="pointer icon"
                      *ngIf="comment.loginId === currentUser && !comment.hidden"
                      [inline]="true"
                      (click)="commentControl.deleteComment(comment)">close</mat-icon>
          </div>
          <div class="extra text">
            <div *ngIf="!comment.isEditing">
              <span *ngIf="!comment.hidden">{{ comment.text }}</span>
              <span *ngIf="comment.hidden" class="text-muted">(This message has been deleted.)</span>
              <mat-icon class="pointer icon mt-1"
                        *ngIf="comment.loginId === currentUser && !comment.hidden"
                        [inline]="true"
                        (click)="commentControl.openEditComment(comment)">edit</mat-icon>
            </div>
            <div *ngIf="comment.isEditing">
              <mat-form-field>
                <textarea matInput rows="3" [(ngModel)]="comment.textTemp"></textarea>
              </mat-form-field>
              <button mat-stroked-button (click)="commentControl.editComment(comment)">Edit</button>&nbsp;
              <button mat-stroked-button (click)="commentControl.cancelEditComment(comment)">Cancel</button>
            </div>
          </div>
          <div class="meta" *ngIf="comment.prevCommentId === null && commentControl.replyCommentId !== comment.commentId">
            <a class="like" (click)="commentControl.openReply(comment)">Reply</a>
          </div>
          <div class="reply-box" *ngIf="commentControl.replyCommentId === comment.commentId">
            <mat-form-field>
              <textarea matInput rows="3" [(ngModel)]="commentControl.replyMessage"></textarea>
            </mat-form-field>
            <button mat-stroked-button (click)="commentControl.addComment(comment)">Reply</button>&nbsp;
            <button mat-stroked-button (click)="commentControl.closeReply()">Cancel</button>
          </div>
        </div>
      </div>
      <div *ngIf="commentControl.replyOpened === false">
        <mat-form-field>
          <textarea matInput rows="3" [(ngModel)]="commentControl.commentMessage"></textarea>
        </mat-form-field>
        <button mat-stroked-button (click)="commentControl.addComment()">
          Comment
        </button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content (click)="sidenav.close();">
    <div class="context-section">
      <div class="loading-container" *ngIf="isUpdating">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>
      <mat-card class="pt-4 pb-2">
        <mat-card-header class="display-flow-root">
          <mat-card-title class="float-left">
            <span>{{ title }}</span>
            <span><mat-icon class="btn-comment" (click)="openComments()">comments</mat-icon></span>
          </mat-card-title>
          <div class="action-group float-right mt-n2">
            <div class="col-12 actions-wrap" *ngIf="isWorkingRelease()">
              <button mat-raised-button color="primary" (click)="update()"
                      *ngIf="state === 'WIP' && access === 'CanEdit'"
                      [disabled]="!isChanged">
                Update
              </button>
              <button mat-raised-button color="accent" (click)="updateState('Draft')"
                      *ngIf="state === 'WIP' && isEditable()"
                      [disabled]="isUpdating || isChanged">
                Move to Draft
              </button>
              <button mat-raised-button color="warn" (click)="updateState('WIP')"
                      *ngIf="(state === 'Draft' || state === 'Candidate') && access === 'CanMove'"
                      [disabled]="isUpdating">
                Back to WIP
              </button>
              <button mat-raised-button color="accent" (click)="updateState('Candidate')"
                      *ngIf="state === 'Draft' && access === 'CanMove'"
                      [disabled]="isUpdating">
                Move to Candidate
              </button>
              <button mat-raised-button color="warn" (click)="makeNewRevision()"
                      *ngIf="(state === 'Published' && userRoles.includes('developer')) && access === 'CanMove'"
                      [disabled]="isUpdating">
                {{ userRoles.includes('developer') ? 'Revise' : 'Amend' }}
              </button>
              <button mat-raised-button color="warn" (click)="delete()"
                      *ngIf="state === 'WIP' && !hasRevision && access === 'CanEdit'"
                      [disabled]="isUpdating || isChanged">
                Delete
              </button>
              <button mat-raised-button color="primary" (click)="restore()"
                      *ngIf="state === 'Deleted' && access === 'CanMove'">
                Restore
              </button>
              <button mat-raised-button color="primary" (click)="cancelRevision()"
                      *ngIf="state === 'WIP' && hasRevision && access === 'CanEdit'">
                Cancel
              </button>
            </div>
            <div class="col-12 actions-wrap" *ngIf="!isWorkingRelease()">
              <button mat-raised-button color="accent" (click)="derive()"
                      *ngIf="agencyIdList.state === 'Published' &&
                             agencyIdList.releaseState === 'Published' &&
                             !userRoles.includes('developer')">
                Derive Agency ID List based on this
              </button>
              <button mat-raised-button color="primary" (click)="update()"
                      *ngIf="state === 'WIP' && access === 'CanEdit'"
                      [disabled]="!isChanged">
                Update
              </button>
              <button mat-raised-button color="accent" (click)="updateState('QA')"
                      *ngIf="state === 'WIP' && isEditable()"
                      [disabled]="isUpdating || isChanged">
                Move to QA
              </button>
              <button mat-raised-button color="warn" (click)="updateState('WIP')"
                      *ngIf="state === 'QA' && access === 'CanMove'"
                      [disabled]="isUpdating">
                Back to WIP
              </button>
              <button mat-raised-button color="accent" (click)="updateState('Production')"
                      *ngIf="state === 'QA' && access === 'CanMove'"
                      [disabled]="isUpdating">
                Move to Production
              </button>
              <button mat-raised-button color="warn" (click)="makeNewRevision()"
                      *ngIf="(state === 'Published' || state === 'Production') && access === 'CanMove'"
                      [disabled]="isUpdating">
                {{ userRoles.includes('developer') ? 'Revise' : 'Amend' }}
              </button>
              <button mat-raised-button color="warn" (click)="delete()"
                      *ngIf="state === 'WIP' && !hasRevision && access === 'CanEdit'"
                      [disabled]="isUpdating || isChanged">
                Delete
              </button>
              <button mat-raised-button color="primary" (click)="restore()"
                      *ngIf="state === 'Deleted' && access === 'CanMove'">
                Restore
              </button>
              <button mat-raised-button color="primary" (click)="cancelRevision()"
                      *ngIf="state === 'WIP' && hasRevision && access === 'CanEdit'">
                Cancel
              </button>
            </div>
          </div>
        </mat-card-header>

        <mat-card class="mb-2">
          <mat-card-content class="mat-card-container">
            <div class="row">
              <div class="col-2">
                <mat-form-field matTooltip="Agency ID List">
                  <mat-label>Core Component</mat-label>
                  <input matInput value="Agency ID List" [disabled]="true">
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field>
                  <mat-label>Release</mat-label>
                  <input matInput [(ngModel)]="agencyIdList.releaseNum" [disabled]="true">
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field>
                  <mat-label>Revision</mat-label>
                  <input matInput [(ngModel)]="agencyIdList.revisionNum" [disabled]="true">
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field>
                  <mat-label>State</mat-label>
                  <input matInput [(ngModel)]="agencyIdList.state" [disabled]="true">
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field *ngIf="agencyIdList && agencyIdList.owner">
                  <mat-label>Owner</mat-label>
                  <input matInput [(ngModel)]="agencyIdList.owner.username" [disabled]="true">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <mat-form-field>
                  <mat-label>GUID</mat-label>
                  <input matInput maxlength="41"
                         [(ngModel)]="agencyIdList.guid" [disabled]="true">
                </mat-form-field>
              </div>
            </div>

            <mat-form-field *ngIf="agencyIdList.basedAgencyIdListManifestId !== undefined && agencyIdList.basedAgencyIdListManifestId > 0">
              <mat-label>Based Agency ID List</mat-label>
              <input matInput required data-id="agencyIdList.basedAgencyIdList" [(ngModel)]="agencyIdList.basedAgencyIdListName"
                     maxlength="100" [disabled]="true"/>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput required data-id="agencyIdList.name" [(ngModel)]="agencyIdList.name" maxlength="100"
                     [disabled]="access !== 'CanEdit' || hasRevision"/>
            </mat-form-field>

            <mat-form-field>
              <mat-label>List ID</mat-label>
              <input matInput required data-id="agencyIdList.listId" [(ngModel)]="agencyIdList.listId" maxlength="100"
                     [disabled]="access !== 'CanEdit' || hasRevision"/>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Agency ID</mat-label>
              <mat-select data-id="agencyIdList.agencyIdListValueId" [(ngModel)]="agencyIdList.agencyIdListValueManifestId"
                          [disabled]="access !== 'CanEdit' || hasRevision">
                <mat-option>
                  <ngx-mat-select-search [formControl]="valueFilterCtrl"
                                         [placeholderLabel]="'Search...'"
                                         [noEntriesFoundLabel]="'No matching user found.'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let value of valueFilteredList | async" [value]="value.agencyIdListValueManifestId">
                  {{ value.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Version</mat-label>
              <input matInput required data-id="agencyIdList.version" [(ngModel)]="agencyIdList.versionId" maxlength="100"
                     [disabled]="access !== 'CanEdit'"/>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Namespace</mat-label>
              <mat-select data-id="agencyIdList.namespace" [(ngModel)]="agencyIdList.namespaceId" placeholder="Namespace" required
                          [disabled]="access !== 'CanEdit' || hasRevision">
                <mat-option *ngFor="let namespace of getSelectableNamespaces(agencyIdList.namespaceId)"
                            [value]="namespace.namespaceId">{{ namespace.uri }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Definition</mat-label>
              <textarea rows="6" cols="30" matInput data-id="agencyIdList.definition" [(ngModel)]="agencyIdList.definition"
                        [disabled]="access !== 'CanEdit'"></textarea>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Definition Source</mat-label>
              <input matInput data-id="agencyIdList.definitionSource" [(ngModel)]="agencyIdList.definitionSource" maxlength="100"
                     [disabled]="access !== 'CanEdit'"/>
            </mat-form-field>

            <mat-form-field *ngIf="!userRoles.includes('developer')">
              <mat-label>Remark</mat-label>
              <input matInput data-id="agencyIdList.remark" [(ngModel)]="agencyIdList.remark" maxlength="225"
                     [disabled]="access !== 'CanEdit'"/>
            </mat-form-field>

            <div *ngIf="showDeprecateCheckbox" class="row" style="padding: 14px 0 22px 0;">
              <div class="col-12" >
                <mat-checkbox color="primary"
                              data-id="agencyIdList.deprecated" [(ngModel)]="agencyIdList.deprecated"
                              [disabled]="access !== 'CanEdit' || !canDeprecate">
                  <span>Deprecated</span>
                </mat-checkbox>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Agency ID List Values</mat-card-title>
        </mat-card-header>

        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>
              <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput [(ngModel)]="valueSearch" (keyup.enter)="applyFilter(valueSearch)" maxlength="100"/>
                <button mat-icon-button matSuffix (click)="applyFilter(valueSearch)">
                  <mat-icon>search</mat-icon>
                </button>
                <button mat-icon-button matSuffix *ngIf="valueSearch && valueSearch.length > 0" (click)="clearFilter()">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-form-field>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="mat-card-container">
            <div class="mat-elevation-z1">
              <table mat-table matSort [dataSource]="dataSource">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  *ngIf="access === 'CanEdit'"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  *ngIf="access === 'CanEdit'"
                                  [disabled]="!isAvailable(row) || isRevisionValue(row)"
                                  (change)="$event ? toggle(row) : null"
                                  [checked]="isSelected(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>

                <ng-container matColumnDef="value">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Value</th>
                  <td mat-cell *matCellDef="let element">
                    <span class="{{ color(element) }}">{{ element.value }}</span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Meaning</th>
                  <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
                </ng-container>

                <ng-container matColumnDef="deprecated">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Deprecated</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="element.deprecated">done</mat-icon>
                  </td>
                </ng-container>

                <ng-container matColumnDef="definition">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Definition</th>
                  <td mat-cell *matCellDef="let element"> {{ element.definition }}</td>
                </ng-container>

                <ng-container matColumnDef="definitionSource">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Definition Source</th>
                  <td mat-cell *matCellDef="let element"> {{ element.definitionSource }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="openDialog(row)"></tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[10, 25, 50]"
                showFirstLastButtons></mat-paginator>
            </div>
          </mat-card-content>

          <mat-card-actions style="padding: 8px 0 8px 12px;" *ngIf="state === 'WIP' && access === 'CanEdit'">
            <button mat-raised-button (click)="openDialog()" color="primary"
                    [disabled]="access !== 'CanEdit' || isDisabled(agencyIdList)">
              <mat-icon>add</mat-icon>
              Add
            </button>
            <button mat-raised-button (click)="removeAgencyIdListValues()" [hidden]="dataSource.data.length == 0"
                    [disabled]="isDisabled(agencyIdList) || this.selection.selected.length == 0"
                    color="warn">
              <mat-icon>delete</mat-icon>
              Remove
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

