.node-progress-bar {
  margin-left: 30px;
}

.search-progress-bar {
  margin-left: 5px;
  margin-top: 10px;
  float: left;
}

.mat-tree-node {
  font-size: 13px;
  min-height: 33px;
  font-family: Roboto;
}

.mat-tree-node .deprecated, .mat-option .deprecated, span.deprecated {
  text-decoration: line-through;
  background-color: #ececec;
}

.mat-tree-node .material-icons {
  font-size: 20px;
}

.mat-tree-node .mat-icon-button {
  width: 24px;
  height: 24px;
  line-height: 24px;
  outline: none;
}

.mat-tree-node div {
  height: 16px;
}

.mat-tree-node > span {
  cursor: pointer;
  padding-right: 2px !important;
  margin-right: 10px;
}

.mat-tree-node .abie, .mat-tree-node .asbiep, .mat-tree-node .asbiep-extension {
  color: #4078c0 !important;
  font-weight: bold !important;
  text-shadow: inherit !important;
}

.mat-tree-node .bbiep {
  color: #006400 !important;
  text-shadow: inherit !important;
}

.mat-tree-node .bbiep-attribute {
  color: #666 !important;
  font-style: italic !important;
  text-shadow: inherit !important;
}

.mat-tree-node .bbie_sc {
  color: #bd2c00 !important;
  text-shadow: inherit !important;
}

.mat-tree-node .acc, .mat-tree-node .acc-group {
  color: #bd2c00 !important;
  font-weight: bold !important;
  text-shadow: inherit !important;
}

.mat-tree-node .asccp {
  color: #4078c0 !important;
  font-weight: bold !important;
  text-shadow: inherit !important;
}

.mat-tree-node .bccp {
  color: #006400 !important;
  text-shadow: inherit !important;
}

.mat-tree-node .bccp-attribute {
  color: #666 !important;
  font-style: italic !important;
  text-shadow: inherit !important;
}

.mat-tree-node .dt_sc {
  color: #bd2c00 !important;
  text-shadow: inherit !important;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
}

.bie-node-header {
  display: block;
  padding: 4px 10px 5px;
  margin: 0px;
  font-size: 14px;
  line-height: 17px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #333;
  font-weight: 600;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.bie-node-header span, .mat-tree-node span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bie-node-title {
  display: flex;
  margin: 5px 0;
}

.comment.mat-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 8px;
}

.bie-node-tree-panel {
  margin-bottom: 4px;
  padding: 8px;
}

.bie-node-tree-panel mat-card-content {
  margin-bottom: 0;
}

.bie-edit-detail-container {
  padding: 1.25em;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-top: 0;
  background-color: white;
}

.bie-edit-detail-container {
  padding: 10px 15px;
}

.bie-edit-detail-container div.checkbox {
  padding: 8px 0 18px 0;
}

.bie-edit-detail-panel {
  padding: 0 12px;
}

.left-panel, .right-panel {
  margin-bottom: 0;
}

.external-link {
  cursor: pointer;
}

.mt-24 {
  margin-top: 24px;
}

.tree-search-box {
  align-items: center;
}

.tree-search-box .mat-form-field-wrapper {
  padding: 0 !important;
}

.tree-search-box .mat-mdc-form-field {
  font-size: 12px;
}

.tree-search-box .mat-form-field-wrapper {
  width: 16px;
  padding-bottom: 0;
}

.tree-search-box .buttons {
  display: flex;
  padding-top: 6px;
}

.tree-search-box .mat-icon {
  cursor: pointer;
}

.ui.header {
  display: flex;
  justify-content: space-between;
}

.ui.header .close {
  margin-left: auto;
  cursor: pointer;
}

.search-box-container {
  padding: 0;
}

.dragHandle {
  margin-left: auto;
  cursor: grab;
}

.cdk-drag:not(.cdk-drag-disabled):active .dragHandle {
  cursor: grabbing;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dragPlaceholder {
  background: #ccc;
  border: dashed 2px #999;
  min-height: 33px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.bie-edit-header {
  display: block;
  padding: 4px 10px 5px;
  margin: 0px;
  font-size: 14px;
  line-height: 17px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #333;
  font-weight: 600;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.form-field-box {
  padding-bottom: 16px;
}


.bie-edit-detail-panel {
  padding: 0 12px;
}

.detail-reused {
  border: 1px solid #c8c8c8;
  padding: 15px;
  -moz-box-shadow: 1px 1px 2px 1px #ccc;
  -webkit-box-shadow: 1px 1px 2px 1px #ccc;
  box-shadow: 1px 1px 2px 1px #ccc;
  margin-bottom: 15px;
}

.f12 {
  font-size: 12px;
}

.textarea-container {
  position: relative;
}

.textarea-container textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-right: 26px;
}

.textarea-container button {
  position: absolute;
  top: 0;
  right: 0;
}

.mat-tree-node .node-edit-container {
  width: 100%;
  height: 100%;
  padding-right: 64px;
}
