<mat-card style="box-shadow: none; padding: 0;">
  <mat-card-header>
    <mat-card-title>Confirmation</mat-card-title>
  </mat-card-header>
</mat-card>

<mat-dialog-content class="mat-typography">
  <p> Do you really want to move this to the Published state?</p>
  <p> Once in the Published state it can no longer be changed or discarded. </p>
  <hr>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn"
          [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary"
          [mat-dialog-close]="true">
    <mat-icon>publish</mat-icon>
    Publish anyway
  </button>
</mat-dialog-actions>
