<div class="context-section">
  <mat-card class="pt-4 pb-2">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card class="mb-2">
      <mat-card-content class="mat-card-container">
        <mat-form-field>
          <mat-label>URI</mat-label>
          <input matInput required
                 [formControl]="uriForm"
                 [value]="uriForm.value">
          <mat-error *ngIf="uriForm.hasError('pattern')">
            '{{ uriForm.value }}' is not allow for URI format
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Prefix</mat-label>
          <input matInput [(ngModel)]="namespace.prefix" maxlength="45"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea rows="6" cols="30" matInput [(ngModel)]="namespace.description"></textarea>
        </mat-form-field>

        <mat-checkbox [checked]="isDeveloper" [disabled]="true">Standard</mat-checkbox>
      </mat-card-content>
    </mat-card>
  </mat-card>

  <div class="row action-group m-0">
    <div class="col-12 actions-wrap">
      <div class="actions">
        <button mat-raised-button (click)="back()">Back</button>
        <button mat-raised-button color="primary" [disabled]="isDisabled()" (click)="create()">
          Create
        </button>
      </div>
    </div>
  </div>
</div>
