<div class="context-section">
  <div *ngIf="isUpdating" class="loading-container">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>

  <mat-card class="pt-4 pb-2">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card class="mb-2">
      <mat-card-content class="mat-card-container">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input [(ngModel)]="moduleSet.name" data-id="moduleSet.name" matInput maxlength="100" required/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea [(ngModel)]="moduleSet.description" cols="30" data-id="moduleSet.description" matInput
                    rows="6"></textarea>
        </mat-form-field>

        <mat-checkbox color="primary"
                      [(ngModel)]="moduleSet.createModuleSetRelease">
          <span>Create Module Set Release</span>
        </mat-checkbox>

        <mat-form-field>
          <mat-label>Release</mat-label>
          <mat-select [(ngModel)]="moduleSet.targetReleaseId" [disabled]="!moduleSet.createModuleSetRelease">
            <mat-option *ngFor="let release of releaseList" [value]="release.releaseId">
              <div class="d-flex">
                <span class="release-num">{{release.releaseNum}}</span>
                <span *ngIf="release.releaseNum !== 'Working'"
                      class="f12 ml-auto {{release.state}}">
                        {{ release.state | separate }}
                      </span>
              </div>
            </mat-option>

          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Copy CC assignment from Module Set Release</mat-label>
          <mat-select [(ngModel)]="moduleSet.targetModuleSetReleaseId" [disabled]="!moduleSet.createModuleSetRelease">
            <mat-option *ngFor="let moduleSetRelease of moduleSetReleaseList" [value]="moduleSetRelease.moduleSetReleaseId">
              <div class="d-flex">
                <span class="release-num">{{moduleSetRelease.moduleSetName}}</span>
                &nbsp;<span class="release-num">{{moduleSetRelease.releaseNum}}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </mat-card>

  <div class="row action-group m-0">
    <div class="col-12 actions-wrap">
      <button (click)="createModuleSet()" [disabled]="!canCreate" color="primary"
              mat-raised-button>
        Create
      </button>
    </div>
  </div>
</div>
