<div class="context-section">
  <div class="loading-container" *ngIf="isUpdating">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>

  <mat-card class="pt-4 pb-2">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card class="mb-2">
      <mat-card-content class="mat-card-container">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput required data-id="moduleSet.name" [(ngModel)]="moduleSet.name" maxlength="100"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Definition</mat-label>
          <textarea rows="6" cols="30" matInput data-id="moduleSet.description"
                    [(ngModel)]="moduleSet.description"></textarea>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </mat-card>

  <div class="row action-group m-0">
    <div class="col-12 actions-wrap">
      <button mat-raised-button color="primary" (click)="createModuleSet()"
              [disabled]="!isChanged">
        Create
      </button>
    </div>
  </div>
</div>
