<div class="context-section">
  <div class="loading-container" *ngIf="loading">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>

  <div class="settings-layout">
    <score-settings-menu active="ApplicationSettings"></score-settings-menu>
    <div class="layout-main">
      <div class="context-section">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ title }}</mat-card-title>
          </mat-card-header>
          <mat-card class="mb-2">
            <mat-card-content class="mat-card-container">
              <div>
                <div class="subhead">
                  <h4 class="subhead-heading">Multi-tenant mode</h4>
                </div>
                <div class="actions">
                  <button mat-raised-button color="primary"
                          (click)="updateTenantConfiguration(true)"
                          [disabled]="isTenantEnabled">
                    Enable
                  </button>
                  <button mat-raised-button color="warn"
                          (click)="updateTenantConfiguration(false)"
                          [disabled]="!isTenantEnabled">
                    Disable
                  </button>
                </div>
              </div>
              <div class="mt-4" *ngIf="!isTenantEnabled">
                <div class="subhead">
                  <h4 class="subhead-heading">Business term function</h4>
                </div>
                <div class="actions">
                  <button mat-raised-button color="primary"
                          (click)="updateBusinessTermConfiguration(true)"
                          [disabled]="isBusinessTermEnabled">
                    Enable
                  </button>
                  <button mat-raised-button color="warn"
                          (click)="updateBusinessTermConfiguration(false)"
                          [disabled]="!isBusinessTermEnabled">
                    Disable
                  </button>
                </div>
              </div>
              <div class="mt-4">
                <div class="subhead">
                  <h4 class="subhead-heading">BIE Inverse Mode</h4>
                </div>
                <div class="actions">
                  <button mat-raised-button color="primary"
                          (click)="updateBIEInverseModeConfiguration(true)"
                          [disabled]="isBIEInverseModeEnabled">
                    Enable
                  </button>
                  <button mat-raised-button color="warn"
                          (click)="updateBIEInverseModeConfiguration(false)"
                          [disabled]="!isBIEInverseModeEnabled">
                    Disable
                  </button>
                </div>
              </div>
              <div class="mt-4">
                <div class="subhead">
                  <h4 class="subhead-heading">Web Page Settings</h4>
                </div>
                <div class="webpage-setting">
                  <div class="row">
                    <div class="col-8">
                      <div class="subsubhead">
                        <h5 class="subsubhead-heading">Brand Logo (Supported format: SVG, Recommended size: 160x26)</h5>
                      </div>
                      <textarea class="width-max"
                                cdkTextareaAutosize
                                [cdkAutosizeMinRows]="6"
                                [cdkAutosizeMaxRows]="20"
                                [(ngModel)]="webPageInfo.brand"></textarea>
                    </div>
                    <div class="col-4">
                      <div class="subsubhead">
                        <h5 class="subsubhead-heading">Preview</h5>
                      </div>
                      <div class="brand-preview-container">
                        <div class="brand-preview" [innerHTML]="safetHtml(webPageInfo.brand)">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="webpage-setting">
                  <div class="row">
                    <div class="col-8">
                      <div class="subsubhead">
                        <h5 class="subsubhead-heading">Favicon Link (URL)</h5>
                      </div>
                      <textarea class="width-max"
                                cdkTextareaAutosize
                                [cdkAutosizeMinRows]="3"
                                [cdkAutosizeMaxRows]="6"
                                [(ngModel)]="webPageInfo.favicon"></textarea>
                    </div>
                    <div class="col-4">
                      <div class="subsubhead">
                        <h5 class="subsubhead-heading">Preview</h5>
                      </div>
                      <div class="favicon-preview-container">
                        <img class="favicon-preview" *ngIf="webPageInfo.favicon" [src]="webPageInfo.favicon">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="webpage-setting">
                  <div class="row">
                    <div class="col-8">
                      <div class="subsubhead">
                        <h5 class="subsubhead-heading">Sign-in Page Statement (formatted in Markdown)</h5>
                      </div>
                      <textarea class="width-max"
                                cdkTextareaAutosize
                                [cdkAutosizeMinRows]="6"
                                [cdkAutosizeMaxRows]="20"
                                [(ngModel)]="webPageInfo.signInStatement"></textarea>
                    </div>
                    <div class="col-4">
                      <div class="subsubhead">
                        <h5 class="subsubhead-heading">Preview</h5>
                      </div>
                      <div class="statement-container">
                        <markdown [data]="webPageInfo.signInStatement"></markdown>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="webpage-setting component-state-colors pt-2">
                  <div class="row">
                    <div class="col-12">
                      <div class="subsubhead">
                        <h5 class="subsubhead-heading">Component State Colors</h5>
                      </div>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-2">
                            <div class="state WIP" [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('WIP').background, 'color': webPageInfo.getComponentStateColorSet('WIP').font}">
                              <span>WIP</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('WIP').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('WIP').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="state QA" [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('QA').background, 'color': webPageInfo.getComponentStateColorSet('QA').font}">
                              <span>QA</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('QA').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('QA').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="state Draft" [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('Draft').background, 'color': webPageInfo.getComponentStateColorSet('Draft').font}">
                              <span>Draft</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('Draft').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('Draft').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="state Candidate" [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('Candidate').background, 'color': webPageInfo.getComponentStateColorSet('Candidate').font}">
                              <span>Candidate</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('Candidate').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('Candidate').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="state Production" [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('Production').background, 'color': webPageInfo.getComponentStateColorSet('Production').font}">
                              <span>Production</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('Production').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('Production').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="state Published" [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('Published').background, 'color': webPageInfo.getComponentStateColorSet('Published').font}">
                              <span>Published</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('Published').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('Published').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2">
                            <div class="state ReleaseDraft" [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('ReleaseDraft').background, 'color': webPageInfo.getComponentStateColorSet('ReleaseDraft').font}">
                              <span>ReleaseDraft</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('ReleaseDraft').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('ReleaseDraft').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="state Deleted" [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('Deleted').background, 'color': webPageInfo.getComponentStateColorSet('Deleted').font}">
                              <span>Deleted</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('Deleted').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('Deleted').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="state Deprecated" [ngStyle]="{'background-color': webPageInfo.getComponentStateColorSet('Deprecated').background, 'color': webPageInfo.getComponentStateColorSet('Deprecated').font}">
                              <span>Deprecated</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('Deprecated').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getComponentStateColorSet('Deprecated').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="webpage-setting release-state-colors pt-2">
                  <div class="row">
                    <div class="col-12">
                      <div class="subsubhead">
                        <h5 class="subsubhead-heading">Release State Colors</h5>
                      </div>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-2">
                            <div class="state Processing" [ngStyle]="{'background-color': webPageInfo.getReleaseStateColorSet('Processing').background, 'color': webPageInfo.getReleaseStateColorSet('Processing').font}">
                              <span>Processing</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getReleaseStateColorSet('Processing').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getReleaseStateColorSet('Processing').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="state Initialized" [ngStyle]="{'background-color': webPageInfo.getReleaseStateColorSet('Initialized').background, 'color': webPageInfo.getReleaseStateColorSet('Initialized').font}">
                              <span>Initialized</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getReleaseStateColorSet('Initialized').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getReleaseStateColorSet('Initialized').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="state Draft" [ngStyle]="{'background-color': webPageInfo.getReleaseStateColorSet('Draft').background, 'color': webPageInfo.getReleaseStateColorSet('Draft').font}">
                              <span>Draft</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getReleaseStateColorSet('Draft').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getReleaseStateColorSet('Draft').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="state Published" [ngStyle]="{'background-color': webPageInfo.getReleaseStateColorSet('Published').background, 'color': webPageInfo.getReleaseStateColorSet('Published').font}">
                              <span>Published</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getReleaseStateColorSet('Published').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getReleaseStateColorSet('Published').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="webpage-setting user-role-colors pt-2">
                  <div class="row">
                    <div class="col-12">
                      <div class="subsubhead">
                        <h5 class="subsubhead-heading">User Role Colors</h5>
                      </div>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-2">
                            <div class="state Admin" [ngStyle]="{'background-color': webPageInfo.getUserRoleColorSet('Admin').background, 'color': webPageInfo.getUserRoleColorSet('Admin').font}">
                              <span>Admin</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getUserRoleColorSet('Admin').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getUserRoleColorSet('Admin').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="state Developer" [ngStyle]="{'background-color': webPageInfo.getUserRoleColorSet('Developer').background, 'color': webPageInfo.getUserRoleColorSet('Developer').font}">
                              <span>Developer</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getUserRoleColorSet('Developer').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getUserRoleColorSet('Developer').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="state End-User" [ngStyle]="{'background-color': webPageInfo.getUserRoleColorSet('End-User').background, 'color': webPageInfo.getUserRoleColorSet('End-User').font}">
                              <span>End-User</span>
                            </div>
                            <div class="row pt-2">
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Font</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getUserRoleColorSet('End-User').font">
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field>
                                  <mat-label>Background</mat-label>
                                  <input matInput [(ngModel)]="webPageInfo.getUserRoleColorSet('End-User').background">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="actions pt-2">
                  <button mat-raised-button color="primary"
                          (click)="updateWebPageInfo()">
                    Update
                  </button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-card>
      </div>
    </div>
  </div>
</div>
