.settings-layout {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 0 minmax(0, calc(100% - 296px - 24px));
  grid-gap: 24px;
  padding: 8px;
}

.layout-main {
  grid-column: 2/span 2;
}

.webpage-setting {

}
