<h1 mat-dialog-title>{{ actionName }} Module Dependency</h1>

<mat-dialog-content class="mat-card-container">
  <mat-form-field>
    <mat-label>Relation Type</mat-label>
    <mat-select placeholder="Relation Type" required
                [(ngModel)]="moduleDependency.dependencyType">
      <mat-option value="Include">Include</mat-option>
      <mat-option value="Import">Import</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Module</mat-label>
    <mat-select placeholder="Module" required
                [(ngModel)]="moduleDependency.relatedModuleId">
      <mat-option *ngFor="let module of modules" [value]="module.moduleId">
        {{ module.module }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary"
          [disabled]="!isChanged() || isDisabled()"
          [mat-dialog-close]="moduleDependency">
    <mat-icon>{{ (actionName === 'Add') ? 'add' : 'save' }}</mat-icon>
    {{ actionName }}
  </button>
</mat-dialog-actions>
