<div class="context-section">
  <div class="ps-2 pe-2">
    <mat-toolbar class="bg-white">
      <span class="title">{{ title }}</span>
      <span class="flex-11-auto"></span>
      <button mat-raised-button class="ms-2" (click)="downloadFile()">
        <mat-icon>file_download</mat-icon>
        <span class="ps-2">Download template</span>
      </button>
    </mat-toolbar>
  </div>

  <mat-card class="pt-4 pb-2">
    <mat-card class="mb-2">
      <mat-card-content class="mat-card-container">

        <input type="file" class="file-input"
          [accept]="requiredFileType"
          (change)="onFileSelected($event)" #fileUpload>

        <div class="file-upload d-flex align-items-center">
          <span>{{ fileName || "No file uploaded yet." }}</span>

          <button mat-mini-fab color="primary" class="upload-btn ms-2"
            (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>

        </div>

        <div>

          @if (uploadProgress) {
            <mat-progress-bar class="progress-bar" mode="determinate"
              [value]="uploadProgress">
            </mat-progress-bar>
          }

          @if (uploadProgress) {
            <mat-icon class="cancel-upload" (click)="cancelUpload()"
              >delete_forever
            </mat-icon>
          }

        </div>

        <div style="padding-top: 20px;">
          <span>Max upload file size: 2 MB</span>
        </div>

      </mat-card-content>
    </mat-card>
  </mat-card>

</div>
