<div class="close pr-2">
  <button mat-icon-button mat-small-icon-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="header">
  <span>Search Options</span>
</div>
<div class="content">
  <mat-checkbox [(ngModel)]="options.excludeDataTypeSupplementaryComponents">
    Exclude Data Type Supplementary Components
  </mat-checkbox>
</div>
<div class="actions ml-auto">
  <button mat-button class="btn btn-outline-primary" color="primary"
          (click)="onClick()"
          [mat-dialog-close]="true">
    Apply
  </button>
  <button mat-button class="btn" color="warn" (click)="onNoClick()">
    Cancel
  </button>
</div>
