<div class="context-section">
  <div *ngIf="isUpdating" class="loading-container">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  <div class="pl-2 pr-2">
    <mat-toolbar class="bg-white">
      <score-title-with-library-selector [title]="title"
                                         [libraries]="mappedLibraries"
                                         (libraryChange)="onLibraryChange($event)"/>
      <span class="flex-11-auto"></span>
    </mat-toolbar>
  </div>

  <div class="p-3">
    <mat-card>
      <mat-card-content class="mat-card-container">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="moduleSetRelease.moduleSetReleaseName" maxlength="100">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea [(ngModel)]="moduleSetRelease.moduleSetReleaseDescription" cols="30" data-id="moduleSetRelease.description" matInput
                    rows="6"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Module Set</mat-label>
          <mat-select [(ngModel)]="moduleSetRelease.moduleSetId">
            <mat-option>
              <ngx-mat-select-search [formControl]="moduleSetListFilterCtrl"
                                     [noEntriesFoundLabel]="'No matching module set found.'"
                                     [placeholderLabel]="'Search...'"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let moduleSet of filteredModuleSetList | async" [value]="moduleSet.moduleSetId">
              {{ moduleSet.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Release</mat-label>
          <mat-select [(ngModel)]="moduleSetRelease.releaseId">
            <mat-option>
              <ngx-mat-select-search [formControl]="releaseListFilterCtrl"
                                     [noEntriesFoundLabel]="'No matching release found.'"
                                     [placeholderLabel]="'Search...'"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let release of filteredReleaseList | async" [value]="release.releaseId">
              <div class="d-flex">
                <span class="release-num">{{release.releaseNum}}</span>
                <span *ngIf="!release.workingRelease"
                      class="f12 ml-auto {{release.state}}">
                        {{ release.state | separate }}
                      </span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="d-flex flex-column pb-2">
          <mat-checkbox [(ngModel)]="moduleSetRelease.default">Default</mat-checkbox>

          <mat-checkbox [(ngModel)]="copyFromOther">Copy CC assignment from Module Set Release</mat-checkbox>
        </div>

        <mat-form-field>
          <mat-label>Module Set Release</mat-label>
          <mat-select [(ngModel)]="copyTargetModuleSetRelease" [disabled]="!copyFromOther">
            <mat-option>
              <ngx-mat-select-search [formControl]="moduleSetReleaseListFilterCtrl"
                                     [noEntriesFoundLabel]="'No matching module set release found.'"
                                     [placeholderLabel]="'Search...'"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let moduleSetRelease of filteredModuleSetReleaseList | async" [value]="moduleSetRelease">
              <div class="d-flex">
                <span class="release-num">{{moduleSetRelease.moduleSetReleaseName}}</span>
                &nbsp;<span class="release-num">{{moduleSetRelease.releaseNum}}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="row action-group m-0">
    <div class="col-12 actions-wrap">
      <button (click)="createModuleSetRelease()" [disabled]="!canCreate" color="primary"
              mat-raised-button>
        Create
      </button>
    </div>
  </div>
</div>
