.filter-container {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.option-header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.option-body {
  padding-top: 13px;
}

.cc-types-checkbox {
  padding-right: 10px;
}

.cc-types-button {
  padding-right: 5px;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.mat-mdc-card-content p {
  font-family: 'Roboto', 'sans-serif';
}

.module .mat-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-right: 6px;
}

mat-toolbar > .mat-icon-button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  outline: none;
}

.mat-icon-button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  outline: none;
}

.mat-column-owner {
  font-size: 13px;
}

.den {
  font-size: 13px;
}

.mat-column-module {
  font-size: 13px;
}

.mat-column-more {
  width: 40px;
}

.element-detail {
  font-size: 12px;
}

.element-detail-wrapper {
  width: 100%;
  border: 0;
  padding-right: 24px;
}

.element-detail-header {
  background-color: #f5f5f5;
  margin-bottom: 12px;
  padding: 0 16px;
}

.element-detail-subtitle {
  margin: 8px 0 8px;
  font-size: 12px;
  min-height: 20px;
}

.element-detail-content {
  color: #545454;
  margin-bottom: 0;
  font-size: 12px;
  min-height: 20px;
}

.f12 {
  font-size: 12px;
}

mat-toolbar .mat-icon {
  /*font-size: 27px;*/
  /*width: 27px;*/
  /*height: 27px;*/
  /*line-height: 27px;*/
}

.tag-list {
  display: inline-block;
}

.tag {
  font-size: 12px;
  border-radius: 8px;
  padding: 0 8px;
  display: inline-block;
}

.new-component {
  border: 2px dotted rgb(220, 20, 60);
  font-size: 11px;
  border-radius: 8px;
  padding: 0 8px;
  display: inline-block;
}

.browser-mode-toggle-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 172px;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: var(--mdc-protected-button-container-elevation-shadow);
}
