<div class="context-section">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ "CORE_COMPONENT_LIST.TITLE" | translate}}</mat-card-title>
    </mat-card-header>

    <mat-card class="search-box">
      <mat-card-content class="mat-card-container">
        <div class="container-fluid" style="padding: 0;">
          <div class="row">

            <div class="col-md-2 col-sm-12">
              <mat-form-field>
                <mat-label>Release</mat-label>
                <mat-select [(ngModel)]="request.releaseId" required>
                  <mat-option *ngFor="let release of releases" [value]="release.releaseId">
                    {{release.releaseNum}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-2 col-sm-12">
              <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select [(ngModel)]="request.types" multiple>
                  <mat-option *ngFor="let type of typeList" [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-2 col-sm-12">
              <mat-form-field>
                <mat-label>State</mat-label>
                <mat-select [(ngModel)]="request.states" multiple>
                  <mat-option *ngFor="let state of stateList" [value]="state">
                    {{state}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-12">
              <mat-form-field>
                <mat-label>Deprecated</mat-label>
                <mat-select [(ngModel)]="request.deprecated">
                  <mat-option [value]="true">
                    True
                  </mat-option>
                  <mat-option [value]="false">
                    False
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="container-fluid" style="padding: 0;">
          <div class="row">

            <div class="col-md-2 col-sm-12">
              <mat-form-field>
                <mat-label>Owner</mat-label>
                <mat-select [(ngModel)]="request.ownerLoginIds" multiple>
                  <ngx-mat-select-search [formControl]="loginIdListFilterCtrl"
                                         [placeholderLabel]="'Search...'"
                                         [noEntriesFoundLabel]="'No matching owner found.'"></ngx-mat-select-search>
                  <mat-option *ngFor="let loginId of filteredLoginIdList | async" [value]="loginId">
                    {{loginId}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-2 col-sm-12">
              <mat-form-field>
                <mat-label>Updater</mat-label>
                <mat-select [(ngModel)]="request.updaterLoginIds" multiple>
                  <ngx-mat-select-search [formControl]="updaterIdListFilterCtrl"
                                         [placeholderLabel]="'Search...'"
                                         [noEntriesFoundLabel]="'No matching updater found.'"></ngx-mat-select-search>
                  <mat-option *ngFor="let loginId of filteredUpdaterIdList | async" [value]="loginId">
                  {{loginId}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-2 col-sm-12" style="display: flex;">
              <mat-form-field>
                <input matInput [matDatepicker]="dateStart" placeholder="Updated start date"
                       [max]="request.updatedDate.end" [value]="request.updatedDate.start"
                       (dateInput)="onDateEvent('startDate', $event)">
                <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
                <mat-datepicker #dateStart></mat-datepicker>
              </mat-form-field>
              <div class="mat-form-field-wrapper" style="width: 14px;">
                <div class="mat-form-field-flex">
                  <div class="mat-form-field-infix">
                    <mat-icon class="datepicker-cancel" (click)="reset('startDate')">cancel</mat-icon>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-2 col-sm-12" style="display: flex;">
              <mat-form-field>
                <input matInput [matDatepicker]="dateEnd" placeholder="Updated end date"
                       [min]="request.updatedDate.start" [value]="request.updatedDate.end"
                       (dateInput)="onDateEvent('endDate', $event)">
                <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
                <mat-datepicker #dateEnd></mat-datepicker>
              </mat-form-field>
              <div class="mat-form-field-wrapper" style="width: 14px;">
                <div class="mat-form-field-flex">
                  <div class="mat-form-field-infix">
                    <mat-icon class="datepicker-cancel" (click)="reset('endDate')">cancel</mat-icon>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="container-fluid" style="padding: 0;">
          <div class="row">
            <div class="col-md-2 col-sm-12">
              <mat-form-field>
                <input matInput [(ngModel)]="request.filters.den" (keyup.enter)="onChange()" placeholder="{{'CORE_COMPONENT_LIST.DEN' | translate}}">
              </mat-form-field>
            </div>

            <div class="col-md-2 col-sm-12">
              <mat-form-field>
                <input matInput [(ngModel)]="request.filters.definition" (keyup.enter)="onChange()"
                       placeholder="Definition">
              </mat-form-field>
            </div>

            <div class="col-md-3 col-sm-16">
              <mat-form-field>
                <input matInput [(ngModel)]="request.filters.module" (keyup.enter)="onChange()" placeholder="{{'CORE_COMPONENT_LIST.MODULE' | translate}}">
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" (click)="onChange()">
          <mat-icon>search</mat-icon>
          Search
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card-content class="mat-card-container">
      <div class="loading-container" *ngIf="loading">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>

      <div class="mat-elevation-z1">
        <table mat-table multiTemplateDataRows
               matSort [matSortActive]="sort.active" [matSortDirection]="sort.direction"
               [dataSource]="data">

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list [ngSwitch]="element.type">
                <mat-chip *ngSwitchDefault>{{ element.type }}</mat-chip>
              </mat-chip-list>
            </td>
          </ng-container>

          <ng-container matColumnDef="den">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DEN</th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="(element.state === 'Editing' && element.owner === currentUser) || element.state !== 'Editing'">
                <a routerLink="{{ getRouterLink(element) }}">
                  <div style="display: flex;">
                    <span class="den" style="margin-right: 10px;">{{ element.den }}</span>
                    <span class="cc-state {{ element.state }}">{{ element.state }}</span>
                    <span *ngIf="element.deprecated" class="cc-state Deprecated"
                          style="margin-left: 10px;">Deprecated</span>
                  </div>
                  <div class="core-component-guid">{{ element.guid }}</div>
                </a>
              </div>
              <div *ngIf="element.state == 'Editing' && element.owner !== currentUser"
                   matTooltip="This core component only can access by an owner.">
                <div style="display: flex;">
                  <span class="den" style="margin-right: 10px;">{{ element.den }}</span>
                  <span class="cc-state {{ element.state }}">{{ element.state }}</span>
                  <span *ngIf="element.deprecated" class="cc-state Deprecated"
                        style="margin-left: 10px;">Deprecated</span>
                </div>
                <div class="core-component-guid">{{ element.guid }}</div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="lastUpdateTimestamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated on</th>
            <td mat-cell *matCellDef="let element">
              <div>{{ element.lastUpdateTimestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
              <div style="font-size: 12px !important; color: #767676 !important;">by <b>{{ element.lastUpdateUser }}</b>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="element-detail">
                <mat-card style="width: 100%; box-shadow: none;">
                  <mat-card-content style="color: #545454;">
                    <div style="color: #545454; display: flex;">
                      <p>Revision <b>{{ element.revision }}</b> owned by <b>{{ element.owner }}</b></p>
                      <button mat-icon-button style="margin-left: 10px;"
                              matTooltip="Transfer ownership"
                              *ngIf="element.type === 'ACC' &&
                                     element.oagisComponentType === 'UserExtensionGroup' &&
                                     element.owner === currentUser &&
                                     element.state === 'Editing'"
                              (click)="openTransferDialog(element.id, $event)">
                        <mat-icon>swap_horiz</mat-icon>
                      </button>
                    </div>

                    <div *ngIf="element.module !== null">
                      <div class="module" style="display: flex;">
                        <mat-icon>folder</mat-icon>
                        <p [innerHTML]="element.module" style="margin-bottom: 0px;"></p>
                      </div>
                    </div>

                    <div *ngIf="element.definition !== null" style="border: 0;">
                      <mat-card style="margin-top: 1rem;">
                        <mat-card-header *ngIf="element.definitionSource !== null"
                                         style="background-color: #f5f5f5; margin-bottom: 12px;">
                          <mat-card-subtitle
                            style="margin: 8px 0 8px;">{{ element.definitionSource }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p [innerHTML]="element.definition" style="color: #545454; margin-bottom: 0px;"
                             *ngIf="element.definition !== null"></p>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"
              class="element-row"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[10, 25, 50]"
          (page)="onPageChange($event)"
          showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
