@use '@angular/material' as mat;
@import "mat-icon-button-sizes/style.css";
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$score-web-primary: mat.define-palette(mat.$blue-grey-palette);
$score-web-accent: mat.define-palette(mat.$amber-palette);

// The warn palette is optional (defaults to red).
$score-web-warn: mat.define-palette(mat.$deep-orange-palette);

$score-default-typography-level: mat.define-typography-level(
  $font-family: 'Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif',
  $font-weight: 400,
  $font-size: 14px,
  $line-height: 20px,
  $letter-spacing: normal
);

$score-typography: mat.define-typography-config(
  $headline-1: $score-default-typography-level,
  $headline-2: $score-default-typography-level,
  $headline-3: $score-default-typography-level,
  $headline-4: $score-default-typography-level,
  $headline-5: $score-default-typography-level,
  $subtitle-1: $score-default-typography-level,
  $subtitle-2: $score-default-typography-level,
  $body-1: $score-default-typography-level,
  $body-2: $score-default-typography-level,
  $caption: $score-default-typography-level,
  $button: $score-default-typography-level,
);

// Create the theme object (a Sass map containing all of the palettes).
$score-web-theme: mat.define-light-theme((
  color: (
    primary: $score-web-primary,
    accent: $score-web-accent,
    warn: $score-web-warn,
  ),
  typography: $score-typography,
  density: -1,
 ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($score-web-theme);
@include mat.all-component-themes($score-web-theme);
