body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
  word-wrap: break-word;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600 !important
}

.h1 {
  font-size: 26px !important
}

@media (min-width: 768px) {
  .h1 {
    font-size: 32px !important
  }
}

.h2 {
  font-size: 22px !important
}

@media (min-width: 768px) {
  .h2 {
    font-size: 24px !important
  }
}

.h3 {
  font-size: 18px !important
}

@media (min-width: 768px) {
  .h3 {
    font-size: 20px !important
  }
}

.h4 {
  font-size: 16px !important
}

@media (min-width: 768px) {
  .h4 {
    font-size: 16px !important
  }
}

.h5 {
  font-size: 14px !important
}

.h6 {
  font-size: 12px !important
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0
}

h1 {
  font-size: 32px;
  font-weight: 600
}

h2 {
  font-size: 24px;
  font-weight: 600
}

h3 {
  font-size: 20px;
  font-weight: 600
}

h4 {
  font-size: 16px;
  font-weight: 600
}

h5 {
  font-size: 14px;
  font-weight: 600
}

h6 {
  font-size: 12px;
  font-weight: 600
}

b {
  color: #000;
}

.word-break-all {
  word-break: break-all;
}

.text-align-center {
  text-align: center;
}

.mat-mdc-table {
  width: 100%;
}

.mat-mdc-table .mat-column-select {
  width: 66px !important;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.f12 {
  font-size: 12px !important;
}

.f14 {
  font-size: 14px !important;
}

.description {
  font-size: 12px !important;
  color: #767676 !important;
}

.dropdown-item:active {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.subhead {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.subhead-heading {
  font-weight: normal;
}

.subsubhead {
  padding-top: 5px;
  padding-bottom: 5px;
}

.subsubhead-heading {
  font-weight: normal;
}

div.context-section {
  padding: 0;
}

div.context-section > .mat-mdc-card {
  box-shadow: none;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-select {
  overflow: initial;
}

table a {
  color: rgba(0, 0, 0, .87);
  text-decoration: none;
}

table a:hover {
  text-decoration: none;
  cursor: pointer;
}

mat-checkbox > .mat-checkbox-layout {
  vertical-align: super;
}

.mat-tooltip {
  font-size: 13px;
}

.mat-input-element:disabled {
  color: rgba(0, 0, 0, 0.54);
}

.mat-mdc-chip-action-label {
  font-size: 11px !important;
}

mat-multi-sort-table-settings .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: #ffffff !important;
  margin-right: 8px;
}

mat-multi-sort-table-settings mat-chip {
  min-height: 32px;
}

mat-multi-sort-table-settings .table-settings-menu {
  margin: 8px 0 !important;
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #fff;
  --mat-mdc-snack-bar-button-color: #333;
  --mdc-snackbar-supporting-text-color: #333;
}

.mat-icon.fa {
  height: 13px;
  width: 13px;
  color: rgba(0, 0, 0, .87);
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}

fa-icon {
  color: #495057;
}

.mat-mdc-card-title {
  flex: 1 1 auto;
  font-size: 18px !important;
  font-weight: 400;
  border-bottom: 1px solid #e1e4e8;
  display: flex !important;
  flex-flow: row wrap;
  margin-bottom: 16px !important;
  padding-bottom: 8px;
}

.search-box-container {
  position: sticky !important;
  background-color: white;
  top: 0;
  z-index: 1;
  height: 81px;
}

.search-box {
  margin-bottom: 1rem;
}

.search-box .mat-mdc-card-header-text {
  margin: 0 8px;
}

.search-box .mat-card-container {
  margin: 0 8px;
}

.search-box .mat-mdc-card-actions {
  margin: 0 8px;
  padding: 8px 0 !important;
}

div.mat-form-field-wrapper div.mat-form-field-infix mat-icon.datepicker-cancel {
  width: 14px;
  height: 14px;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}

span.cc-type, span.cc-state, span.bie-state {
  font-size: 13px;
  padding: .30em 4px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 2px;
}

.mat-tooltip {
  white-space: pre-line;
}

span.Initiating {
  background-color: #bfdadc;
  color: #000000;
}

span.cc-state.WIP, span.bie-state.WIP, span.cl-state.WIP {
  background-color: #d32f2f;
  color: #ffffff;
}

span.cc-state.QA, span.bie-state.QA, span.cl-state.QA {
  background-color: #B961E1;
  color: #ffffff;
}

span.cc-state.Draft, span.bie-state.Draft, span.cl-state.Draft {
  background-color: #B961E1;
  color: #ffffff;
}

span.cc-state.Candidate, span.bie-state.Candidate, span.cl-state.Candidate {
  background-color: #303f9f;
  color: #ffffff;
}

span.cc-state.Production, span.bie-state.Production, span.cl-state.Production {
  background-color: #303f9f;
  color: #ffffff;
}

span.cc-state.ReleaseDraft, span.bie-state.ReleaseDraft, span.cl-state.ReleaseDraft {
  background-color: #C55A11;
  color: #ffffff;
}

span.cc-state.Published, span.bie-state.Published, span.cl-state.Published {
  background-color: #388e3c;
  color: #ffffff;
}

span.cc-state.Deleted, span.bie-state.Deleted, span.cl-state.Deleted {
  background-color: #616161;
  color: #ffffff;
}

span.cc-state.Deprecated, span.bie-state.Deprecated, span.cl-state.Deprecated {
  background-color: #455a64;
  color: #ffffff;
}

span.release-state.Initiating {
  background-color: #bfdadc;
  color: #000000;
}

span.release-state.Draft {
  background-color: #7b1fa2;
  color: #ffffff;
}

span.release-state.Published {
  background-color: #388e3c;
  color: #ffffff;
}

.fab-container {
  position: fixed;
  bottom: 16px;
  right: 48px;
  z-index: 20;
  display: flex;
  align-items: center;
}

.mat-mdc-card-actions.fab-container, .mat-dialog-actions.fab-container {
  padding: 8px 0 18px 0px;
}

.fab-container button.mat-mini-fab:not(:last-child) {
  margin-right: 10px;
}

mat-checkbox.hide-unused > .mat-checkbox-layout {
  margin-bottom: 0 !important;
}

.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
  font-size: 12px;
}

.pointer {
  cursor: pointer;
}

/*******************************
         Activity Feed
*******************************/

.ui.feed {
  width: 510px;
  margin: 1em 0em;
}

.ui.feed:first-child {
  margin-top: 0em;
}

.ui.feed:last-child {
  margin-bottom: 0em;
}

/*******************************
            Content
*******************************/

/* Event */
.ui.feed > .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0.21428571rem 0.5em;
  margin: 0em;
  background: none;
  border-top: none;
  padding-bottom: 10px;
}

.ui.feed > .event:first-child {
  border-top: 0px;
  padding-top: 0em;
}

.ui.feed > .event:last-child {
  padding-bottom: 0em;
}

/* Event Label */

.ui.feed > .event > .label {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 2.5em;
  height: auto;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  text-align: left;
}

.ui.feed > .event > .label .icon {
  opacity: 1;
  font-size: 1.5em;
  width: 100%;
  padding: 0.25em;
  background: none;
  border: none;
  border-radius: none;
  color: rgba(0, 0, 0, 0.6);
}

.ui.feed > .event > .label img {
  width: 100%;
  height: auto;
  border-radius: 500rem;
}

.ui.feed > .event > .label + .content {
  margin: 0.5em 0em 0.35714286em 1.14285714em;
}

/*--------------
     Content
---------------*/

/* Content */

.ui.feed > .event > .content {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  text-align: left;
  word-wrap: break-word;
}

.ui.feed > .event:last-child > .content {
  padding-bottom: 0em;
}

/* Link */

.ui.feed > .event > .content a {
  cursor: pointer;
  font-size: 1em;
}

/*--------------
      Date
---------------*/

.ui.feed > .event > .content .date {
  margin: -0.5rem 0em 0em;
  padding: 0em;
  font-weight: normal;
  font-size: 1em;
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
}

/*--------------
     Summary
---------------*/

.ui.feed > .event > .content .summary {
  margin: 0em;
  font-size: 1em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
  display: inline-flex;
}

/* Summary Image */

.ui.feed > .event > .content .summary img {
  display: inline-block;
  width: auto;
  height: 10em;
  margin: -0.25em 0.25em 0em 0em;
  border-radius: 0.25em;
  vertical-align: middle;
}

/*--------------
      User
---------------*/

.ui.feed > .event > .content .user {
  display: inline-block;
  font-weight: bold;
  margin-right: 0em;
  vertical-align: baseline;
}

.ui.feed > .event > .content .user img {
  margin: -0.25em 0.25em 0em 0em;
  width: auto;
  height: 10em;
  vertical-align: middle;
}

/*--------------
   Inline Date
---------------*/

/* Date inside Summary */

.ui.feed > .event > .content .summary > .date {
  display: inline-block;
  float: none;
  font-weight: normal;
  font-size: 1em;
  font-style: normal;
  margin: 0em 0em 0em 0.5em;
  padding: 0em;
  color: rgba(0, 0, 0, 0.4);
}

/*--------------
  Extra Summary
---------------*/

.ui.feed > .event > .content .extra {
  margin: 0.3em 0em 0em;
  background: none;
  padding: 0em;
  color: rgba(0, 0, 0, 0.87);
}

/* Images */

.ui.feed > .event > .content .extra.images img {
  display: inline-block;
  margin: 0em 0.25em 0em 0em;
  width: 6em;
}

/* Text */

.ui.feed > .event > .content .extra.text {
  padding: 0em;
  border-left: none;
  font-size: 1em;
  max-width: 500px;
  line-height: 1.4285em;
}

/*--------------
      Meta
---------------*/

.ui.feed > .event > .content .meta {
  display: inline-block;
  font-size: 1em;
  margin: 0.5em 0em 0em;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0em;
  color: rgba(0, 0, 0, 0.6);
}

.ui.feed > .event > .content .meta > * {
  position: relative;
  margin-left: 0.75em;
}

.ui.feed > .event > .content .meta > *:after {
  content: '';
  color: rgba(0, 0, 0, 0.2);
  top: 0em;
  left: -1em;
  opacity: 1;
  position: absolute;
  vertical-align: top;
}

.ui.feed > .event > .content .meta .like {
  color: '';
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.ui.feed > .event > .content .meta .like:hover .icon {
  color: #FF2733;
}

.ui.feed > .event > .content .meta .active.like .icon {
  color: #EF404A;
}

/* First element */

.ui.feed > .event > .content .meta > :first-child {
  margin-left: 0em;
}

.ui.feed > .event > .content .meta > :first-child::after {
  display: none;
}

/* Action */

.ui.feed > .event > .content .meta a,
.ui.feed > .event > .content .meta > .icon {
  cursor: pointer;
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

.ui.feed > .event > .content .meta a:hover,
.ui.feed > .event > .content .meta a:hover .icon,
.ui.feed > .event > .content .meta > .icon:hover {
  color: rgba(0, 0, 0, 0.95);
}

.ui.feed a {
  color: #4183c4;
  text-decoration: none;
}

.pd-15 {
  padding: 15px;
}

.side-toggle {
  min-width: 40px !important;
  padding: 0 !important;
}

.ui.feed > .event > .show {
  display: block;
}

.ui.feed > .event > .hide {
  display: none;
}

.summary > .icon {
  visibility: hidden;
  vertical-align: text-bottom;
  margin-left: 10px;
}

.summary:hover > .icon {
  visibility: visible;
  vertical-align: text-bottom;
  margin-left: 10px;
}

.extra > div > .icon {
  visibility: hidden;
  vertical-align: text-bottom;
  margin-left: 10px;
}

.extra:hover > div > .icon {
  visibility: visible;
  vertical-align: text-bottom;
  margin-left: 10px;
}

.new-message {
  background-color: cornsilk !important;
}

.search-highlight {
  background-color: orange;
}

.tree-node-selected {
  background-color: aliceblue;
}

.tree-node-selected:focus, .tree-node-selected:active {
  background-color: aliceblue;
  outline: none;
  border: none;
  -moz-outline-style: none;
}

*:focus {
  outline: none;
}

.inside mark {
  padding: 0 !important;
}

.outside mark {
  padding: 0 !important;
  background-color: transparent;
  color: inherit;
}

.search-index mark {
  background-color: orange !important;
}

.mat-tree .Deleted {
  text-decoration: line-through;
  text-decoration-color: black;
}

.overflow-scroll {
  overflow: scroll;
}

.width-max {
  width: max-content;
  min-width: 100%;
}

.center-dialog {
  position: fixed !important;
  top: 8%;
  left: 3%;
  right: 3%;
  bottom: 8%;
  max-width: 100% !important;
}

score-confirm-dialog > div {
  min-width: 500px !important;
  padding: 8px 16px;
}

.mat-mdc-card-actions button {
  outline: none;
}

td.mat-mdc-cell {
  padding-right: 8px !important;
}

td.mat-mdc-cell:last-child {
  padding-right: 0 !important;
}

th.mat-mdc-header-cell, td.mat-mdc-cell {
  text-overflow: inherit !important;
}

.tree-breadcrumbs-wrap {
  padding: 6px 15px;
  width: 100%;
  display: -webkit-box;
  overflow-x: auto;
  min-height: 35px;
  background-color: whitesmoke;
}

.tree-breadcrumb {
  display: inline;
  line-height: 24px;
  font-size: 12px;
}

.tree-breadcrumb-item {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.tree-breadcrumb-item:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.8);
}

.tree-breadcrumb-item-last {
  font-weight: 600;
  color: #607d8b;
  padding-right: 20px;
}

.tree-breadcrumb-separator {
  padding: 0 3px;
}

.inner-box {
  box-shadow: inset 12px 0 12px -12px #00000070;
}

.action-group {
  padding: 6px 0;
}

.action-group button {
  margin-right: 6px;
}

.title-wrap, .actions-wrap {
  display: flex;
  align-items: center;
  min-height: 36px;
}

.title-wrap span {
  align-self: center;
}

.title {
  font-size: 16px !important;
  font-weight: 400;
  font-family: Roboto, Helvetica, Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Apple Color Emoji";
}

.subtitle {
  color: rgba(0, 0, 0, 0.54);
}

.ml-auto {
  margin-left: auto;
}

.actions {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actions button:first-child {
  margin-left: 0;
}

.actions button {
  height: 36px;
  margin: 0 6px;
}

.actions button:focus {
  outline: none;
}

.actions button span {
  font-size: 13px;
}

.ngx-contextmenu a {
  text-decoration: none;
  font-size: 13px;
}

.ngx-contextmenu .dropdown-menu {
  padding: 0.25rem 0.8rem;
}

.hasSubMenu::before {
  padding-top: 1px;
}

.mat-mdc-menu-item-text {
  font-size: 13px !important;
}

span.context-menu-item {
  display: block;
  font-size: 13px;
  outline: 0;
  font-weight: 400;
  border: solid 1px transparent;
  cursor: pointer;
}

span.context-menu-item.disabled, span.context-menu-item[disabled] {
  color: rgba(0, 0, 0, 0.38);
  cursor: default;
}

.text-line-through {
  text-decoration: line-through !important;
}

.mat-toolbar-row {
  height: 64px !important;
}

.mat-mdc-button > .mat-icon, .mat-mdc-button-base > .mat-icon {
  width: 24px !important;
  height: 24px !important;
  font-size: 24px !important;
  margin-right: 0 !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
  box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
}

.flex-11-auto {
  flex: 1 1 auto;
}

.mat-snack-bar-container {
  color: #333;
  background-color: #fff;
  border-color: #333;
  border: 1px solid;
}

/* Angular 17 fixes */
.mdc-button {
  letter-spacing: normal !important;
  padding: 0 16px !important;
}

.mat-mdc-tab-header {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.mat-mdc-tab {
  height: 48px !important;
  letter-spacing: normal !important;
  color: #000000de !important;
  padding: 0 !important;
}

.mat-toolbar {
  letter-spacing: normal !important;
}

.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs > .mat-mdc-tab-header .mat-mdc-tab {
  flex-grow: 0 !important;
  padding: 0 24px !important;
}

.mdc-tab__text-label {
  opacity: 0.6;
  color: #000000de !important;
  justify-content: center;
}

.mat-mdc-header-cell {
  color: #0000008a;
  font-size: 12px;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 !important;
}

th.mat-mdc-header-cell:first-of-type, td.mat-mdc-cell:first-of-type, td.mat-mdc-footer-cell:first-of-type {
  padding-left: 16px !important;
}

.mat-mdc-form-field-infix {
  padding-bottom: 0 !important;
  padding-top: 14px !important;
  min-height: 40px !important;
  width: auto !important;
}

.mat-mdc-form-field-infix label {
  padding-bottom: 8px;
}

.mat-mdc-form-field {
  width: 100% !important;
  font-size: 14px !important;
  background-color: white !important;
}

.mat-mdc-form-field .mat-mdc-text-field-wrapper {
  background-color: white !important;
  padding: 0;
}

.mat-mdc-form-field .mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay {
  background-color: white !important;
  opacity: initial;
}

.mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-focus-overlay {
  background-color: white;
}

.mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-floating-label {
  font-size: 14px;
  margin-bottom: 0 !important;
}

.tree-search-box .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-floating-label {
  font-size: 12px;
}

.mat-mdc-form-field-hint {
  font-size: 12px;
}

.mat-mdc-form-field .mat-datepicker-toggle .mdc-icon-button {
  padding: 0;
  margin-top: 10px;
  width: 21px !important;
  height: 21px;
}

.mat-mdc-form-field .mat-datepicker-toggle .mat-datepicker-toggle-default-icon {
  width: 15px;
  height: 15px;
}

.mat-mdc-paginator {
  font-size: 12px !important;
  border-top: 1px solid #e0e0e0;
}

mat-paginator .mat-mdc-select, mat-paginator .mat-mdc-select-value-text {
  font-size: 12px !important;
}

.mat-mdc-paginator-page-size {
  align-items: initial !important;
  color: #0000008a !important;
}

.mat-mdc-paginator-page-size .mat-mdc-paginator-page-size-select {
  width: 60px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-mdc-paginator-page-size .mat-mdc-paginator-page-size-label {
  display: flex;
  align-items: center;
}

.mat-mdc-paginator-page-size .mat-mdc-text-field-wrapper {
  flex: initial !important;
}

.mat-mdc-paginator-page-size .mat-mdc-text-field-wrapper .mdc-notched-outline__leading {
  border: 0;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 0 !important;
}

.mat-mdc-paginator-page-size .mat-mdc-text-field-wrapper .mdc-notched-outline__trailing {
  border: 0;
  border-bottom: 1px solid black;
  border-bottom-right-radius: 0 !important;
}

.mat-mdc-paginator-page-size .mat-mdc-form-field-infix {
  padding-top: 0 !important;
  min-height: auto !important;
}

.mat-mdc-paginator-range-label {
  color: #0000008a !important;
}

.mat-mdc-checkbox .mdc-label, .mat-mdc-radio-button .mdc-label {
  margin-bottom: 0 !important;
  cursor: pointer;
}

.mat-mdc-checkbox .mdc-checkbox__checkmark, .mat-mdc-radio-button .mdc-checkbox__checkmark {
  color: white !important;
}

.bie-checkbox .mdc-checkbox__checkmark {
  pointer-events: auto;
}

.mat-mdc-card {
  padding: 16px;
}

.mat-mdc-card .mat-mdc-card-content {
  padding: 0 !important;
}

.mat-mdc-form-field + div.mat-form-field-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

div.mat-form-field-wrapper div.mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
}

div.mat-form-field-wrapper div.mat-form-field-flex div.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
}

.tree-search-box {
  margin-bottom: 7px;
}

.tree-search-box .mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

.tree-search-box .mat-mdc-icon-button:hover {
  --mat-icon-button-hover-state-layer-opacity: 0;
}

.cdk-virtual-scroll-content-wrapper .mdc-icon-button {
  padding: 0;
  width: 24px;
  height: 24px;
}

.mdc-list-item__primary-text {
  flex-grow: 1;
}

.mdc-list-item__primary-text + .mat-mdc-option-pseudo-checkbox {
  display: none !important;
}

.mat-mdc-option {
  word-break: break-all;
}

.mat-drawer-content {
  background-color: #ffffff;
}

.notiTooltip .mdc-tooltip__surface {
  max-width: unset !important;
}

.mdc-text-field--filled.mdc-text-field--disabled .mdc-floating-label, .mdc-text-field--filled.mdc-text-field--disabled .mdc-floating-label--float-above {
  color: inherit !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
  color: inherit !important;
}

.mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input {
  color: inherit !important;
}

.mat-mdc-checkbox.mat-mdc-checkbox-disabled label {
  color: inherit !important;
}

.mat-mdc-select-disabled {
  color: inherit !important;
}
