<section class="container-fluid">
  <div class="row">
    <div class="col-4" style="margin: 50px auto;">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Account Pending</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>For security purposes, your account is pending review by the administrator before being activated. You may need to request a review to the administrator to get approval.</p>
          <p>To sign in to another account, please click <a href="/api/oauth2/logout" class="pointer btn-link">here</a>.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
