span.cl-state {
  font-size: 13px;
  padding: .30em 4px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 2px;
}

span.release-state {
  font-size: 12px;
  padding: .15em 4px;
  float: right;
  line-height: 20px;
  margin-top: 9px;
}

span.right {
  float: right;
}

span.Editing {
  background-color: #cccccc;
  color: #000000;
}

span.Candidate {
  background-color: #cc317c;
  color: #ffffff;
}

span.Published {
  background-color: #84b6eb;
  color: #000000;
}

span.Deprecated {
  background-color: #fc2929;
  color: #000000;
}

.mat-column-owner {
  font-size: 13px;
}

.mat-column-module {
  font-size: 13px;
}
