span.cl-state {
  font-size: 12px;
  padding: .15em 4px;
}

span.release-state {
  font-size: 12px;
  padding: .15em 4px;
  float: right;
  line-height: 20px;
  margin-top: 9px;
}

span.right {
  float: right;
}

span.Editing {
  background-color: #cccccc;
  color: #000000;
}

span.Candidate {
  background-color: #cc317c;
  color: #ffffff;
}

span.Published {
  background-color: #84b6eb;
  color: #000000;
}

span.Deprecated {
  background-color: #fc2929;
  color: #000000;
}

.mat-column-basedCodeListName, .mat-column-agencyId, .mat-column-versionId {
  width: 10%;
}

.mat-column-lastUpdateTimestamp {
  width: 160px;
}
